// /**'
// * Copyright © Magento, Inc. All rights reserved.
// * See COPYING.txt for license details.
// */

//
//  _buttons contains {less} for generic buttons
//  _____________________________________________

button {
    &.pagebuilder-button-primary {
        .lib-button-primary();
        border-radius: 0;
        box-shadow: none;
    }

    &.pagebuilder-button-secondary {
        .lib-button();
        border-radius: 0;
        box-shadow: none;
    }
}
