// /**
// * Copyright © Magento, Inc. All rights reserved.
// * See COPYING.txt for license details.
// */

.pagebuilder-button-item {
    &.pagebuilder-button-item-primary {
        .lib-link-as-button();
        .lib-button-primary();

    }

    &.pagebuilder-button-item-secondary {
        .lib-link-as-button();
        .lib-button();
    }

    &.pagebuilder-options {
        right: 0;
        left: 0;
        top: 0;
        transform: translateY(-75%) translateX(0%);
        min-width: 325px;
        li.pagebuilder-options-link {
            margin: 0;
        }
    }
}