// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

div[data-role='video'] {
    display: flex;

    .pagebuilder-video-wrapper,
    .pagebuilder-video-container {
        display: flex;
        flex-grow: 1;
    }
    .pagebuilder-video-container {
        padding-top: 56.25%;
        position: relative;
    }
    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
