<div class="admin__control-child-entity" data-bind="id: uid">
    <div class="bluefoot-child-entities" data-bind="foreach: value, sortable: { sortableClass: 'bluefoot-sortable', handle: '.move-structural', items: '.bluefoot-structure-wrapper' }">
        <div class="bluefoot-structure-wrapper" data-bind="template: getTemplate(), attr: {id: id}, css: widthClasses"></div>
    </div>
    <button type="button" data-bind="click: addEntity, text: 'Add New ' + getChildBlockTypeConfig().name">Add New Entity</button>
</div>
