<div data-bind="dropzone: {url: uploadUrl(), success: attachmentSuccess(), error: attachmentError}" class="bluefoot-upload-field">
    <!-- ko if: value -->
    <img data-bind="attr: { src: value }" class="bluefoot-image-preview" />
    <!-- /ko -->
</div>

<button data-bind="click: openGallery, text: $t('Open Media Gallery')"></button>

<button data-bind="click: removeImage, visible: value, text: $t('Remove Image')"></button>

<input type="text"
       ko-value="value"
       attr="id: uid, name: inputName"
        data-bind="visible: false" />
</div>