.bluefoot-options {
  background: white;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 20;

  ul.bluefoot-options-links {
    list-style: none;
    display: inline-block;
    padding: 0 8px;
    margin: 0;

    li.bluefoot-options-link {
      display: inline-block;
      vertical-align: top;

      >a, >div {
        display: block;
        padding: 10px 8px;

        &.block-title {
          font-size: 14px;
          line-height: 18px;
          color: @color-very-dark-grayish-orange;
          cursor: default;
          text-decoration: none;
        }

        i {
          font-size: 18px;
          color: @color-very-dark-grayish-orange;
        }
        &:hover {
          i {
            color: @color-very-dark-gray-black;
          }
        }
      }
    }
  }
}

.bluefoot-live-edit {
  .bluefoot-options {
    right: 10px;
    left: auto;
    transform: translate(0, 0);
  }
}

.bluefoot-structure {
  &:hover {
    .bluefoot-options {
      display: inline-block;
    }
  }
}