.bluefoot-structure-wrapper {
  position: relative;
  box-sizing: content-box;

  .bluefoot-resize-ghost {
    position: absolute;
    top: 0;
    left: 4px;
    right: 0;
    bottom: 0;
    z-index: 20;
    border: @border-size dashed darken(@columnColor, 20%);
    margin: 4px 0 4px;
  }
  .bluefoot-resize-size {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 19;
    background: darken(@columnColor, 20%);
    opacity: 0.25;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 25px;
    font-weight: 300;
  }

  &.bluefoot-resizing {
    .bluefoot-options {
      display: none;
    }
  }

  &-width-whole { width: 100%; }
  &-width-half { width: 50%; }
  &-width-third { width: 33.3%; }
  &-width-quarter { width: 25%; }
  &-width-sixth { width: 16.666666667%; }
  &-width-two-thirds { width: 66.6%; }
  &-width-three-quarters { width: 75%; }
  &-width-five-sixths { width: 83.333333335%; }

}
.bluefoot-structure {
  border: 1px solid #cccccc;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  margin-bottom: 20px;

  .element-children {
    min-height: 80px;
    font-size: 0;

    .ui-draggable {
      display: none!important;
    }
  }

  &:hover {
    box-sizing: border-box;
    z-index: 15;

    &.bluefoot-column {
      >.bluefoot-column-add {
        display: block;
      }
    }

    &.bluefoot-entity {
      > *:not(.bluefoot-options):not(.bluefoot-no-blur *):not(.redactor-toolbar):not(img) {
        -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
        filter: blur(5px);
      }
    }

    >.bluefoot-options {
      ul.bluefoot-options-links {
        display: inline-block;
      }
    }
  }

  .redactor-toolbar {
    display: none;
  }

  &.redactor-active {
    >.bluefoot-live-edit-wrapper {
      display: block;
    }
    >.bluefoot-options {
      display: none;
    }
    >.redactor-toolbar {
      display: block;
    }
  }

  .bluefoot-id {
    position: absolute;
    bottom: -3px;
    right: -3px;
    color: white;
    font-size: 11px;
    padding: 2px 6px;
  }

  &.bluefoot-column {
    .bluefoot-column-resize-handle {
      width: 15px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -3px;
      cursor: col-resize;
    }

    .bluefoot-column-add {
      display: none;
      position: absolute;
      left: -27px;
      top: 50%;
      transform: translateY(-50%);
      padding: 4px 8px;
      background: @columnColor;
      color: #fff;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      font-size: 12px;

      &:hover {
        background: darken(@columnColor, 10%);
      }
    }
    .bluefoot-column-add-right {
      left: auto;
      right: -27px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  &.bluefoot-entity {
    margin: 4px 0 4px 4px;
    font-size: 0;

    &.bluefoot-abstract {
      background: @entityColor;
      border: @border-size solid transparent;
      color: white;
      text-align: center;

      padding: 20px 8px 20px 0;

      i {
        font-size: 24px;
      }
      h3 {
        margin: 6px 0 0 0;
        padding: 0;
      }
      * {
        color: white;
      }
    }

    &.bluefoot-entity-preview {
      font-size: 14px;
    }

    &.bluefoot-image {
      &.loading {
        img {
          opacity: 0.5;
        }
      }
      .dz-message, .dz-preview {
        display: none;
      }
      &.dz-drag-hover {
        img, .bluefoot-image-placeholder {
          opacity: 0.6;
          filter: blur(5px);
          -webkit-filter: blur(5px);
          -moz-filter: blur(5px);
        }
      }
      img {
        width: 100%;
      }
      .bluefoot-image-placeholder {
        cursor: pointer;
        background: #f8f8f8;
        border: 1px #e3e3e3 solid;
        text-align: center;
        font-size: 12px;
        padding: 20px 0 16px 0;

        i {
          font-size: 34px;
          margin-bottom: 8px;
        }
        p {
          padding: 0 20px;
        }
      }
    }

    .bluefoot-loading {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    display: inline-block;
    width: 100%;

    .bluefoot-id {
      background: @entityColor;
      bottom: 0;
      right: 0;
    }

    &.bluefoot-live-edit {
      -user-select: all;
      -webkit-user-select: all; /* Chrome/Safari */
      -webkit-user-select: text; /* Safari only */
      -moz-user-select: all; /* Firefox */
      -ms-user-select: all; /* IE10+ */
      border: none;
    }
  }
}


.bluefoot-structure-helper {
  background: @rowColor;
  border: none;
  color: white;
  width: 180px;
  text-align: center;
  padding: 16px 0;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.bluefoot-placeholder-sortable {
  height: 12px;
  background: @entityColor;
  width: 98%;
  margin: 10px 1%;
  display: inline-block;
  padding: 0;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  &.bluefoot-structure-wrapper {
    position: relative;
    box-sizing: content-box;
    &-width-whole { width: 100% - 2; }
    &-width-half { width: 50% - 2; }
    &-width-third { width: 33.3% - 2; }
    &-width-quarter { width: 25% - 2; }
    &-width-sixth { width: 16.666666667% - 2; }
    &-width-two-thirds { width: 66.6% - 2; }
    &-width-three-quarters { width: 75% - 2; }
    &-width-five-sixths { width: 83.333333335% - 2; }
  }

  &.bluefoot-placeholder-column {
    height: 90px;
    width: 12px;
    margin: 10px -6px;
    z-index: 500;
  }
}


.bluefoot-column-inline-add {
  list-style: none;
  margin: 0;
  width: 140px;
  background: @columnColor;
  color: white;
  .border-radius;
  position: absolute;
  top: 20%;
  left: -27px;
  z-index: 30;
  text-align: left;
  cursor: pointer;

  &.right {
    left: auto;
    right: -27px;
  }
  &.top {
    position: inherit;
    width: 80px;
  }

  li {
    display: block;
    width: 100%;

    a {
      width: 100%;
      font-size: 14px;
      display: block;
      padding: 6px 10px;
      text-decoration: none;
    }
  }
}