<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../vendor/magento/mtf/Magento/Mtf/ObjectManager/etc/config.xsd">
    <type name="Magento\Mtf\App\State\State1">
        <arguments>
            <argument name="arguments" xsi:type="array">
                <item name="disable-page-builder" xsi:type="string">Magento\PageBuilder\Mtf\App\State\PageBuilderHandler</item>
            </argument>
        </arguments>
    </type>
</config>
