/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

//
//  _banner contains {less} for Banner
//  _____________________________________________

[data-role="banner"] > a {
    color: inherit;
    text-decoration: inherit;
    &:hover {
        color: inherit;
        text-decoration: inherit;
    }
}

.pagebuilder-banner-wrapper {
    .pagebuilder-poster-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-transition: background-color 500ms ease;
        -moz-transition: background-color 500ms ease;
        -o-transition: background-color 500ms ease;
        transition: background-color 500ms ease;
    }
    .pagebuilder-poster-content {
        text-align: center;
    }
    .pagebuilder-banner-button {
        margin-top: 20px;
        -webkit-transition: opacity 500ms ease;
        -moz-transition: opacity 500ms ease;
        -o-transition: opacity 500ms ease;
        transition: opacity 500ms ease;
    }
}
