/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * _banner contains {less} for Banner
 */

[data-role="banner"] > a {
    color: inherit;
    text-decoration: inherit;
    &:hover {
        color: inherit;
        text-decoration: inherit;
    }
}

.pagebuilder-banner-wrapper {
    .pagebuilder-poster-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pagebuilder-poster-content {
        text-align: center;
    }
    .pagebuilder-banner-button {
        margin-top: 20px;
    }
}
