// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'slick';
@import 'slick-theme';

div[data-role='slider'] {
    display: none;

    &.slick-initialized {
        display: block;
        margin-bottom: 35px!important; // required due to inline styles added by Slick
    }

    .slick-list,
    .slick-track,
    .slick-slide {
        min-height: inherit;
    }
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color: initial;
    padding: 10px;
    text-decoration: none;
}