/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * _slider contains {less} for Sliders and slider items
 */
@import './slick';
@import './slick-theme';

div[data-role='advanced-slider'], .pagebuilder-advanced-slider {
    display: none;

    &.slick-initialized {
        display: block;
    }

    .slick-arrow {
        box-shadow: none;

        &.slick-prev {
            transform: translate(-150%, -10px);
            &:before {
                content: "<";
                font-weight: 300;
            }
        }
        &.slick-next {
            transform: translate(150%, -10px);
            &:before {
                content: ">";
                font-weight: 300;
            }
        }
        &:hover {
            border: 0;
        }
        &:active {
            box-shadow: none;
        }
    }
    .slick-slider {
        .slick-slide {
            min-height: 50px;
        }
    }
    .slick-dots {
        li {
            button {
                box-shadow: none;
                &:before {
                    font-size: 22px;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                }
                &:hover {
                    border: none;
                }
            }
        }
    }
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding: 10px;
    text-decoration: none;
    color: initial;
}

.pagebuilder-slider {
    width: 100%;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 80px 0;

    .pagebuilder-content {
        display:inline-block;
        padding: 24px 20px;
        width: 30%;
        color: white;

        h3 {
            margin-top: 6px;
            margin-bottom: 6px;
            color: white;
        }

        .slider-content {
            line-height: 24px;
        }

        button {
            margin-top: 14px;
        }

        &.has-overlay-background {
            background-color: rgba(0,0,0,0.3);
        }
    }
}