<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div id="pagebuilder-panel-wrapper"
    css="visible: isVisible, collapsed: isCollapsed">
    <div id="pagebuilder-panel">
        <div class="search-blocks">
            <label for="search-blocks-input"></label>
            <a href="" class="close" click="clearSearch" attr="title: searchTitle" visible="searching"></a>
            <input type="text" id="search-blocks-input" name="search" ko-value="searchValue" event="keyup: search" attr="placeholder: searchPlaceholder"/>
        </div>
        <ul id="search-results" visible="searching() && searchResults().length" each="searchResults">
            <li class="pagebuilder-draggable-block" attr="id: 'block-' + identifier()" data-bind="draggable">
                <a class="pagebuilder-panel-block">
                    <span class="block-icon">
                        <i attr="class: icon"></i>
                    </span>
                    <span translate="label"></span>
                </a>
            </li>
        </ul>
        <div class="search-results-empty" visible="searching() && !searchResults().length">
            <div translate="searchNoResult"></div>
        </div>
        <ul id="pagebuilder-panel-groups" visible="!searching()" each="groups">
            <li attr="id: 'group-' + id()" event="click: toggle" css="active: active">
                <div class="group-title">
                    <h4 translate="label"></h4>
                </div>
                <div class="pagebuilder-panel-groups-child" css="hidden: hidden">
                    <div class="pagebuilder-panel-groups-blocks-wrapper">
                        <ul class="pagebuilder-panel-groups-blocks" each="blocks">
                            <li class="pagebuilder-draggable-block"
                                data-bind="draggable: { connectToSortable: getDraggableConfig() }"
                                attr="id: 'block-' + identifier()">
                                <a class="pagebuilder-panel-block">
                                    <span class="block-icon">
                                        <i attr="class: icon"></i>
                                    </span>
                                    <span translate="label"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <div class="panel-controls">
            <a class="collapse" click="collapse">Collapse</a>
            <a class="full-screen" click="fullScreen" attr="title: fullScreenTitle"></a>
        </div>
    </div>
    <div class="expand" visible="isCollapsed">
        <a click="collapse"></a>
    </div>
</div>
