<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="pagebuilder-stage-wrapper"
     css="'stage-full-screen': isFullScreen"
     ko-style="wrapperStyles">
    <div class="admin__field pagebuilder-header">
        <i click="function() { toggleFullScreen($element); }"
           css="'icon-pagebuilder-fullscreen': !isFullScreen(), 'icon-pagebuilder-fullscreen-exit': isFullScreen()"
           attr="{title: isFullScreen() ? $t('Close Full Screen') : $t('Open in Full Screen')}">
        </i>
    </div>
    <with args="panel">
        <render/>
    </with>
    <if args="isStageReady">
        <with args="stage">
            <render/>
        </with>
        <iframe width="1" height="1" attr="id: 'render_frame_' + id" sandbox="allow-scripts" style="display: none;"></iframe>
    </if>
</div>
