<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="pagebuilder-stage-wrapper"
     css="'stage-full-screen': isFullScreen"
     data-domObserver="false">
    <div class="admin__field pagebuilder-header">
        <i click="toggleFullScreen.bind($data)" css="'icon-pagebuilder-fullscreen': !isFullScreen(), 'action-close': isFullScreen()"></i>
    </div>
    <br/>
    <with args="panel">
        <render/>
    </with>
    <with args="stage">
        <render/>
    </with>
</div>
