<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div visible="visible">
    <button if="wysiwygConfigData()['pagebuilder_button']"
            type="button"
            class="pagebuilder-edit-button action-default scalable action"
            ko-disabled="disabled"
            click="toggleFullScreen.bind($data)">
        <span translate="pageBuilderEditButtonText" />
    </button>
    <if args="visiblePageBuilder">
        <with args="pageBuilder">
            <render />
        </with>
    </if>
</div>
