<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div html="content"
     css="$data.additionalClasses"
     visible="visible"
     data-bind="attr: {'data-namespace': inputName}">
</div>

<div class="pagebuilder-stage-wrapper" visible="stageActive" css="{'stage-full-screen': isFullScreen}" style="min-height:650px">
    <!-- ko if: isComponentInitialized -->
        <!-- ko template: getStageTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>

<div data-role="spinner"
     class="admin__data-grid-loading-mask"
     visible="loading"
     if="showSpinner">
    <div class="spinner">
        <span repeat="8"/>
    </div>
</div>
