/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * _image contains {less} for images
 *
 */

.gene-bluefoot-image {
  img {
    display:block;
    max-width:100%;
    margin:0 auto;
  }
}