// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

& when (@media-common = true) {
    .pagebuilder-column {
        box-sizing: border-box;
    }
}

//
//  Mobile (style-m.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .pagebuilder-column {
        background-attachment: scroll !important;
        flex-basis: 100%;
        max-width: 100%;
    }
}
