{
    "extends": "stylelint-config-recommended",
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "block-closing-brace-empty-line-before": "never",
        "block-closing-brace-newline-after": "always",
        "color-no-invalid-hex": true,
        "color-hex-case": "lower",
        "color-hex-length": "short",
        "declaration-colon-space-after": "always",
        "declaration-colon-space-before": "never",
        "declaration-empty-line-before": "never",
        "declaration-bang-space-before": "always",
        "max-nesting-depth": 5,
        "number-leading-zero": "never",
        "order/properties-alphabetical-order": true,
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "selector-list-comma-newline-after": "always",
        "shorthand-property-no-redundant-values": true,
        "string-quotes": "single",
        "function-calc-no-invalid": null
    }
}
