{
    "extends": "stylelint-config-recommended",
    "plugins": [
        "stylelint-order"
    ],
    "rules": {
        "block-closing-brace-empty-line-before": "never",
        "block-closing-brace-newline-after": "always",
        "selector-combinator-space-after": "always",
        "selector-combinator-space-before": "always",
        "order/properties-alphabetical-order": true
    }
}
