// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

.pagebuilder-accordion {
    .accordion-collapsible {
        border-bottom: 1px solid @color-gray80;
        cursor: pointer;
        font-weight: bold;
        padding: 14px 8px;
        position: relative;

        > div {
            &:before {
                -webkit-font-smoothing: antialiased;
                content: '\e616';
                font-family: 'Admin Icons', sans-serif;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                position: absolute;
                right: 1.3rem;
                speak: none;
                top: 1.75rem;
            }
        }
    }
    .accordion-content {
        margin-bottom: 4px;
        padding: 8px;
    }
}
