// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

.pagebuilder-image {
    border: 1px solid transparent;
    width: 100%;

    .column-width-40 &,
    .column-width-30 &,
    .column-width-20 &,
    .column-width-10 & {
        .file-uploader-area {
            align-items: center;
            display: flex;
            flex-direction: column;
            position: relative;

            > span {
                display: none;
            }
        }
        .image-upload-instructions {
            margin-bottom: 5px;
        }
        .file-uploader-button {
            display: block;
            margin-left: 0;
            margin-right: 0;
            margin-top: 15px;
            max-width: 180px;
            width: 100%;
        }
    }
    .column-width-10 & {
        .file-uploader-button {
            padding: .6rem 0;
        }
        .image-upload-requirements {
            display: none;
        }
    }

    figure {
        box-sizing: border-box;
        margin: 0;

        div.pagebuilder-image-empty-preview {
            align-items: center;
            background: @color-white-fog;
            display: flex;
            height: 300px;
            justify-content: center;
            width: 100%;

            span {
                color: @color-gray65-lighten;
            }
        }

        figcaption {
            padding: 15px 0;
        }
    }
}
