// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

.luma-button-primary {
  background-image: none;
  background: @button-primary;
  border: @button-primary__border;
  color: @button-primary__active__color;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 600;
  padding: 7px 15px;
  font-size: 1.4rem;
  box-sizing: border-box;
  vertical-align: middle;

  &:hover, &:active {
    background: @button-primary__hover__color;
    border-color: @button-primary__hover__color;
    color: @button-primary__active__color;
  }

  &:visited, &:focus {
    background: @button-primary;
    border-color: @button-primary;
    color: @button-primary__active__color;
  }
}
