//
//  Buttons
//  ---------------------------------------------

//  Primary button
@button-primary: #1979c3;
@button-primary__border: 1px solid #1979c3;
@button-primary__hover__color: #006bb4;
@button-primary__active__background: #006bb4;
@button-primary__active__border: 1px solid #006bb4;
@button-primary__active__color: #fff;
