<div class="bluefoot-stage" data-bind="attr: {id: stageId, 'data-role': stageActive() ? 'bluefoot-stage' : '' }, css: {'bluefoot-show-borders': showBorders, 'bluefoot-no-user-select': !userSelect()}">
    <div class="bluefoot-stage-loading" data-bind="visible: loading">
        <div class="bluefoot-emblem"></div>
        <p data-bind="text: $t('Please hold! we\'re just retrieving your content...')"></p>
        <span class="spinner">
           <!-- ko repeat: 8 -->
            <span data-bind="attr: {'data-repeat-index': $index}"></span>
            <!-- /ko -->
        </span>
    </div>
    <div class="bluefoot-canvas" data-bind="css: {active: !loading()}, foreach: stageContent, sortable: { sortableClass: 'bluefoot-sortable-canvas', handle: '.move-structural', items: '.bluefoot-row-wrapper', connectWith: '.bluefoot-canvas' }">
        <div class="bluefoot-row-wrapper" data-bind="template: getTemplate(), attr: {id: id}, style: wrapperStyle"></div>
    </div>
    <div class="bluefoot-add-row-wrapper" data-bind="visible: !loading()">
        <a href="#" class="bluefoot-add-row" title="Add Row" data-bind="click: function () { return stage.addRow($data.stage); }"><i class="fa fa-plus"></i></a>
    </div>
</div>