<div class="bluefoot-stage" data-bind="attr: {id: stageId, 'data-role': stageActive() ? 'bluefoot-stage' : '' }, css: {'bluefoot-show-borders': showBorders}">
    <div class="bluefoot-canvas" data-bind="foreach: stageContent, sortable: { sortableClass: 'bluefoot-sortable-canvas', handle: '.move-structural', items: '.bluefoot-row-wrapper', connectWith: '.bluefoot-canvas' }">
        <div class="bluefoot-row-wrapper" data-bind="template: getTemplate(), attr: {id: id}, style: wrapperStyle"></div>
    </div>
    <div class="bluefoot-add-row-wrapper">
        <a href="#" class="bluefoot-add-row" title="Add Row" data-bind="click: function () { return stage.addRow($data.stage); }"><i class="fa fa-plus"></i></a>
    </div>
</div>