/* {less} Variables */
/* BlueFoot CMS {less} variables */
/* Colors */
/* Fonts */
/* Layout Variables */
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _common contains core classes used throughout the BlueFoot admin
 *
 */
.transition {
  transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
}
.bluefoot-logo {
  width: 150px;
  height: 40px;
  text-indent: -9999px;
  display: block;
  background: url('images/main-logo.png') center center no-repeat;
  background-size: 150px 40px;
  margin: 10px;
}
.bluefoot-logo.dark {
  background-image: url('images/main-logo-dark.png');
}
.gene-logo,
.admin__scope-old .gene-logo {
  display: block;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  margin: 20px auto;
  text-align: center;
  line-height: 30px;
}
.gene-logo a,
.admin__scope-old .gene-logo a {
  width: 67px;
  height: 30px;
  text-indent: -9999px;
  display: inline-block;
  margin-left: 5px;
  background: url('images/gene-logo.png') center center no-repeat;
  background-size: 67px 30px;
}
.gene-logo.dark,
.admin__scope-old .gene-logo.dark {
  color: #545454;
}
.gene-logo.dark a,
.admin__scope-old .gene-logo.dark a {
  background-image: url('images/gene-logo-dark.png');
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi) {
  .bluefoot-logo {
    background-image: url('images/main-logo@2x.png');
  }
  .bluefoot-logo.dark {
    background-image: url('images/main-logo-dark@2x.png');
  }
  .gene-logo a {
    background-image: url('images/gene-logo@2x.png');
  }
  .gene-logo.dark a {
    background-image: url('images/gene-logo-dark@2x.png');
  }
}
.bluefoot-admin .entry-edit-head {
  padding: 6px 10px;
  background: #444;
}
#gene_cms_block_grid_table i.fa {
  color: #444!important;
}
body.bluefoot-locked {
  overflow: hidden;
}
/* Import Button {less} */
button.gene-bluefoot.init-gene-bluefoot,
button.gene-bluefoot.disable-gene-bluefoot {
  background: #779ecb;
  border: 1px solid #5284bd;
  color: white;
}
button.gene-bluefoot.init-gene-bluefoot svg,
button.gene-bluefoot.disable-gene-bluefoot svg {
  height: 12px;
  float: left;
  margin-right: 4px;
  margin-top: 2px;
}
button.gene-bluefoot.init-gene-bluefoot svg *,
button.gene-bluefoot.disable-gene-bluefoot svg * {
  fill: white;
}
button.gene-bluefoot.init-gene-bluefoot:hover,
button.gene-bluefoot.disable-gene-bluefoot:hover {
  background: #9cb8d9;
}
/* Import Sidebar {less} */
.gene-bluefoot-sidebar-container .gene-bluefoot-sidebar {
  width: 100%;
}
.gene-bluefoot-sidebar-container .gene-bluefoot-sidebar .gene-bluefoot-sidebar-panel {
  background: #2b2625;
  width: 100%;
  float: left;
  margin-bottom: 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.gene-bluefoot-sidebar-container .gene-logo {
  margin-top: 0;
}
/* Import Stage {less} */
.bluefoot-canvas {
  margin-left: 60px;
}
.bluefoot-add-row-wrapper {
  float: left;
  width: 100%;
  text-align: center;
}
.bluefoot-add-row-wrapper .bluefoot-add-row {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  background: #3370b5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: white;
}
.bluefoot-add-row-wrapper .bluefoot-add-row:hover {
  background: #224b79;
}
.bluefoot-row-wrapper,
.bluefoot-structure-wrapper {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
.bluefoot-structure-wrapper {
  position: relative;
  box-sizing: border-box;
}
.bluefoot-structure-wrapper .bluefoot-resize-ghost {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  border: 5px solid red;
  margin: 10px 0 20px;
}
.bluefoot-structure-wrapper-width-whole {
  width: 100%;
}
.bluefoot-structure-wrapper-width-half {
  width: 50%;
}
.bluefoot-structure-wrapper-width-third {
  width: 33.3%;
}
.bluefoot-structure-wrapper-width-quarter {
  width: 25%;
}
.bluefoot-structure-wrapper-width-sixth {
  width: 16.666666667%;
}
.bluefoot-structure-wrapper-width-two-thirds {
  width: 66.6%;
}
.bluefoot-structure-wrapper-width-three-quarters {
  width: 75%;
}
.bluefoot-structure-wrapper-width-five-sixths {
  width: 83.333333335%;
}
.bluefoot-structure {
  border: 3px solid transparent;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 0;
  background: white;
  position: relative;
}
.bluefoot-structure .element-children {
  min-height: 100px;
}
.bluefoot-structure .bluefoot-options {
  position: absolute;
  left: 0;
  right: 0;
  top: -15px;
  text-align: center;
}
.bluefoot-structure .bluefoot-options ul.bluefoot-options-links {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-sizing: border-box;
  font-size: 0;
}
.bluefoot-structure .bluefoot-options ul.bluefoot-options-links li {
  float: left;
}
.bluefoot-structure .bluefoot-options ul.bluefoot-options-links li a {
  display: block;
  color: white;
  font-size: 16px;
  padding: 4px 7px;
}
.bluefoot-structure .bluefoot-options ul.bluefoot-options-links li a:hover {
  background: rgba(0, 0, 0, 0.2);
}
.bluefoot-structure .bluefoot-options ul.bluefoot-options-links li i {
  font-size: 16px;
}
.bluefoot-structure:hover {
  border: 3px #243743 dashed;
  box-sizing: border-box;
}
.bluefoot-structure:hover.bluefoot-row {
  border-color: #3370b5;
}
.bluefoot-structure:hover.bluefoot-column {
  border-color: #28b78c;
}
.bluefoot-structure:hover.bluefoot-column .bluefoot-column-add {
  display: block;
}
.bluefoot-structure:hover .bluefoot-options ul.bluefoot-options-links {
  display: inline-block;
}
.bluefoot-structure .bluefoot-id {
  position: absolute;
  bottom: -3px;
  right: -3px;
  color: white;
  font-size: 11px;
  padding: 2px 6px;
}
.bluefoot-structure.bluefoot-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.bluefoot-structure.bluefoot-row > .bluefoot-options {
  z-index: 100;
  position: absolute;
  left: -15px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 29px;
  text-align: center;
}
.bluefoot-structure.bluefoot-row > .bluefoot-options ul.bluefoot-options-links {
  background: #3370b5;
  list-style: none;
  margin: 0;
  padding: 6px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-sizing: border-box;
  font-size: 0;
  text-align: center;
}
.bluefoot-structure.bluefoot-row > .bluefoot-options ul.bluefoot-options-links li {
  float: left;
}
.bluefoot-structure.bluefoot-row > .bluefoot-options ul.bluefoot-options-links li a {
  display: block;
  width: 29px;
  color: white;
  font-size: 16px;
  padding: 4px 0;
}
.bluefoot-structure.bluefoot-row > .bluefoot-options ul.bluefoot-options-links li a:hover {
  background: rgba(0, 0, 0, 0.2);
}
.bluefoot-structure.bluefoot-row .bluefoot-id {
  background: #3370b5;
}
.bluefoot-structure.bluefoot-column {
  display: inline-block;
  width: 100%;
  margin: 10px 0 20px 0;
}
.bluefoot-structure.bluefoot-column ul.bluefoot-options-links {
  background: #28b78c;
}
.bluefoot-structure.bluefoot-column .bluefoot-id {
  background: #28b78c;
}
.bluefoot-structure.bluefoot-column .bluefoot-column-resize-handle {
  width: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -3px;
  cursor: col-resize;
}
.bluefoot-structure.bluefoot-column .bluefoot-column-add {
  display: none;
  position: absolute;
  left: -27px;
  top: 45%;
  padding: 0 8px;
  background: #28b78c;
  color: #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.bluefoot-structure.bluefoot-column .bluefoot-column-add-right {
  left: auto;
  right: -27px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.bluefoot-structure.bluefoot-column .bluefoot-column-inline-add {
  list-style: none;
  margin: 0;
  width: 150px;
  background: #28b78c;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: absolute;
  top: 20%;
  left: -27px;
  text-align: center;
  padding: 4px 6px;
  cursor: pointer;
}
.bluefoot-structure.bluefoot-column .bluefoot-column-inline-add.right {
  left: auto;
  right: -27px;
}
.bluefoot-structure.bluefoot-entity {
  background: #243743;
  border: none;
  color: white;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px 0;
}
.bluefoot-structure.bluefoot-entity i {
  font-size: 24px;
}
.bluefoot-structure.bluefoot-entity h3 {
  margin: 6px 0 0 0;
  padding: 0;
}
.bluefoot-structure.bluefoot-entity * {
  color: white;
}
.bluefoot-structure.bluefoot-entity ul.bluefoot-options-links {
  background: #243743;
}
.bluefoot-structure.bluefoot-entity .bluefoot-id {
  background: #243743;
  bottom: 0;
  right: 0;
}
/**
* BlueFoot
 *
 * Version 1.0
 * @author Dave Macaulay <davegene.co.uk>
 *
 * _panel contains {less} for the left panel
 *
 */
.ui-draggable-dragging.bluefoot-draggable-block {
  display: block;
}
.ui-draggable-dragging.bluefoot-draggable-block a {
  background: #2b2625;
  display: block;
  width: 100%;
  border-radius: 5px;
  line-height: 40px;
  color: #f8f3eb;
  text-decoration: none;
  padding: 0 18px;
  cursor: pointer;
}
.ui-draggable-dragging.bluefoot-draggable-block a i {
  margin-right: 6px;
}
.bluefoot-placeholder.bluefoot-draggable-block {
  float: left;
  width: 100%;
  display: block;
  color: #393231;
}
.bluefoot-placeholder.bluefoot-draggable-block a {
  border: 2px dashed #393231;
  color: #393231;
  display: block;
  width: 100%;
  border-radius: 5px;
  line-height: 40px;
  text-decoration: none;
  padding: 0 18px;
  cursor: pointer;
  margin: 8px 0;
}
.bluefoot-placeholder.bluefoot-draggable-block a i {
  margin-right: 6px;
}
#bluefoot-panel {
  position: fixed;
  left: 0;
  top: 50%;
  background: #2b2625;
  width: 70px;
  display: block;
  z-index: 600;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 14px 0;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transform: translate(0rem, -50%);
  -moz-transform: translate(0rem, -50%);
  -webkit-transform: translate(0rem, -50%);
}
#bluefoot-panel.visible {
  transform: translate(8.8rem, -50%);
  -moz-transform: translate(8.8rem, -50%);
  -webkit-transform: translate(8.8rem, -50%);
}
#bluefoot-panel #bluefoot-emblem {
  background: url('images/emblem.png') center center no-repeat;
  background-size: 48px 48px;
  width: 100%;
  height: 48px;
  margin-bottom: 12px;
  display: block;
}
#bluefoot-panel #bluefoot-panel-groups {
  list-style: none;
  margin: 0;
  padding: 0;
}
#bluefoot-panel #bluefoot-panel-groups li {
  display: block;
  width: 100%;
  position: relative;
}
#bluefoot-panel #bluefoot-panel-groups li .group-icon {
  display: block;
  width: 100%;
  color: #6d6361;
  font-size: 30px;
  line-height: 55px;
  text-align: center;
}
#bluefoot-panel #bluefoot-panel-groups li .bluefoot-panel-groups-child {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background: #534d49;
  color: #f8f3eb;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  min-width: 200px;
  padding: 18px 10px;
}
#bluefoot-panel #bluefoot-panel-groups li .bluefoot-panel-groups-child h4 {
  margin-bottom: 8px;
  margin-left: 8px;
}
#bluefoot-panel #bluefoot-panel-groups li .bluefoot-panel-groups-child ul.bluefoot-panel-groups-blocks {
  list-style: none;
  margin: 0;
  padding: 4px 0 0 0;
}
#bluefoot-panel #bluefoot-panel-groups li .bluefoot-panel-groups-child ul.bluefoot-panel-groups-blocks li {
  display: block;
  width: 100%;
}
#bluefoot-panel #bluefoot-panel-groups li .bluefoot-panel-groups-child ul.bluefoot-panel-groups-blocks li a {
  display: block;
  width: 100%;
  border-radius: 5px;
  line-height: 40px;
  color: #f8f3eb;
  text-decoration: none;
  padding: 0 18px;
  cursor: pointer;
}
#bluefoot-panel #bluefoot-panel-groups li .bluefoot-panel-groups-child ul.bluefoot-panel-groups-blocks li a i {
  margin-right: 6px;
}
#bluefoot-panel #bluefoot-panel-groups li .bluefoot-panel-groups-child ul.bluefoot-panel-groups-blocks li a:hover {
  background: #2b2625;
}
#bluefoot-panel #bluefoot-panel-groups li.active {
  background: #534d49;
}
#bluefoot-panel #bluefoot-panel-groups li.active .group-icon {
  cursor: pointer;
  color: #f8f3eb;
}
#bluefoot-panel #bluefoot-panel-groups li.active .bluefoot-panel-groups-child {
  display: block;
}
#bluefoot-panel #bluefoot-panel-groups li.hidden .bluefoot-panel-groups-child {
  display: none!important;
}
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _content-types includes generic {less} for Page Builder blocks
 *
 */
.gene-bluefoot-row {
  text-align: left;
}
.bluefoot-entity-align-left {
  text-align: left;
}
.bluefoot-entity-align-center {
  text-align: center;
}
.bluefoot-entity-align-right {
  text-align: right;
}
.modal-slide.bluefoot-edit {
  left: 72rem;
}
.modal-slide.bluefoot-edit h1 i {
  font-size: 28px;
  float: left;
  margin-right: 10px;
}
/* Import Widget {less} */
/* Widget {less} Imports */
.gene-bluefoot-upload-field {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 6px 0 18px 0;
  border: 2px dashed #706360;
  text-align: center;
  padding: 20px 0;
  color: #1d1a19;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}
.gene-bluefoot-upload-field i {
  font-size: 28px;
  margin-bottom: 4px;
  -webkit-transition: 200ms ease-in-out;
  -moz-transition: 200ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  opacity: 0.8;
}
.gene-bluefoot-upload-field h4 {
  font-weight: normal;
  color: #1d1a19;
  margin: 0;
  padding: 0;
}
.gene-bluefoot-upload-field.dz-drag-hover {
  background: #ffffff;
}
.gene-bluefoot-upload-field:hover i {
  transform: scale(1.2);
  opacity: 1;
}
.gene-bluefoot-upload-previous img {
  max-width: 100%;
  max-height: 175px;
  width: auto;
  height: auto;
}
.gene-bluefoot-upload-previous button {
  display: block;
}
/* Tag it {less} - http://aehlke.github.io/tag-it/ */
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field ul.tagit {
  background: white;
  border-color: #d0d0d0;
  border-radius: 3px;
}
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field ul.tagit .tagit-choice {
  margin-right: 5px;
  border-color: #5284bd;
  background: #779ecb;
  color: white;
  border-radius: 3px;
}
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field ul.tagit .tagit-choice .tagit-label,
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field ul.tagit .tagit-choice .tagit-close .text-icon {
  color: white;
}
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field ul.tagit .tagit-new {
  margin: 0;
  padding: 0;
}
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field ul.tagit .tagit-new input {
  border: none;
  margin: 0;
}
.gene-bluefoot-search-field {
  position: relative;
  text-align: left;
}
.gene-bluefoot-search-field .ui-autocomplete {
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.gene-bluefoot-search-field .ui-autocomplete li {
  background: white;
  border: 1px solid #e0e0e0;
  border-bottom: none;
  margin: 0;
  padding: 8px;
  font-size: 14px;
  color: #2b2625;
  font-family: 'Open Sans', sans-serif;
}
.gene-bluefoot-search-field .ui-autocomplete li:last-child {
  border-bottom: 1px solid #e0e0e0;
}
.gene-bluefoot-search-field .ui-autocomplete li:hover,
.gene-bluefoot-search-field .ui-autocomplete li.ui-state-focus {
  font-weight: bold;
  cursor: pointer;
}
/* Map {less} */
.gene-bluefoot-input-map {
  width: 100%;
  height: 350px;
  display: block;
  margin: 10px 0 0;
}
.gene-bluefoot-input-map-input {
  display: none;
}
.gene-bluefoot-input-note {
  margin-top: 10px;
}
.gene-bluefoot-video-iframe {
  float: left;
  width: 100%;
}
.gene-bluefoot-video-iframe .gene-bluefoot-video-container {
  float: left;
  width: 100%;
  display: block;
  margin: 10px 0;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  overflow: hidden;
}
.gene-bluefoot-video-iframe .gene-bluefoot-video-container iframe {
  width: 100%;
  height: 350px;
  box-sizing: border-box;
  border: 0;
}
.gene-bluefoot-video-iframe span {
  float: left;
  width: 100%;
  margin: 10px 0;
  border: 0;
  padding: 10px 24px;
  font-weight: normal;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
  background: #779ecb;
}
.gene-bluefoot-video-iframe span .fa {
  margin-right: 10px;
}
.gene-bluefoot-input-loading-indicator {
  position: relative;
}
.gene-bluefoot-input-loading-indicator .fa-spinner,
.gene-bluefoot-input-loading-indicator .fa-check {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  right: 10px;
  top: 38px;
}
.gene-bluefoot-input-loading-indicator.searching .fa-spinner {
  visibility: visible;
  opacity: 1;
}
.gene-bluefoot-input-loading-indicator.success .fa-check {
  visibility: visible;
  opacity: 1;
  color: #779ecb;
}
.gene-bluefoot-video-container {
  width: 100%;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  box-sizing: border-box;
  overflow: hidden;
}
.gene-bluefoot-video-container iframe {
  float: left;
  width: 100%;
  height: 350px;
  box-sizing: border-box;
  border: 0;
}
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field .gene-bluefoot-metric .gene-bluefoot-metric-fields {
  position: relative;
  width: 100%;
  height: 250px;
  border: 1px dashed grey;
  box-sizing: border-box;
}
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field .gene-bluefoot-metric .gene-bluefoot-metric-fields > .gene-bluefoot-metric-fields {
  left: 60px;
  top: 60px;
  bottom: 60px;
  right: 60px;
  box-sizing: border-box;
  width: 488px;
  height: 130px;
  border-color: lightgrey;
}
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field .gene-bluefoot-metric .gene-bluefoot-metric-fields .gene-bluefoot-metric-label {
  position: absolute;
  top: 4px;
  left: 12px;
  height: 32px;
  line-height: 32px;
}
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field .gene-bluefoot-metric .gene-bluefoot-metric-fields input {
  width: 40px;
  height: 32px;
  position: absolute;
  text-align: center;
  text-indent: 0;
}
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field .gene-bluefoot-metric .gene-bluefoot-metric-fields input.gene-bluefoot-metric-top {
  top: 4px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field .gene-bluefoot-metric .gene-bluefoot-metric-fields input.gene-bluefoot-metric-right {
  top: 50%;
  margin-top: -16px;
  bottom: 0;
  right: 4px;
}
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field .gene-bluefoot-metric .gene-bluefoot-metric-fields input.gene-bluefoot-metric-left {
  top: 50%;
  margin-top: -16px;
  bottom: 0;
  left: 4px;
}
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field .gene-bluefoot-metric .gene-bluefoot-metric-fields input.gene-bluefoot-metric-bottom {
  bottom: 4px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.gene-bluefoot-metric-fields {
  float: left;
  width: 100%;
}
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field .gene-bluefoot-ignore-metric-input-field label,
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field .gene-bluefoot-ignore-metric-input-field input,
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field .gene-bluefoot-ignore-metric-input-field input:focus {
  width: auto;
  float: left;
  margin: 0;
  line-height: 32px;
}
.gene-bluefoot-configure-sidebar .gene-bluefoot-input-field .gene-bluefoot-ignore-metric-input-field input {
  margin-right: 10px;
}
/* Align {less} */
.gene-bluefoot-align-field {
  display: inline-block;
  margin-right: 20px;
  border: 1px solid #d0d0d0;
  width: 150px;
  text-align: center;
  background: #f5f5f5;
  cursor: pointer;
}
.gene-bluefoot-align-field.active,
.gene-bluefoot-align-field:hover {
  background: white;
}
.gene-bluefoot-align-field label {
  padding: 20px;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
}
.gene-bluefoot-align-field label i,
.gene-bluefoot-align-field label span {
  display: block;
}
.gene-bluefoot-align-field label i {
  font-size: 26px;
  color: #616161;
  margin-bottom: 5px;
}
.gene-bluefoot-align-field input {
  display: none;
}
/* Import Block {less} */
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _import imports all block  {less} files
 *
 */
/*-- Basic --*/
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _import imports all block  {less} files
 *
 */
/*-- Basic --*/
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _html contains {less} for HTML
 *
 */
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _heading includes styling for heading block
 *
 */
.gene-bluefoot-heading h2,
.gene-bluefoot-heading h3,
.gene-bluefoot-heading h4,
.gene-bluefoot-heading h5 {
  margin: 0;
}
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _textarea contains {less} for Textarea
 *
 */
.gene-bluefoot-entity .gene-bluefoot-textarea ol {
  list-style: decimal;
  padding-left: 20px;
}
.gene-bluefoot-entity .gene-bluefoot-textarea ol li {
  margin: 0 0 20px 0;
}
.gene-bluefoot-entity .gene-bluefoot-textarea p {
  margin-bottom: 20px;
}
.gene-bluefoot-entity .gene-bluefoot-textarea ul {
  list-style: disc;
  padding-left: 20px;
}
.gene-bluefoot-entity .gene-bluefoot-textarea ul li {
  margin: 0 0 20px 0;
}
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _spacer contains {less} for spacers
 *
 */
.gene-bluefoot-block-spacer {
  height: 20px;
  background: #f5f5f5;
}
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _table includes styling for table block (tables are part of the textarea block)
 *
 */
.gene-bluefoot-textarea td.mceIframeContainer table {
  width: 100%;
  margin: 20px 0;
}
.gene-bluefoot-textarea td.mceIframeContainer table th,
.gene-bluefoot-textarea td.mceIframeContainer table thead td {
  background: #f5f5f5;
  font-weight: bold;
}
.gene-bluefoot-textarea td.mceIframeContainer table td {
  border-bottom: 1px solid #d0d0d0;
}
.gene-bluefoot-textarea td.mceIframeContainer table td,
.gene-bluefoot-textarea td.mceIframeContainer table th {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  line-height: 1.4em;
}
.gene-bluefoot-textarea td.mceIframeContainer table td strong,
.gene-bluefoot-textarea td.mceIframeContainer table th strong {
  font-weight: 600;
}
/*-- Structural --*/
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _import imports all block  {less} files
 *
 */
/*-- Basic --*/
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _hr contains {less} for horizontal rules
 *
 */
.gene-bluefoot-block-anchor {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  background: #f5f5f5;
  display: block;
}
.gene-bluefoot-block-anchor i {
  font-size: 24px;
  display: block;
}
.gene-bluefoot-block-anchor span {
  display: block;
  margin-top: 10px;
}
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _hr contains {less} for horizontal rules
 *
 */
.gene-bluefoot-block-hr {
  margin: 20px auto;
  max-width: 100%;
  width: 100%;
  border-color: #d0d0d0;
  border-width: 1px;
  border: none;
  border-top: solid;
}
/*-- Media --*/
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _import imports all block  {less} files
 *
 */
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _image contains {less} for images
 *
 */
.gene-bluefoot-image img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _driver contains {less} for drivers
 *
 */
.gene-bluefoot-driver {
  position: relative;
}
.gene-bluefoot-driver img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.gene-bluefoot-driver-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  line-height: 1.8em;
}
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _slider contains {less} for Sliders and slider items
 *
 */
.gene-bluefoot-slider {
  max-width: 750px;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  margin: 20px auto 40px;
}
.gene-bluefoot-slider .slick-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -30px;
}
.gene-bluefoot-slider .slick-dots li {
  display: inline-block;
  margin: 0 3px;
}
.gene-bluefoot-slider .slick-dots li button {
  border-radius: 50%;
  text-indent: -9999px;
  width: 14px;
  height: 14px;
  border: none;
  padding: 0;
  background: #f5f5f5;
}
.gene-bluefoot-slider .slick-dots li button:hover {
  background: #779ecb;
}
.gene-bluefoot-slider .slick-dots li.slick-active button {
  background: #779ecb;
  top: 50%;
}
.gene-bluefoot-slider .slick-arrow {
  width: 32px;
  height: 32px;
  line-height: 32px;
  padding: 0;
  border: none;
  background: #779ecb;
  color: white;
  position: absolute;
  z-index: 20;
  top: calc(50% - 16px);
}
.gene-bluefoot-slider .slick-arrow:hover {
  background: #5284bd;
}
.gene-bluefoot-slider .slick-arrow:before {
  display: block;
  line-height: 32px;
  font-family: FontAwesome;
}
.gene-bluefoot-slider .slick-arrow:focus {
  outline: none;
}
.gene-bluefoot-slider .slick-next {
  right: 0;
}
.gene-bluefoot-slider .slick-next:before {
  content: '\f054';
}
.gene-bluefoot-slider .slick-prev {
  left: 0;
}
.gene-bluefoot-slider .slick-prev:before {
  content: '\f053';
}
.gene-bluefoot-slider-item img {
  width: 100%;
}
/* Advanced Slider */
.bluefoot-advanced-slider-item {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.bluefoot-advanced-slider-content {
  margin: 40px;
  width: 40%;
  padding: 20px;
  box-sizing: border-box;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
}
.bluefoot-advanced-slider-content h3,
.bluefoot-advanced-slider-content p,
.bluefoot-advanced-slider-content li {
  margin-bottom: 20px;
  color: white;
}
/*-- Commerce --*/
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _import imports all block  {less} files
 *
 */
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _accordion contains {less} for products and product lists
 *
 */
.gene-bluefoot-product {
  text-align: center;
}
.gene-bluefoot-product .gene-bluefoot-product-name {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
}
.gene-bluefoot-product .gene-bluefoot-product-sku {
  font-size: 12px;
}
.gene-bluefoot-product .gene-bluefoot-product-image {
  display: block;
  margin: 0 auto 10px;
  border: 1px solid #d0d0d0;
  width: 200px;
  max-width: 100%;
}
.gene-bluefoot-product .gene-bluefoot-product-price {
  font-weight: 600;
  font-size: 18px;
}
.gene-bluefoot-product-list {
  width: 100%;
  display: block;
  font-size: 0;
}
.gene-bluefoot-product-list .gene-bluefoot-product {
  width: 200px;
  box-sizing: border-box;
  padding: 10px;
  display: inline-block;
  max-width: 50%;
}
.gene-bluefoot-product-list .gene-bluefoot-product-content,
.gene-bluefoot-product-list .gene-bluefoot-product-img {
  width: 100%;
  float: left;
}
/*-- Special --*/
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _import imports all app block {less} files
 *
 */
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _single contains {less} for App Single
 *
 */
.bluefoot-app-entity .bluefoot-app-entity-image {
  float: left;
  width: 25%;
  max-width: 150px;
  margin-right: 3%;
  box-sizing: border-box;
}
.bluefoot-app-entity .bluefoot-app-entity-content {
  float: left;
  width: 72%;
  min-width: 300px;
  margin: 10px 0 0;
}
.bluefoot-app-entity .bluefoot-app-entity-content .date {
  font-size: 12px;
  font-style: italic;
}
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _list contains {less} for an App Entity List
 *
 */
.gene-bluefoot-app-entity-list .bluefoot-app-entity {
  width: 33%;
  box-sizing: border-box;
  padding: 10px;
  float: left;
  min-width: 200px;
  max-width: 50%;
}
.gene-bluefoot-app-entity-list .bluefoot-app-entity .bluefoot-app-entity-image {
  width: 90%;
  margin: 0 auto 20px;
}
.gene-bluefoot-app-entity-list .bluefoot-app-entity .bluefoot-app-entity-content {
  width: 100%;
  min-width: 100%;
}
/*-- Special --*/
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _search imports all block  {less} files
 *
 */
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _accordion contains {less} for accordions
 *
 */
.bluefoot-accordion .gene-bluefoot-accordion-item-heading {
  cursor: pointer;
  margin-bottom: 0;
  padding: 15px;
  box-sizing: border-box;
  line-height: 1.4em;
  background: #f5f5f5;
}
.bluefoot-accordion .gene-bluefoot-accordion-item-heading:after {
  content: '+';
  float: right;
  font-size: 1.4em;
}
.bluefoot-accordion .gene-bluefoot-accordion-item-content {
  box-sizing: border-box;
  padding: 15px;
  border-top: 1px solid #d0d0d0;
}
.gene-bluefoot-accordion-item {
  border-bottom: 1px solid #d0d0d0;
}
.gene-bluefoot-accordion-item.active .gene-bluefoot-accordion-item-heading:after {
  content: '-';
}
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _tabs contains {less} for Tabs
 *
 */
.gene-bluefoot-tabs {
  margin-top: 20px;
}
.gene-bluefoot-tabs-navigation {
  width: 100%;
  font-size: 0;
}
.gene-bluefoot-navigation-tab {
  border: 1px solid #d0d0d0;
  border-right: 0;
  border-bottom: 0;
  background: #f5f5f5;
  display: inline-block;
  padding: 10px;
  position: relative;
  font-size: 14px;
}
.gene-bluefoot-navigation-tab:last-child {
  border-right: 1px solid #d0d0d0;
}
.gene-bluefoot-navigation-tab:after {
  content: '';
  left: 0;
  right: 0;
  bottom: -1px;
  border-bottom: 1px solid white;
  position: absolute;
  display: none;
}
.gene-bluefoot-navigation-tab.active,
.gene-bluefoot-navigation-tab:hover {
  background: white;
}
.gene-bluefoot-navigation-tab.active:after {
  display: block;
}
.gene-bluefoot-tabs-content {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #d0d0d0;
  width: 100%;
}
.bluefoot-tab-content {
  display: none;
}
.bluefoot-tab-content.active {
  display: block;
}
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _accordion contains {less} for accordions
 */
.gene-bluefoot-map-block {
  width: 100%;
  height: 300px;
}
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _newsletter contains {less} for newsletter blocks
 *
 */
.gene-bluefoot-newsletter-block {
  background: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}
.gene-bluefoot-newsletter-block-label {
  display: block;
  margin: 0 0 10px;
}
.gene-bluefoot-newsletter-block-input {
  display: block;
  margin: 0 0 10px;
  width: 100%;
  max-width: 400px;
  padding: 0 10px;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  line-height: 32px;
  background: white;
  box-sizing: border-box;
}
.gene-bluefoot-block-button {
  background: #779ecb;
  border: none;
  border-radius: 3px;
  line-height: 32px;
  height: 32px;
  padding: 0 10px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
.gene-bluefoot-block-button:hover {
  background: #5284bd;
}
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _search contains {less} for search blocks
 *
 */
.gene-bluefoot-search-block {
  background: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
}
.gene-bluefoot-search-block .gene-bluefoot-block-button {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #779ecb;
  border-radius: 0 2px 2px 0;
}
.gene-bluefoot-search-block-input {
  display: block;
  margin: 0;
  width: 100%;
  padding: 0 10px;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  line-height: 32px;
  background: white;
  box-sizing: border-box;
  position: relative;
}
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _code contains {less} for code
 * Powered by Highlight js https://highlightjs.org/ and the github theme
 *
 */
.gene-bluefoot-code {
  text-align: left!important;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 13px;
  tab-size: 8;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gene-bluefoot-code code {
  padding: 20px;
  box-sizing: border-box;
  border-radius: 3px;
}
/* Import App {less} */
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _include contains {less} for the app
 *
 */
/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _wizard contains {less} for the app wizard
 *
 */
.bluefoot-wizard-tabs li span {
  cursor: initial;
}
.bluefoot-wizard-tabs li span img {
  float: right;
}
#bluefoot_taxonomy_edit_form .entry-edit-head button {
  float: right;
}
#bluefoot_taxonomy_edit_form .form-list td.label {
  width: 150px;
}
#bluefoot_taxonomy_edit_form .form-list td.label label {
  font-weight: bold;
  font-size: 13px;
  width: 125px;
}
.bluefoot-installer-attribute-code {
  padding: 0 20px;
}
.bluefoot-installer-attribute-code-title h3 {
  padding-left: 20px;
}
#bluefoot_cms_installer_grid_table .row-table-section.mouseover,
#bluefoot_cms_installer_grid_table .even.row-table-section.mouseover {
  background: #fcf5dd;
}
#step-info-inner {
  margin: 0 0 20px 0;
  padding: 8px 15px;
  background: #444;
  color: white;
  border-radius: 3px;
}
#step-info-inner .app-step-user-icon {
  float: left;
  line-height: 38px;
  margin-right: 14px;
}
#step-info-inner .app-step-user-icon i {
  font-size: 24px;
  color: #dedede;
}
#step-info-inner .app-step-user-info {
  background-color: inherit;
  border: none;
  color: white;
  font-size: 12px;
  line-height: 22px;
  padding: 5px 0 5px 0;
}
#app-wizard .user-info {
  font-size: 14px;
  line-height: 18px;
}
#app-wizard-new-content-type {
  background: #fafafa;
  border: 1px solid #d6d6d6;
  padding: 15px 0;
}
#app-step-additional {
  background: #fff9e9;
  border: 2px solid #d6d6d6;
  padding: 20px;
}
#app-wizard-step .heading-col {
  float: left;
  width: 200px;
}
#app-wizard-step .info-col {
  float: left;
  padding: 0 30px 0 0;
}
#app-wizard-step .info-col .sub-item {
  border-right: 1px solid #d6d6d6;
  float: left;
  margin: 0px 10px 10px 0;
  min-width: 200px;
  padding: 10px 10px 10px 0;
}
#app-wizard-step .info-col .sub-item.last {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}
#app-wizard-step .gene-bluefoot-inner-info {
  padding: 0 0 5px 0;
}
#content-type-container {
  background: #fff9e9;
  border: 2px solid #d6d6d6;
  padding: 20px;
}
.steps-header h3 {
  float: left;
  line-height: 56px;
  margin: 0;
}
.bluefoot-steps-progress {
  width: 100%;
  border-radius: 3px;
  background: url('../bluefoot/images/main-logo@2x.png') no-repeat 14px center #444;
  background-size: auto 60%;
  text-align: right;
}
.bluefoot-steps-progress h3 {
  color: white;
  font-weight: normal;
  margin-left: 160px;
}
.bluefoot-steps-progress ul {
  list-style: none;
  color: white;
  padding: 18px 6px 18px 6px;
  vertical-align: middle;
  margin-right: 6px;
}
.bluefoot-steps-progress ul li {
  display: inline-block;
  padding: 0 20px;
}
.bluefoot-steps-progress ul li.step-active {
  font-weight: bold;
}
.bluefoot-steps-progress ul li.step-inactive {
  font-weight: normal;
  cursor: pointer;
  color: grey;
}
.bluefoot-steps-progress ul li .step-number {
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  background: #5e5e5e;
  margin-right: 6px;
}
