// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Contained row appearance styles
//  _____________________________________________

[data-appearance='contained'] {
    margin-left: 100px !important;
    margin-right: 100px !important;
    max-width: @layout__max-width;
}
