// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Contained row appearance styles
//  _______________________________

[data-content-type='row'][data-appearance='contained'] {
    margin-left: auto;
    margin-right: auto;
    max-width: @layout__max-width;
}

.pagebuilder-content-type-wrapper.ui-sortable-helper > [data-content-type='row'] > .pagebuilder-content-type > .pagebuilder-options {
    .pagebuilder-options-visible;
}
