// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Full Width row appearance styles
//  _____________________________________________

[data-appearance='full-width'] {
    > .element-children {
        margin-left: 100px;
        margin-right: 100px;
        max-width: @layout__max-width;
    }
}
