// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

.pagebuilder-content-type-wrapper {

    .pagebuilder-html {
        .placeholder-html-empty {
            align-items: center;
            background-color: @color-gray98;
            color: @color-gray65-lighten;
            display: flex;
            justify-content: center;
            height: 60px;
            position: relative;
        }
        .placeholder-html-code {
            font-family: @font-family__console;
            font-weight: @font-weight__light;
            position: relative;
            height: 60px;
            overflow: hidden;
            background-color: @color-gray98;
            white-space: pre;
            &:before {
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, @color-gray98 100%);
                bottom: 0;
                content: '';
                font-size: 12px;
                height: 60px;
                left: 0;
                position: absolute;
                width: 100%;
            }
        }
    }
}

.admin__font-console {
    font-family: @font-family__console;
    textarea {
        font-size: 14px;
        height: 500px;
        line-height: 22px;
    }
}
