// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

.pagebuilder-content-type {
    .pagebuilder-column-group {
        border: none;
        box-sizing: border-box;
        position: relative;
        width: 100%;

        .drop-placeholder {
            background: rgba(142, 0, 6, .3);
            bottom: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            visibility: hidden;
            z-index: 26;

            .no-user-select;
            .no-pointer-events;

            &.left {
                border-left: 10px solid rgba(142, 0, 6, .1);
                opacity: 1;
                visibility: visible;
            }
            &.right {
                border-right: 10px solid rgba(142, 0, 6, .1);
                opacity: 1;
                visibility: visible;
            }
        }

        .pagebuilder-column-grid-options {
            background: rgb(255, 255, 255);
            border: 1px solid rgba(153, 153, 153, .4);
            border-radius: 10px;
            cursor: pointer;
            height: 18px;
            left: -9px;
            position: absolute;
            top: 10px;
            vertical-align: center;
            width: 18px;
            z-index: 11;

            .focus-options {
                position: relative;

                .admin__control-text {
                    height: 90%;
                    width: 24px;
                }

                .pagebuilder-grid-link-wrapper {
                    align-items: center;
                    display: flex;
                    height: 100%;
                    margin-right: 8px;
                }

                .pagebuilder-grid-options-help {
                    background: #373330;
                    border-radius: 22px;
                    color: white;
                    font-size: 16px;
                    height: 22px;
                    position: relative;
                    vertical-align: top;
                    width: 22px;
                }

                .tooltip-content {
                    background: @color-lazy-sun;
                    border: 1px solid @color-dark-grayish-orange;
                    border-radius: 1px;
                    bottom: 97.5%;
                    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .3);
                    font-size: 14px;
                    left: 50%;
                    padding: .9rem 1.8rem;
                    position: absolute;
                    text-align: left;
                    transform: translateX(-50%);
                    visibility: hidden;
                    width: 300px;

                    &:before,
                    &:after {
                        border: .8rem solid transparent;
                        content: '';
                        display: block;
                        height: 0;
                        left: 50%;
                        margin-left: -.8rem;
                        position: absolute;
                        top: 100%;
                        width: 0;
                    }
                    &:before {
                        border-top-color: @color-dark-grayish-orange;
                        margin-top: 1px;
                        z-index: 3;
                    }
                    &:after {
                        border-top-color: @color-lazy-sun;
                        z-index: 4;
                    }
                }

                .pagebuilder-grid-options-help:hover > .tooltip-content {
                    visibility: visible;
                }

                .pagebuilder-options {
                    position: absolute;
                    top: -46px;

                    .option-title {
                        margin-right: 8px;
                        padding-left: 4px;
                        padding-right: 0px;
                    }

                    .pagebuilder-options-wrapper {
                        padding: 3px;
                    }

                    .pagebuilder-options-wrapper:after {
                        border: none;
                        border-bottom: 1px solid rgba(153, 153, 153, .7);
                        border-right: 1px solid rgba(153, 153, 153, .7);
                        bottom: -14px;
                    }
                }
            }

            .pagebuilder-column-grid-options-wrapper {
                position: relative;

                .icon-pagebuilder-grid-options {
                    color: rgba(153, 153, 153, .4);
                    font-size: 18px;
                    position: absolute;
                    top: -8px;
                }
            }



            &:hover {
                border: 1px solid rgba(153, 153, 153, .8);

                .pagebuilder-column-grid-options-wrapper {
                    .icon-pagebuilder-grid-options {
                        color: rgba(153, 153, 153, .8);
                    }
                }
            }
        }


        .move-placeholder {
            background: rgba(142, 0, 6, .3);
            bottom: -1px;
            opacity: 0;
            position: absolute;
            top: -1px;
            transform: translateX(-3px);
            transition: .5s opacity;
            visibility: hidden;
            width: 6px;
            z-index: 26;

            .no-user-select;
            .no-pointer-events;

            &.active {
                opacity: 1;
                transition: .5s opacity;
                visibility: visible;
            }
        }

        .resize-grid {
            display: flex;
            height: 100%;
            left: 0;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 0;
            transition: .5s opacity;
            visibility: hidden;
            width: 100%;
            z-index: 25;

            .no-user-select;
            .no-pointer-events;

            .grid-line {
                border-right: 15px solid rgba(238, 238, 238, .5);
                box-sizing: border-box;
                height: 100%;
                width: 16.66666667%;
            }
        }

        .resize-ghost {
            border-right: 15px solid @color-pagebuilder-light-blue;
            box-sizing: border-box;
            height: 100%;
            left: 0;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 0;
            transition: .5s opacity;
            visibility: hidden;
            z-index: 26;

            .no-user-select;
            .no-pointer-events;

            &.active {
                opacity: 1;
                transition: .5s opacity;
                visibility: visible;
            }
        }

        &.resizing {
            .resize-grid {
                opacity: 1;
                transition: .5s opacity;
                visibility: visible;
            }

            .no-user-select;

            .pagebuilder-options {
                display: none;
            }

            .pagebuilder-content-type {
                .pagebuilder-empty {
                    opacity: 0;
                }
            }
        }

        > .element-children {
            display: flex;
            padding: 0;
            position: relative;
            width: 100%;
        }
    }
}
