<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Analytics\Model\StoreConfigurationProvider">
        <arguments>
            <argument name="configPaths" xsi:type="array">
                <item name="1000" xsi:type="string">cms/pagebuilder/enabled</item>
                <item name="1001" xsi:type="string">cms/pagebuilder/google_maps_api_key</item>
                <item name="1002" xsi:type="string">cms/pagebuilder/column_grid_default</item>
                <item name="1003" xsi:type="string">cms/pagebuilder/column_grid_max</item>
            </argument>
        </arguments>
    </type>
</config>
