// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@color-gray: #ccc;

//
//  Default appearance styles
//  _____________________________________________

.pagebuilder-accordion {
    .accordion-collapsible {
        border-bottom: 1px solid @color-gray;
        cursor: pointer;
        font-weight: bold;
        padding: 14px 8px;
        position: relative;
    }
    .accordion-content {
        margin-bottom: 4px;
        padding: 8px;
    }
}
