<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\RendererPool">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="custom" xsi:type="object">Magento\TestModulePageBuilderDataMigration\Setup\DataConverter\Renderer\Custom</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Entity\Setup\PropertyMapper\Composite">
        <arguments>
            <argument name="propertyMappers" xsi:type="array">
                <item name="pagebuilder" xsi:type="string">Magento\TestModulePageBuilderDataMigration\Model\ResourceModel\Setup\PropertyMapper</item>
            </argument>
        </arguments>
    </type>
</config>
