/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/* Appearance {less} */
.admin__fieldset-appearance {
    border-bottom: 1px solid @color-gray80;

    .fieldset-wrapper-title {
        border-bottom: 0;
        padding-bottom: 4px;
    }

    .title {
        .__collapsible-title-pattern();

        cursor: auto;

        &:before {
            content: "";
        }
    }

    .admin__fieldset {
        padding-top: 0;
        padding-bottom: 4rem;
    }

    .admin__field-appearance {
        margin-top: 0;
    }
}
