<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type type-nested pagebuilder-entity pagebuilder-entity-preview pagebuilder-no-blur pagebuilder-live-edit dashboard-store-stats pagebuilder-accordion" data-bind="event: { mouseover: preview.onMouseOver, mouseout: preview.onMouseOut }, mouseoverBubble: false">
    <!-- ko template: getOptions().template --><!-- /ko -->
    <!-- ko if: preview.data.items().length == 0 -->
    <i class="icon-pagebuilder-accordian"></i> <span data-bind="text: $t('Accordion');"></span>
    <!-- /ko -->
    <!-- ko if: preview.data.items().length > 0 -->
    <div class="pagebuilder-accordion" data-bind="foreach: preview.data.items, afterRender: function (element) { preview.onContainerRender(element); }">
        <div data-role="collapsible" class="accordion-collapsible">
            <div data-role="trigger">
                <span data-bind="text: title"></span>
            </div>
        </div>
        <div data-role="content" data-bind="html: content, afterRender: function () { $parent.preview.onItemRender(); }" class="accordion-content"></div>
    </div>
    <!-- /ko -->
</div>
