<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-structure pagebuilder-row pagebuilder-advanced-slider">
    <!-- ko template: optionsInstance.template --><!-- /ko -->
    <div data-bind="style: {textAlign: preview.data.text_align}">
        <!-- ko template: previewChildTemplate --><!-- /ko -->
    </div>
    <div class="pagebuilder-empty pagebuilder-empty-slider" data-bind="css: {visible: children().length == 0}, text: $t('Click \'Add Slide\'')">
    </div>
    <button class="add-slide-button" data-bind="click: addSlide">Add Slide</button>
</div>
