<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-entity pagebuilder-entity-preview pagebuilder-anchor pagebuilder-no-blur pagebuilder-live-edit" data-bind="style: preview.previewStyle(), event: { mouseover: preview.onMouseOver, mouseout: preview.onMouseOut }, mouseoverBubble: false">
    <i class="icon-pagebuilder-anchor"></i>
    <!-- ko if: preview.data.id -->
    <span data-bind="text: '#' + preview.data.id()"></span>
    <!-- /ko -->
    <!-- ko ifnot: preview.data.id -->
    <span data-bind="text: $t('Anchor');"></span>
    <!-- /ko -->
    <!-- ko template: getOptions().template --><!-- /ko -->
</div>
