<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-entity pagebuilder-entity-preview pagebuilder-anchor pagebuilder-no-blur pagebuilder-live-edit" data-bind="attr: data.main.attributes, style: data.main.style, css: data.main.css, event: { mouseover: preview.onMouseOver, mouseout: preview.onMouseOut }, mouseoverBubble: false">
    <i class="icon-pagebuilder-anchor"></i>
    <span data-bind="text: data.main.attributes().id ? '#' + data.main.attributes().id : $t('Anchor')"></span>
    <!-- ko template: getOptions().template --><!-- /ko -->
</div>
