<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-entity pagebuilder-entity-preview pagebuilder-block pagebuilder-no-blur pagebuilder-live-edit" event="{ mouseover: onMouseOver, mouseout: onMouseOut }, mouseoverBubble: false">
    <!-- ko if: data.main.html() -->
        <div attr="data.main.attributes" css="data.main.css" ko-style="data.main.style" html="data.main.html"></div>
    <!-- /ko -->
    <!-- ko ifnot: data.main.html() -->
        <div class="placeholder-text" data-bind="i18n: 'Block'"></div>
    <!-- /ko -->
    <render args="getOptions().template" />
</div>
