<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-structure pagebuilder-entity pagebuilder-entity-preview pagebuilder-textarea pagebuilder-no-blur pagebuilder-live-edit pagebuilder-button-item">
    <a data-bind="text: preview.data.button_text() !== '' ? preview.data.button_text(): $t('Edit Button Text'), attr:{class: 'pagebuilder-button-item-' + preview.data.button_type()}, style: preview.previewStyle()"></a>
    <!-- ko template: optionsInstance.template --><!-- /ko -->
</div>
