<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-structure pagebuilder-entity pagebuilder-entity-preview pagebuilder-live-edit pagebuilder-button-item">
    <a data-bind="attr:{ class: preview.data.button_type() }, style: preview.previewStyle()">
        <span data-bind="text: preview.data.button_text() !== '' ? preview.data.button_text() : $t('Edit Button Text'), css: { 'placeholder-text': !preview.data.button_text() }"></span>
    </a>
    <!-- ko template: optionsInstance.template --><!-- /ko -->
</div>
