<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-entity pagebuilder-entity-preview pagebuilder-no-blur pagebuilder-live-edit pagebuilder-buttons" data-bind="event: { mouseover: onMouseOver, mouseout: onMouseOut }, mouseoverBubble: false">
    <div data-bind="attr: data.main.attributes, style: data.main.style, css: data.main.css">
        <!-- ko template: getOptions().template --><!-- /ko -->
        <!-- ko template: previewChildTemplate --><!-- /ko -->
        <button class="add-button" data-bind="click: addButton, i18n: 'Add Button'"></button>
    </div>
</div>
