<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="element-children" data-bind="foreach: parent.getChildren(), attr: {id: parent.id + '-children'}, sortable: { sortableClass: config.name + '-container', handle: '.move-structural', items: '.pagebuilder-content-type-wrapper', connectWith: '.element-children' }, afterRender: function (element) { if (typeof afterChildrenRender === 'function') { afterChildrenRender(element) } }">
    <div class="pagebuilder-content-type-wrapper" data-bind="template: {name: preview.previewTemplate, data: preview}, attr: {id: id}"></div>
    <!-- remove css: widthClasses from above element -->
</div>
