<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-entity pagebuilder-entity-preview pagebuilder-code" data-bind="event: { mouseover: preview.onMouseOver, mouseout: preview.onMouseOut }, mouseoverBubble: false">
    <div class="pagebuilder-code">
        <!-- ko if: preview.data.html() -->
            <pre>
                <code data-bind="html: preview.data.html"></code>
            </pre>
        <!-- /ko -->
        <!-- ko ifnot: preview.data.html() -->
            <span data-bind="html: $t('Code')"></span>
        <!-- /ko -->
    </div>
    <!-- ko template: optionsInstance.template --><!-- /ko -->
</div>