<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-structure pagebuilder-column children-min-height">
    <div class="pagebuilder-column-resize-handle"></div>

    <!-- ko template: optionsInstance.template --><!-- /ko -->
    <!-- ko template: previewChildTemplate --><!-- /ko -->

    <div class="pagebuilder-empty" data-bind="css: {visible: children().length == 0}, text: $t('drag content blocks here')">
    </div>
</div>
