<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type type-container pagebuilder-column children-min-height" data-bind="style: preview.previewStyle, afterRender: initColumn, event: { mouseover: preview.onMouseOver, mouseout: preview.onMouseOut }, mouseoverBubble: false">
    <div class="pagebuilder-column-resize-handle" data-bind="afterRender: bindResizeHandle, visible: $index() < parent.children().length - 1"></div>
    <div class="pagebuilder-resizing" data-bind="css: {active: resizing}"></div>

    <!-- ko template: optionsInstance.template --><!-- /ko -->
    <!-- ko template: previewChildTemplate --><!-- /ko -->

    <div class="pagebuilder-empty" data-bind="css: {visible: children().length == 0}, text: $t('drag content blocks here')">
    </div>
</div>
