<div class="pagebuilder-column-group" data-bind="css: {'resizing': resizing}">
    <div class="resize-grid">
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
    </div>
    <div class="resize-ghost" data-bind="afterRender: initGhost"></div>
    <div class="drop-placeholder" data-bind="afterRender: initDropPlaceholder"></div>
    <div class="move-placeholder" data-bind="afterRender: initMovePlaceholder"></div>
    <div class="element-children" style="padding: 0; display: flex; width: 100%; position: relative;" data-bind="foreach: getChildren(), afterRender: initInteractions">
        <!-- ko template: previewTemplate --><!-- /ko -->
    </div>
</div>
