<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-structure pagebuilder-column" data-bind="style: preview.columnStyles, afterRender: initColumn">
    <div class="pagebuilder-column-resize-handle" data-bind="afterRender: initResizeHandle, visible: $index() < parent.children().length - 1"></div>
    <div class="pagebuilder-resizing" data-bind="css: {active: resizing}"></div>

    <!-- ko template: optionsInstance.template --><!-- /ko -->
    <!-- ko template: previewChildTemplate --><!-- /ko -->

    <div class="pagebuilder-empty" data-bind="css: {visible: children().length == 0}, text: $t('drag content blocks here')">
    </div>
</div>
