<div class="pagebuilder-column-group" data-bind="css: {'resizing': resizing}">
    <div class="resize-grid">
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
    </div>
    <div class="resize-ghost" data-bind="afterRender: bindGhost"></div>
    <div class="drop-placeholder" data-bind="afterRender: bindDropPlaceholder"></div>
    <div class="move-placeholder" data-bind="afterRender: bindMovePlaceholder"></div>
    <div class="element-children" data-bind="foreach: getChildren(), afterRender: bindInteractions">
        <!-- ko template: previewTemplate --><!-- /ko -->
    </div>
</div>
