<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-entity pagebuilder-entity-preview pagebuilder-divider pagebuilder-no-blur pagebuilder-live-edit" data-bind="event: { mouseover: preview.onMouseOver, mouseout: preview.onMouseOut }, mouseoverBubble: false">
    <hr data-bind="css: 'pagebuilder-divider', style: {width: preview.data.width(), borderWidth: preview.data.border_width() + 'px', borderColor: preview.data.border_color}" />
    <!-- ko template: optionsInstance.template --><!-- /ko -->
</div>
