<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-entity pagebuilder-entity-preview pagebuilder-divider pagebuilder-no-blur pagebuilder-live-edit" data-bind="event: { mouseover: preview.onMouseOver, mouseout: preview.onMouseOut }, mouseoverBubble: false">
    <div data-bind="style: preview.previewStyle()">
        <hr data-bind="style: {width: preview.data.line_width(), borderWidth: preview.data.line_thickness() + 'px', borderColor: preview.data.line_color()}" />
    </div>
    <!-- ko template: getOptions().template --><!-- /ko -->
</div>
