<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-entity pagebuilder-entity-preview pagebuilder-heading pagebuilder-no-blur pagebuilder-live-edit" data-bind="event: { mouseover: preview.onMouseOver, mouseout: preview.onMouseOut }, mouseoverBubble: false">
    <!-- ko if: data.main.heading_type() == 'h1' -->
    <h1 data-bind="attr: data.main.attributes, style: data.main.style, css: Object.assign(data.main.css(), {'placeholder-text': !data.main.html()}), html: data.main.html() ? data.main.html : 'Edit Heading Text'"></h1>
    <!-- /ko -->
    <!-- ko if: data.main.heading_type() == 'h2' -->
    <h2 data-bind="attr: data.main.attributes, style: data.main.style, css: Object.assign(data.main.css(), {'placeholder-text': !data.main.html()}), html: data.main.html() ? data.main.html : 'Edit Heading Text'"></h2>
    <!-- /ko -->
    <!-- ko if: data.main.heading_type() == 'h3' -->
    <h3 data-bind="attr: data.main.attributes, style: data.main.style, css: Object.assign(data.main.css(), {'placeholder-text': !data.main.html()}), html: data.main.html() ? data.main.html : 'Edit Heading Text'"></h3>
    <!-- /ko -->
    <!-- ko if: data.main.heading_type() == 'h4' -->
    <h4 data-bind="attr: data.main.attributes, style: data.main.style, css: Object.assign(data.main.css(), {'placeholder-text': !data.main.html()}), html: data.main.html() ? data.main.html : 'Edit Heading Text'"></h4>
    <!-- /ko -->
    <!-- ko if: data.main.heading_type() == 'h5' -->
    <h5 data-bind="attr: data.main.attributes, style: data.main.style, css: Object.assign(data.main.css(), {'placeholder-text': !data.main.html()}), html: data.main.html() ? data.main.html : 'Edit Heading Text'"></h5>
    <!-- /ko -->
    <!-- ko if: data.main.heading_type() == 'h6' -->
    <h6 data-bind="attr: data.main.attributes, style: data.main.style, css: Object.assign(data.main.css(), {'placeholder-text': !data.main.html()}), html: data.main.html() ? data.main.html : 'Edit Heading Text'"></h6>
    <!-- /ko -->
    <!-- ko template: getOptions().template --><!-- /ko -->
</div>
