<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-entity pagebuilder-entity-preview pagebuilder-heading pagebuilder-no-blur pagebuilder-live-edit" data-bind="event: { mouseover: preview.onMouseOver, mouseout: preview.onMouseOut }, mouseoverBubble: false">
    <div data-bind="css: 'pagebuilder-heading-' + preview.data.heading_type(), html: preview.data.title"></div>
    <!-- ko template: getOptions().template --><!-- /ko -->
</div>
