<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-entity pagebuilder-entity-preview pagebuilder-image" data-bind="event: {mouseover: preview.onMouseOver, mouseout: preview.onMouseOut}, mouseoverBubble: false">
    <!-- ko template: getOptions().template --><!-- /ko -->
    <figure data-bind="style: data.main.style, attr: data.main.attributes, css: data.main.css">
        <!-- ko ifnot: data.desktop_image.attributes().src -->
        <div class="pagebuilder-image-empty-preview">
            <span data-bind="text: $t('Empty Image');"></span>
        </div>
        <!-- /ko -->
        <!-- ko if: data.desktop_image.attributes().src -->
        <img data-bind="attr: data.desktop_image.attributes, style: data.desktop_image.style, css: data.desktop_image.css" />
        <!-- /ko -->
        <!-- ko if: data.caption.html() -->
        <figcaption data-bind="attr: data.caption.attributes, style: data.caption.style, css: data.caption.css, html: data.caption.html"></figcaption>
        <!-- /ko -->
    </figure>
</div>
