<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-structure pagebuilder-entity pagebuilder-entity-preview pagebuilder-image" data-bind="style: preview.previewStyle()">
    <!-- ko template: optionsInstance.template --><!-- /ko -->
    <!-- ko ifnot: preview.data.image() && typeof preview.data.image()[0] !== 'undefined' -->
        <div class="pagebuilder-image-empty-preview">
            <span data-bind="text: $t('Empty Image');"></span>
        </div>
    <!-- /ko -->
    <!-- ko if: preview.data.image() && typeof preview.data.image()[0] !== 'undefined' -->
        <img data-bind="attr: {src: preview.data.image()[0].url}, style: { maxWidth: '100%', height: 'auto' }" />
    <!-- /ko -->
    <!-- ko if: preview.data.image_caption -->
        <figcaption data-bind="text: preview.data.image_caption"></figcaption>
    <!-- /ko -->
</div>
