<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-entity pagebuilder-entity-preview pagebuilder-newsletter" data-bind="event: { mouseover: preview.onMouseOver, mouseout: preview.onMouseOut }, mouseoverBubble: false">
    <!-- ko if: preview.data.html() -->
        <div data-bind="html: preview.data.html, style: preview.previewStyle()"></div>
    <!-- /ko -->
    <!-- ko ifnot: preview.data.html() -->
        <span data-bind="html: $t('Newsletter')"></span>
    <!-- /ko -->
    <!-- ko template: getOptions().template --><!-- /ko -->
</div>
