<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-entity pagebuilder-entity-preview pagebuilder-product-list" data-bind="event: { mouseover: preview.onMouseOver, mouseout: preview.onMouseOut }, mouseoverBubble: false">
    <!-- ko ifnot: preview.data.html() -->
    <i class="icon-pagebuilder-products"></i>
    <span data-bind="text: $t('Product List')"></span>
    <!-- /ko -->
    <!-- ko if: preview.data.html() -->
    <div data-bind="html: preview.data.html, style: preview.previewStyle()"></div>
    <!-- /ko -->
    <!-- ko template: getOptions().template --><!-- /ko -->
</div>
