<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type type-container pagebuilder-row children-min-height" data-bind="event: { mouseover: preview.onMouseOver, mouseout: preview.onMouseOut }, mouseoverBubble: false">
    <!-- ko template: getOptions().template --><!-- /ko -->
    <!-- ko template: previewChildTemplate --><!-- /ko -->
    <div class="pagebuilder-empty" data-bind="css: {visible: children().length == 0}, text: $t('drag content blocks here, or add columns')">
    </div>
</div>
