<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type type-container pagebuilder-row children-min-height" data-bind="style: data.main.style, css: {'empty-row': children().length == 0}, event: { mouseover: preview.onMouseOver, mouseout: preview.onMouseOut }, mouseoverBubble: false">
    <!-- ko template: getOptions().template --><!-- /ko -->
    <!-- ko template: previewChildTemplate --><!-- /ko -->
    <div class="pagebuilder-display-label" data-bind="text: function () { return preview.displayLabel().toUpperCase(); }()"></div>
    <div class="pagebuilder-empty-container empty-placeholder" data-bind="css: {visible: children().length == 0}, text: $t('Drag content blocks or columns here')"></div>
</div>
