<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-slider children-min-height" data-bind="afterRender: onAfterRender, event: { mouseover: onMouseOver, mouseout: onMouseOut }, mouseoverBubble: false">

    <!-- ko template: getOptions().template --><!-- /ko -->
    <div class="slider-container" data-bind="style: previewStyle">
        <!-- ko template: previewChildTemplate --><!-- /ko -->
    </div>
    <div class="slider-controls focus-options">
        <!-- ko if: $parent.children().length > 0 -->
        <div class="slider-navigation" data-bind="previewSortable: {handle: '.navigation-dot-anchor', containment: 'parent', placeholder: 'navigation-dot sortable-placeholder', tolerance: 'pointer', start: function () { onSortStart.apply($parent.preview, arguments); }, stop: function () { onSortStop.apply($parent.preview, arguments); } }, foreach: $parent.getChildren()">
            <div class="navigation-dot" data-bind="css: {active: $parent.activeSlide() === $index()}, attr: {id: 'navigation-' + parent.id, tabindex: $index}, hasFocusNoScroll: $parent.focusedSlide() === $index(), event: { focusout: function () { $parent.setFocusedSlide(null) } }">
                <!-- ko with: preview -->
                    <!-- ko template: getOptions().template --><!-- /ko -->
                <!-- /ko -->
                <a class="navigation-dot-anchor" href="#" data-bind="click: function () { $parent.navigateToSlide($index()); $parent.setFocusedSlide($index()); }"></a>
                <!-- ko if: preview.previewData.title() !== "" -->
                <span class="tooltip-content" role="tooltip" data-bind="text: preview.previewData.title()"></span>
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>
