<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-entity pagebuilder-entity-preview pagebuilder-no-blur pagebuilder-live-edit">
    <!-- ko ifnot: preview.data.title -->
    <i class="icon-pagebuilder-slider"></i> <span data-bind="text: $t('Slide');"></span>
    <!-- /ko -->
    <!-- ko if: preview.data.title() || preview.data.content() || preview.data.link_text() -->
    <div data-bind="style: preview.backgroundImageStyle" class="pagebuilder-slider">
        <div data-bind="css: {'overlay-background': preview.data.has_overlay_background() === '1'}, style: {textAlign: preview.data.text_align}" class="pagebuilder-content" >
            <!-- ko if: preview.data.title-->
            <h3 data-bind="text: preview.data.title"></h3>
            <!-- /ko -->
            <!-- ko if: preview.data.content -->
            <div class="slider-content" data-bind="html: preview.data.content"></div>
            <!-- /ko -->
            <!-- ko if: preview.data.link_text -->
            <button type="button" data-bind="text: preview.data.link_text"></button>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
    <!-- ko template: optionsInstance.template --><!-- /ko -->
</div>
