<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type type-container pagebuilder-tab" attr="Object.assign({}, {id: parent.id}, data.main.attributes())" ko-style="data.main.style" css="Object.assign({}, {'empty-container': parent.children().length == 0}, data.main.css())">
    <render args="previewChildTemplate" />
    <div class="pagebuilder-empty-container empty-placeholder" css="{visible: parent.children().length == 0}" translate="'Drag content blocks or columns here'"></div>
</div>
