<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type type-container pagebuilder-tab" data-bind="css: {'empty-container': children().length == 0}, style: preview.getTabStyles()">
    <!-- ko template: previewChildTemplate --><!-- /ko -->
    <div class="pagebuilder-empty-container empty-placeholder" data-bind="css: {visible: children().length == 0}, text: $t('Drag content blocks or columns here')"></div>
</div>