<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-tabs children-min-height" data-bind="attr: data.main.attr, style: data.main.style, css: data.main.css, event: { mouseover: onMouseOver, mouseout: onMouseOut }, mouseoverBubble: false">
    <!-- ko template: getOptions().template --><!-- /ko -->
    <div class="tabs-container" data-bind="afterRender: function (element) { onContainerRender.call($data, element); }">
        <ul role="tablist" class="tabs-navigation" data-bind="foreach: parent.getChildren(), attr: data.navigation.attr, style: data.navigation.style, css: data.navigation.css">
            <!-- ko with: preview -->
            <li role="tab" class="tab-header" data-bind="css: {focused: parent.parent.preview.focusedTab() === $index()}, click: function (context, event) { parent.parent.preview.onTabClick($index(), event); }, style: parent.parent.preview.getTabHeaderStyles()">
                <a href="#no-tab" class="tab-title focus-options" data-bind="attr: { href: '#' + parent.id }">
                    <!-- ko template: getOptions().template --><!-- /ko -->
                    <span class="tab-title" data-tab-title="true" data-bind="liveEdit: { field: 'tab_name', placeholder: $t('...') }, hasFocusNoScroll: parent.parent.preview.focusedTab() === $index(), event: { focusin: function () { parent.parent.preview.focusedTab($index()) }, focusout: function () { window.getSelection().removeAllRanges(); parent.parent.preview.focusedTab(null) } }"></span>
                </a>
            </li>
            <!-- /ko -->
        </ul>
        <div class="tabs-content children-min-height" data-bind="attr: data.content.attr, style: data.content.style, css: data.content.css">
            <!-- ko template: previewChildTemplate --><!-- /ko -->
        </div>
    </div>
</div>
