<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-structure pagebuilder-entity pagebuilder-entity-preview pagebuilder-textarea pagebuilder-no-blur pagebuilder-live-edit">
    <!-- ko ifnot: preview.data.content -->
    <div class="pagebuilder-html" data-bind="text: $t('Text')"></div>
    <!-- /ko -->
    <!-- ko if: preview.data.content -->
    <div class="pagebuilder-html" data-bind="html: preview.data.content"></div>
    <!-- /ko -->
    <!-- ko template: optionsInstance.template --><!-- /ko -->
</div>
