<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-entity pagebuilder-entity-preview pagebuilder-textarea pagebuilder-no-blur pagebuilder-live-edit" event="{ mouseover: onMouseOver, mouseout: onMouseOut }, mouseoverBubble: false">
    <if args="data.main.html()">
        <div class="pagebuilder-text" attr="data.main.attributes" ko-style="data.main.style" css="Object.assign(data.main.css(), {'placeholder-text': !data.main.html()})" html="data.main.html"></div>
    </if>
    <ifnot args="data.main.html()">
        <div class="pagebuilder-text" attr="data.main.attributes" ko-style="data.main.style" css="Object.assign(data.main.css(), {'placeholder-text': !data.main.html()})" translate="'Text'"></div>
    </ifnot>
    <render args="getOptions().template" />
</div>
