<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="pagebuilder-content-type pagebuilder-entity pagebuilder-entity-preview pagebuilder-video" data-bind="event: { mouseover: onMouseOver, mouseout: onMouseOut }, mouseoverBubble: false">
    <div data-bind="attr: data.main.attributes, style: data.main.style, css: data.main.css">
        <!-- ko ifnot: data.video.attributes().src -->
        <i class="icon-pagebuilder-video"></i> <span data-bind="text: $t('Video');"></span>
        <!-- /ko -->
        <!-- ko if: data.video.attributes().src -->
        <iframe frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen data-bind="attr: data.video.attributes, style: data.video.style, css: data.video.css"></iframe>
        <!-- /ko -->
    </div>
    <!-- ko template: getOptions().template --><!-- /ko -->
</div>
