<div id="bluefoot-panel-wrapper" data-bind="css: {visible: visible() || floating(), floating: floating}">
    <div id="bluefoot-panel">
        <div id="bluefoot-emblem"></div>
        <ul id="bluefoot-panel-groups" data-bind="foreach: groups">
            <li data-bind="attr: {id: 'group-' + code() }, event: { mouseover: onMouseOver, mouseout: onMouseOut }, css: { active: active }">
                <a href="#" class="group-icon" data-bind="html: icon"></a>
                <div class="bluefoot-panel-groups-child" data-bind="css: { hidden: hidden }">
                    <h4 data-bind="text: name"></h4>
                    <div class="bluefoot-panel-groups-blocks-wrapper" data-bind="foreach: blocks">
                        <!--ko if: $index() % 4 == 0 -->
                        <ul class="bluefoot-panel-groups-blocks" data-bind="draggable">
                            <li data-bind="attr: {id: 'block-' + code() }" class="bluefoot-draggable-block">
                                <a href="javascript:void(0);" class="bluefoot-panel-block">
                                    <span class="block-icon" data-bind="html: icon"></span>
                                    <span data-bind="text: name"></span>
                                </a>
                            </li>
                            <!--ko with: $parent.blocks()[$index()+1] -->
                            <li data-bind="attr: {id: 'block-' + code() }" class="bluefoot-draggable-block">
                                <a href="javascript:void(0);" class="bluefoot-panel-block">
                                    <span class="block-icon" data-bind="html: icon"></span>
                                    <span data-bind="text: name"></span>
                                </a>
                            </li>
                            <!--/ko-->
                            <!--ko with: $parent.blocks()[$index()+2] -->
                            <li data-bind="attr: {id: 'block-' + code() }" class="bluefoot-draggable-block">
                                <a href="javascript:void(0);" class="bluefoot-panel-block">
                                    <span class="block-icon" data-bind="html: icon"></span>
                                    <span data-bind="text: name"></span>
                                </a>
                            </li>
                            <!--/ko-->
                            <!--ko with: $parent.blocks()[$index()+3] -->
                            <li data-bind="attr: {id: 'block-' + code() }" class="bluefoot-draggable-block">
                                <a href="javascript:void(0);" class="bluefoot-panel-block">
                                    <span class="block-icon" data-bind="html: icon"></span>
                                    <span data-bind="text: name"></span>
                                </a>
                            </li>
                            <!--/ko-->
                        </ul>
                        <!--/ko-->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>