/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

.bluefoot-full-width {
  float: left;
  width: 100%;
}

.bluefoot-entity {
  box-sizing: border-box;
  margin-bottom: 20px;
}

@import 'hljs/hljs';

@import 'stage/block/media/_sliders';
@import 'stage/block/interactive/_accordion';