/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

.pagebuilder-full-width {
  float: left;
  width: 100%;
}

.pagebuilder-entity {
  box-sizing: border-box;
  margin-bottom: 20px;
}

@import 'hljs/hljs.less';

@import 'stage/block/media/_sliders.less';
@import 'stage/block/interactive/_accordion.less';

/*-- Responsive Sizes --*/

@wide:1500px;
@desktop:1024px;
@tablet:990px;
@mobile:770px;
@small:550px;

/*-- Responsive Classes --*/

.pagebuilder-mobile-only { display:none!important; }

@media all and (max-width: @mobile) {

  .pagebuilder-mobile-only { display:block!important; }
  .pagebuilder-mobile-hidden { display:none!important; }

}