<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div data-bind="attr: getAttributes({'data-mage-init': getMageInit()}), style: getStyle(), css: getCss(), foreach: getData().items" class="pagebuilder-accordion">
    <div data-collapsible="true" data-bind="attr: {'data-open-on-load': open_on_load}" class="accordion-collapsible">
        <div data-role="trigger">
            <span data-bind="text: title"></span>
        </div>
    </div>
    <div data-content="true" data-bind="html: content" class="accordion-content"></div>
</div>