<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div data-bind="attr: getAttributes(), style: getBannerContainerStyle(), css: getCss()">
    <a data-bind="attr: getLinkAttribute()">
        <div class="pagebuilder-banner-wrapper pagebuilder-banner-mobile pagebuilder-mobile-only" data-bind="style: getBannerStyles('mobileImage')">
            <div class="pagebuilder-overlay pagebuilder-poster-overlay" data-bind="attr: getOverlayAttributes(), style: getOverlayStyles()">
                <div class="pagebuilder-poster-content">
                    <div data-bind="html: getContentHtml()"></div>
                    <button type="button" class="pagebuilder-banner-button" data-bind="text: getData().button_text, style: getButtonStyle(), css: getData().button_type"></button>
                </div>
            </div>
        </div>
        <div class="pagebuilder-banner-wrapper pagebuilder-banner-image" data-bind="style: getBannerStyles('image'), css: {'pagebuilder-mobile-hidden': getData().mobile_image}">
            <div class="pagebuilder-overlay pagebuilder-poster-overlay" data-bind="attr: getOverlayAttributes(), style: getOverlayStyles()">
                <div class="pagebuilder-poster-content">
                    <div data-bind="html: getContentHtml()"></div>
                    <button type="button" class="pagebuilder-banner-button" data-bind="text: getData().button_text, style: getButtonStyle(), css: getData().button_type"></button>
                </div>
            </div>
        </div>
    </a>
</div>
