<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div data-bind="attr: getAttributes(), style: getStyle(), css: getCss()">
    <a data-bind="attr: { href: getData().link_url, target: getData().open_in_new_tab === '1' ? '_blank' : false }">
        <div class="pagebuilder-banner-wrapper pagebuilder-banner-mobile pagebuilder-mobile-only" data-bind="attr: getBannerAttributes('mobileImage')">
            <div class="pagebuilder-poster-overlay" data-bind="attr: getOverlayAttributes()">
                <div class="pagebuilder-poster-content" data-bind="attr: getContentAttributes()">
                    <div data-bind="html: getContentHtml()"></div>
                    <button type="button" class="pagebuilder-banner-button action primary" data-bind="text: getData().button_text, style: {visibility: getData().show_button === 'always' ? 'visible' : 'hidden', opacity: getData().show_button === 'always' ? '1' : '0'}"></button>
                </div>
            </div>
        </div>
        <div class="pagebuilder-banner-wrapper pagebuilder-banner-image" data-bind="attr: getBannerAttributes('image'), css: {'pagebuilder-mobile-hidden': getData().mobile_image}">
            <div class="pagebuilder-poster-overlay" data-bind="attr: getOverlayAttributes()">
                <div class="pagebuilder-poster-content" data-bind="attr: getContentAttributes()">
                    <div data-bind="html: getContentHtml()"></div>
                    <button type="button" class="pagebuilder-banner-button action primary" data-bind="text: getData().button_text, style: {visibility: getData().show_button === 'always' ? 'visible' : 'hidden', opacity: getData().show_button === 'always' ? '1' : '0'}"></button>
                </div>
            </div>
        </div>
    </a>
</div>
