<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: getData('main').heading_type == 'h1' -->
<h1 data-bind="html: getHtml('main'), attr: getAttributes('main'), style: getStyle('main'), css: getCss('main')"></h1>
<!-- /ko -->
<!-- ko if: getData('main').heading_type == 'h2' -->
<h2 data-bind="html: getHtml('main'), attr: getAttributes('main'), style: getStyle('main'), css: getCss('main')"></h2>
<!-- /ko -->
<!-- ko if: getData('main').heading_type == 'h3' -->
<h3 data-bind="html: getHtml('main'), attr: getAttributes('main'), style: getStyle('main'), css: getCss('main')"></h3>
<!-- /ko -->
<!-- ko if: getData('main').heading_type == 'h4' -->
<h4 data-bind="html: getHtml('main'), attr: getAttributes('main'), style: getStyle('main'), css: getCss('main')"></h4>
<!-- /ko -->
<!-- ko if: getData('main').heading_type == 'h5' -->
<h5 data-bind="html: getHtml('main'), attr: getAttributes('main'), style: getStyle('main'), css: getCss('main')"></h5>
<!-- /ko -->
<!-- ko if: getData('main').heading_type == 'h6' -->
<h6 data-bind="html: getHtml('main'), attr: getAttributes('main'), style: getStyle('main'), css: getCss('main')"></h6>
<!-- /ko -->
