<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<if args ="data.main.heading_type() == 'h1'">
    <h1 attr="data.main.attributes" ko-style="data.main.style" css="data.main.css" html="data.main.html"></h1>
</if>
<if args ="data.main.heading_type() == 'h2'">
    <h2 attr="data.main.attributes" ko-style="data.main.style" css="data.main.css" html="data.main.html"></h2>
</if>
<if args ="data.main.heading_type() == 'h3'">
    <h3 attr="data.main.attributes" ko-style="data.main.style" css="data.main.css" html="data.main.html"></h3>
</if>
<if args ="data.main.heading_type() == 'h4'">
    <h4 attr="data.main.attributes" ko-style="data.main.style" css="data.main.css" html="data.main.html"></h4>
</if>
<if args ="data.main.heading_type() == 'h5'">
    <h5 attr="data.main.attributes" ko-style="data.main.style" css="data.main.css" html="data.main.html"></h5>
</if>
<if args ="data.main.heading_type() == 'h6'">
    <h6 attr="data.main.attributes" ko-style="data.main.style" css="data.main.css" html="data.main.html"></h6>
</if>
