<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: getData('main').heading_type == 'h1' -->
<h1 data-bind="attr: data.main.attributes, style: data.main.style, css: data.main.css, html: data.main.html"></h1>
<!-- /ko -->
<!-- ko if: getData('main').heading_type == 'h2' -->
<h2 data-bind="attr: data.main.attributes, style: data.main.style, css: data.main.css, html: data.main.html"></h2>
<!-- /ko -->
<!-- ko if: getData('main').heading_type == 'h3' -->
<h3 data-bind="attr: data.main.attributes, style: data.main.style, css: data.main.css, html: data.main.html"></h3>
<!-- /ko -->
<!-- ko if: getData('main').heading_type == 'h4' -->
<h4 data-bind="attr: data.main.attributes, style: data.main.style, css: data.main.css, html: data.main.html"></h4>
<!-- /ko -->
<!-- ko if: getData('main').heading_type == 'h5' -->
<h5 data-bind="attr: data.main.attributes, style: data.main.style, css: data.main.css, html: data.main.html"></h5>
<!-- /ko -->
<!-- ko if: getData('main').heading_type == 'h6' -->
<h6 data-bind="attr: data.main.attributes, style: data.main.style, css: data.main.css, html: data.main.html"></h6>
<!-- /ko -->
