<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<figure data-bind="attr: getAttributes('main'), style: getStyle('main'), css: getCss('main')">
    <!-- ko if: getAttributes('link').href -->
        <a data-bind="attr: getAttributes('link')">
            <!-- ko if: getData('desktop_image').image.length -->
                <img data-bind="attr: getAttributes('desktop_image'), style: getStyle('desktop_image')" class="pagebuilder-mobile-hidden" />
            <!-- /ko -->
            <img data-bind="attr: getAttributes('mobile_image'), style: getStyle('mobile_image')" class="pagebuilder-mobile-only" />
        </a>
    <!-- /ko -->
    <!-- ko ifnot: getAttributes('link').href -->
        <!-- ko if: getData('desktop_image').image.length -->
            <img data-bind="attr: getAttributes('desktop_image'), style: getStyle('desktop_image')" class="pagebuilder-mobile-hidden" />
        <!-- /ko -->
        <img data-bind="attr: getAttributes('mobile_image'), style: getStyle('mobile_image')" class="pagebuilder-mobile-only" />
    <!-- /ko -->
    <!-- ko if: getData('caption').image_caption -->
        <figcaption data-bind="text: getHtml('caption')"></figcaption>
    <!-- /ko -->
</figure>
