<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div data-bind="attr: getAttributes('main'), style: getStyle('main'), css: Object.assign(getCss('main'), getAdditionalClasses())">
    <ul role="tablist" class="tabs-navigation" data-bind="foreach: getChildren(), style: getStyle('navigation')">
        <li role="tab" class="tab-header-li" data-bind="attr: { active: getData().default_active_tab }, style: $parent.getStyle('headers')">
            <a href="#no-tab" class="tab-header" data-bind="attr: { href: '#' + id }">
                <span class="tab-title" data-bind="text: getData().tab_name"></span>
            </a>
        </li>
    </ul>
    <div class="tabs-content" data-bind="style: getStyle('content')">
        <!-- ko template: renderChildTemplate --><!-- /ko -->
    </div>
</div>
