<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div data-bind="attr: getAttributes('main'), style: getStyle('main'), css: getCss('main')">
    <ul role="tablist" class="tabs-navigation" data-bind="foreach: getChildren()">
        <li role="tab" class="tab-header-li">
            <a href="#no-tab" class="tab-header" data-bind="attr: { href: '#' + id, title: getData().tab_name }">
                <span class="tab-title" data-bind="text: getData().tab_name"></span>
            </a>
        </li>
    </ul>
    <div class="tabs-content">
        <!-- ko template: renderChildTemplate --><!-- /ko -->
    </div>
</div>
