<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div data-bind="attr: getAttributes(), style: getStyle(), css: getCss()">
    <div class="product data items" data-mage-init='{"tabs":{"openedState":"active","collapsibleElement":"[data-collapsible=true]","content":"[data-content=true]"}}' data-bind="foreach: getData().tabs">
        <div class="data item title"
             data-collapsible="true">
            <a class="data switch"
               tabindex="-1"
               data-toggle="switch"
                data-bind="attr: { href: '#pagebuilder_tab' + record_id }, text: title">
            </a>
        </div>
        <div class="data item content" data-content="true" data-bind="attr: { id: 'pagebuilder_tab' + record_id }, html: content"></div>
    </div>
</div>
