// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Contained row appearance styles
//  _____________________________________________

.row-contained-wrapper {
    box-sizing: border-box;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: @layout__max-width;
    padding-left: 20px;
    padding-right: 20px;
}
