// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Contained row appearance styles
//  _______________________________

[data-role='row'][data-appearance='contained'] {
    box-sizing: border-box;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: @layout__max-width;
    padding-left: 20px;
    padding-right: 20px;

    [data-element='inner'] {
        box-sizing: border-box;
    }
}
