// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Full Width row appearance styles
//  _____________________________________________

[data-appearance='full-width'] > .row-full-width-inner {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: @layout__max-width;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
