// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles rendered through Mobile viewport
//  _____________________________________________________
.admin__fieldset .admin__field.admin__field-min-height-mobile {
    .admin__field-control._with-tooltip {
        display: flex;
        width: 19.6rem;

        .admin__control-addon {
            max-width: inherit;
        }

        .admin__field-tooltip {
            margin-left: 19px;
        }

        .admin__field-tooltip-action {
            &:before {
                content: url("@{baseDir}Magento_PageBuilder/css/images/form/element/mobile-icon.svg");
            }
        }

        .admin__field-tooltip-content {
            background: #707070;
            border: none;
            bottom: auto;
            box-shadow: unset;
            left: -1.9rem;
            opacity: 0.9;
            padding: 6px 15px 2px;
            top: 3rem;
            right: auto;
            width: 16rem;

            p {
                color: #ffffff;
                font-size: 1.2rem;
            }

            &:before {
                border-bottom: 7px solid #707070;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: unset;
                content: '';
                height: 0;
                left: 20px;
                opacity: 0.9;
                position: absolute;
                top: -5px;
                width: 0;
            }

            &:after {
                display: none;
            }
        }
    }
}
