<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Ui\Component\Form\Element\Wysiwyg" type="Gene\BlueFoot\Component\Form\Element\Wysiwyg" />
    <preference for="Magento\Catalog\Ui\Component\Category\Form\Element\Wysiwyg" type="Gene\BlueFoot\Component\Form\Element\Wysiwyg" />
    <preference for="Magento\Framework\Data\Form\Element\Editor" type="Gene\BlueFoot\Block\Element\Editor" />
    <preference for="Gene\BlueFoot\Model\Config\ConfigInterface" type="Gene\BlueFoot\Model\Config" />

    <preference for="Gene\BlueFoot\Api\Data\EntityInterface" type="Gene\BlueFoot\Model\Entity" />
    <preference for="Gene\BlueFoot\Api\Data\EntitySearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Gene\BlueFoot\Api\EntityRepositoryInterface" type="Gene\BlueFoot\Model\EntityRepository" />

    <preference for="Gene\BlueFoot\Api\Data\ContentBlockInterface" type="Gene\BlueFoot\Model\Attribute\ContentBlock" />
    <preference for="Gene\BlueFoot\Api\Data\ContentBlockSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Gene\BlueFoot\Api\ContentBlockRepositoryInterface" type="Gene\BlueFoot\Model\Attribute\ContentBlockRepository" />

    <preference for="Gene\BlueFoot\Api\Data\ContentBlockGroupInterface" type="Gene\BlueFoot\Model\Attribute\ContentBlock\Group" />
    <preference for="Gene\BlueFoot\Api\Data\ContentBlockGroupSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Gene\BlueFoot\Api\ContentBlockGroupRepositoryInterface" type="Gene\BlueFoot\Model\Attribute\ContentBlock\GroupRepository" />

    <preference for="Gene\BlueFoot\Api\Data\AttributeInterface" type="Gene\BlueFoot\Model\Attribute" />
    <preference for="Gene\BlueFoot\Api\AttributeRepositoryInterface" type="Gene\BlueFoot\Model\Attribute\Repository" />
    <preference for="Gene\BlueFoot\Api\AttributeGroupRepositoryInterface" type="Gene\BlueFoot\Model\AttributeGroupRepository" />

    <type name="Magento\Eav\Model\Entity\Setup\PropertyMapper\Composite">
        <arguments>
            <argument name="propertyMappers" xsi:type="array">
                <item name="bluefoot" xsi:type="string">Gene\BlueFoot\Model\ResourceModel\Setup\PropertyMapper</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\Config\Converter">
        <plugin name="gene_bluefoot_ui_injector" type="Gene\BlueFoot\Plugin\UiPlugin" sortOrder="1" />
    </type>

    <type name="Magento\Eav\Model\Entity\AttributeCache">
        <arguments>
            <argument name="unsupportedTypes" xsi:type="array">
                <item name="gene_bluefoot_entity" xsi:type="string">gene_bluefoot_entity</item>
            </argument>
        </arguments>
    </type>

    <type name="Gene\BlueFoot\Observer\SaveEntity">
        <arguments>
            <argument name="supportedFields" xsi:type="array">
                <item name="Magento\Cms\Model\Page" xsi:type="array">
                    <item name="content" xsi:type="string">content</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Gene\BlueFoot\Model\Stage\Save\Renderer\Block">
        <arguments>
            <argument name="mergeAttributes" xsi:type="array">
                <item name="class" xsi:type="string">class</item>
                <item name="style" xsi:type="string">style</item>
            </argument>
        </arguments>
    </type>

    <type name="Gene\BlueFoot\Model\Stage\Config\UiComponentConfig">
        <arguments>
            <argument name="configFactory" xsi:type="object">uiComponentConfigFactory</argument>
        </arguments>
    </type>
    <type name="Gene\BlueFoot\Setup\RendererPool">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="row" xsi:type="object">Gene\BlueFoot\Setup\RowRenderer</item>
                <item name="column" xsi:type="object">Gene\BlueFoot\Setup\ColumnRenderer</item>
                <item name="heading" xsi:type="object">Gene\BlueFoot\Setup\HeadingRenderer</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ChildrenExtractor" type="Gene\BlueFoot\Setup\ConfigurableChildrenExtractor">
        <arguments>
            <argument name="path" xsi:type="string">children</argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\ChildrenExtractorPool">
        <arguments>
            <argument name="extractors" xsi:type="array">
                <item name="default" xsi:type="object">Gene\BlueFoot\Setup\DummyChildrenExtractor</item>
                <item name="row" xsi:type="object">ChildrenExtractor</item>
                <item name="column" xsi:type="object">ChildrenExtractor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Block\Page">
        <plugin name="filter_dynamic_blocks" type="Gene\BlueFoot\Plugin\Cms\Block\Page" />
    </type>
    <type name="Magento\Cms\Block\Block">
        <plugin name="filter_dynamic_blocks" type="Gene\BlueFoot\Plugin\Cms\Block\Block" />
    </type>
</config>