<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Ui\Component\Form\Element\Wysiwyg" type="Gene\BlueFoot\Component\Form\Element\Wysiwyg" />
    <preference for="Magento\Catalog\Ui\Component\Category\Form\Element\Wysiwyg" type="Gene\BlueFoot\Component\Form\Element\Wysiwyg" />
    <preference for="Magento\Framework\Data\Form\Element\Editor" type="Gene\BlueFoot\Block\Element\Editor" />
    <preference for="Gene\BlueFoot\Model\Config\ConfigInterface" type="Gene\BlueFoot\Model\Config" />

    <preference for="Gene\BlueFoot\Api\Data\EntityInterface" type="Gene\BlueFoot\Model\Entity" />
    <preference for="Gene\BlueFoot\Api\Data\EntitySearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Gene\BlueFoot\Api\EntityRepositoryInterface" type="Gene\BlueFoot\Model\EntityRepository" />

    <preference for="Gene\BlueFoot\Api\Data\ContentBlockInterface" type="Gene\BlueFoot\Model\Attribute\ContentBlock" />
    <preference for="Gene\BlueFoot\Api\Data\ContentBlockSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Gene\BlueFoot\Api\ContentBlockRepositoryInterface" type="Gene\BlueFoot\Model\Attribute\ContentBlockRepository" />

    <preference for="Gene\BlueFoot\Api\Data\ContentBlockGroupInterface" type="Gene\BlueFoot\Model\Attribute\ContentBlock\Group" />
    <preference for="Gene\BlueFoot\Api\Data\ContentBlockGroupSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Gene\BlueFoot\Api\ContentBlockGroupRepositoryInterface" type="Gene\BlueFoot\Model\Attribute\ContentBlock\GroupRepository" />

    <preference for="Gene\BlueFoot\Api\Data\AttributeInterface" type="Gene\BlueFoot\Model\Attribute" />
    <preference for="Gene\BlueFoot\Api\AttributeRepositoryInterface" type="Gene\BlueFoot\Model\Attribute\Repository" />
    <preference for="Gene\BlueFoot\Api\AttributeGroupRepositoryInterface" type="Gene\BlueFoot\Model\AttributeGroupRepository" />

    <preference for="Gene\BlueFoot\Setup\DataConverter\StyleExtractorInterface" type="Gene\BlueFoot\Setup\DataConverter\StyleExtractor" />

    <type name="Magento\Eav\Model\Entity\Setup\PropertyMapper\Composite">
        <arguments>
            <argument name="propertyMappers" xsi:type="array">
                <item name="bluefoot" xsi:type="string">Gene\BlueFoot\Model\ResourceModel\Setup\PropertyMapper</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\Config\Converter">
        <plugin name="gene_bluefoot_ui_injector" type="Gene\BlueFoot\Plugin\UiPlugin" sortOrder="1" />
    </type>

    <type name="Magento\Eav\Model\Entity\AttributeCache">
        <arguments>
            <argument name="unsupportedTypes" xsi:type="array">
                <item name="gene_bluefoot_entity" xsi:type="string">gene_bluefoot_entity</item>
            </argument>
        </arguments>
    </type>

    <type name="Gene\BlueFoot\Observer\SaveEntity">
        <arguments>
            <argument name="supportedFields" xsi:type="array">
                <item name="Magento\Cms\Model\Page" xsi:type="array">
                    <item name="content" xsi:type="string">content</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Gene\BlueFoot\Model\Stage\Save\Renderer\Block">
        <arguments>
            <argument name="mergeAttributes" xsi:type="array">
                <item name="class" xsi:type="string">class</item>
                <item name="style" xsi:type="string">style</item>
            </argument>
        </arguments>
    </type>

    <type name="Gene\BlueFoot\Model\Stage\Config\UiComponentConfig">
        <arguments>
            <argument name="configFactory" xsi:type="object">uiComponentConfigFactory</argument>
        </arguments>
    </type>
    <type name="Gene\BlueFoot\Setup\DataConverter\RendererPool">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="default" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Unmigrated</item>
                <item name="row" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Row</item>
                <item name="column" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Column</item>
                <item name="heading" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Heading</item>
                <item name="anchor" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Anchor</item>
                <item name="hr" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Divider</item>
                <item name="textarea" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Textarea</item>
                <item name="html" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Html</item>
                <item name="advanced_slider" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\AdvancedSlider</item>
                <item name="advanced_slider_item" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\AdvancedSliderItem</item>
                <item name="image" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Image</item>
                <item name="buttons" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Buttons</item>
                <item name="button_item" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\ButtonItem</item>
                <item name="video" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Video</item>
                <item name="slider" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Slider</item>
                <item name="slider_item" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\SliderItem</item>
                <item name="accordion" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Accordion</item>
                <item name="accordion_item" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\AccordionItem</item>
                <item name="map" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Map</item>
                <item name="code" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Code</item>
                <item name="newsletter" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Newsletter</item>
                <item name="tabs" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Tabs</item>
                <item name="tabs_item" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\TabsItem</item>
                <item name="search" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Search</item>
                <item name="static_block" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Block</item>
                <item name="driver" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Driver</item>
                <item name="product_list" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\ProductList</item>
                <item name="product" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\Renderer\Product</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ChildrenExtractor" type="Gene\BlueFoot\Setup\DataConverter\ChildrenExtractor\Configurable">
        <arguments>
            <argument name="path" xsi:type="string">children</argument>
        </arguments>
    </virtualType>
    <virtualType name="AdvancedSliderChildrenExtractor" type="Gene\BlueFoot\Setup\DataConverter\ChildrenExtractor\Configurable">
        <arguments>
            <argument name="path" xsi:type="string">children/advanced_slider_items</argument>
        </arguments>
    </virtualType>
    <virtualType name="SliderChildrenExtractor" type="Gene\BlueFoot\Setup\DataConverter\ChildrenExtractor\Configurable">
        <arguments>
            <argument name="path" xsi:type="string">children/slider_items</argument>
        </arguments>
    </virtualType>
    <virtualType name="AccordionChildrenExtractor" type="Gene\BlueFoot\Setup\DataConverter\ChildrenExtractor\Configurable">
        <arguments>
            <argument name="path" xsi:type="string">children/accordion_items</argument>
        </arguments>
    </virtualType>
    <virtualType name="ButtonsChildrenExtractor" type="Gene\BlueFoot\Setup\DataConverter\ChildrenExtractor\Configurable">
        <arguments>
            <argument name="path" xsi:type="string">children/button_items</argument>
        </arguments>
    </virtualType>
    <virtualType name="TabsChildrenExtractor" type="Gene\BlueFoot\Setup\DataConverter\ChildrenExtractor\Configurable">
        <arguments>
            <argument name="path" xsi:type="string">children/tabs_items</argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\ChildrenExtractorPool">
        <arguments>
            <argument name="extractors" xsi:type="array">
                <item name="default" xsi:type="object">Gene\BlueFoot\Setup\DataConverter\ChildrenExtractor\Dummy</item>
                <item name="row" xsi:type="object">ChildrenExtractor</item>
                <item name="column" xsi:type="object">ChildrenExtractor</item>
                <item name="advanced_slider" xsi:type="object">AdvancedSliderChildrenExtractor</item>
                <item name="buttons" xsi:type="object">ButtonsChildrenExtractor</item>
                <item name="slider" xsi:type="object">SliderChildrenExtractor</item>
                <item name="accordion" xsi:type="object">AccordionChildrenExtractor</item>
                <item name="tabs" xsi:type="object">TabsChildrenExtractor</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="HeadingEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="title" xsi:type="string">title</item>
                <item name="heading_type" xsi:type="string">heading_type</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TextareaEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="textarea" xsi:type="string">textarea</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="HtmlEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="html" xsi:type="string">html</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ImageEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="image" xsi:type="string">image</item>
                <item name="mobile_image" xsi:type="string">mobile_image</item>
                <item name="alt_tag" xsi:type="string">alt_tag</item>
                <item name="title_tag" xsi:type="string">title_tag</item>
                <item name="has_lightbox" xsi:type="string">has_lightbox</item>
                <item name="show_caption" xsi:type="string">show_caption</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="VideoEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="video_height" xsi:type="string">video_height</item>
                <item name="video_url" xsi:type="string">video_url</item>
                <item name="video_width" xsi:type="string">video_width</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Heading">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">HeadingEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="AnchorEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="anchor_id" xsi:type="string">anchor_id</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Anchor">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">AnchorEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="DividerEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="color" xsi:type="string">color</item>
                <item name="hr_width" xsi:type="string">hr_width</item>
                <item name="hr_height" xsi:type="string">hr_height</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Divider">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">DividerEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="AdvancedSliderEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="autoplay" xsi:type="string">autoplay</item>
                <item name="autoplay_speed" xsi:type="string">autoplay_speed</item>
                <item name="fade" xsi:type="string">fade</item>
                <item name="is_infinite" xsi:type="string">is_infinite</item>
                <item name="show_arrows" xsi:type="string">show_arrows</item>
                <item name="show_dots" xsi:type="string">show_dots</item>
                <item name="slider_advanced_settings" xsi:type="string">slider_advanced_settings</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\AdvancedSlider">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">AdvancedSliderEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="AdvancedSliderItemEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="title" xsi:type="string">title</item>
                <item name="has_overlay" xsi:type="string">has_overlay</item>
                <item name="link_text" xsi:type="string">link_text</item>
                <item name="link_url" xsi:type="string">link_url</item>
                <item name="textarea" xsi:type="string">textarea</item>
                <item name="background_image" xsi:type="string">background_image</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\AdvancedSliderItem">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">AdvancedSliderItemEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="SliderEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="autoplay" xsi:type="string">autoplay</item>
                <item name="autoplay_speed" xsi:type="string">autoplay_speed</item>
                <item name="fade" xsi:type="string">fade</item>
                <item name="is_infinite" xsi:type="string">is_infinite</item>
                <item name="show_arrows" xsi:type="string">show_arrows</item>
                <item name="show_dots" xsi:type="string">show_dots</item>
                <item name="slider_advanced_settings" xsi:type="string">slider_advanced_settings</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Slider">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">SliderEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="SliderItemEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="title" xsi:type="string">title</item>
                <item name="link_text" xsi:type="string">link_text</item>
                <item name="link_url" xsi:type="string">link_url</item>
                <item name="image" xsi:type="string">image</item>
                <item name="title_tag" xsi:type="string">title_tag</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\SliderItem">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">SliderItemEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="AccordionEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader" />
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Accordion">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">AccordionEntityHydrator</argument>
            <argument name="itemEavAttributeLoader" xsi:type="object">AccordionItemEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="AccordionItemEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="title" xsi:type="string">title</item>
                <item name="textarea" xsi:type="string">textarea</item>
                <item name="open_on_load" xsi:type="string">open_on_load</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\AccordionItem">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">AccordionItemEntityHydrator</argument>
        </arguments>
    </type>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Textarea">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">TextareaEntityHydrator</argument>
        </arguments>
    </type>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Html">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">HtmlEntityHydrator</argument>
        </arguments>
    </type>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Image">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">ImageEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="ButtonsEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="button_items" xsi:type="string">button_items</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Buttons">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">ButtonsEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="ButtonItemEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="link_text" xsi:type="string">link_text</item>
                <item name="link_url" xsi:type="string">link_url</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\ButtonItem">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">ButtonItemEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="TabsEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="tabs_item" xsi:type="string">tabs_item</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Tabs">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">TabsEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="TabsItemEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="textarea" xsi:type="string">textarea</item>
                <item name="title" xsi:type="string">title</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\TabsItem">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">TabsItemEntityHydrator</argument>
        </arguments>
    </type>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Video">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">VideoEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="MapEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="map" xsi:type="string">map</item>
                <item name="map_height" xsi:type="string">map_height</item>
                <item name="map_width" xsi:type="string">map_width</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Map">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">MapEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="DriverEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="alt_tag" xsi:type="string">alt_tag</item>
                <item name="image" xsi:type="string">image</item>
                <item name="link_text" xsi:type="string">link_text</item>
                <item name="link_url" xsi:type="string">link_url</item>
                <item name="mobile_image" xsi:type="string">mobile_image</item>
                <item name="target_blank" xsi:type="string">target_blank</item>
                <item name="title_tag" xsi:type="string">title_tag</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Driver">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">DriverEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="ProductEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="product_display" xsi:type="string">product_display</item>
                <item name="product_id" xsi:type="string">product_id</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Product">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">ProductEntityHydrator</argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Block\Page">
        <plugin name="filter_dynamic_blocks" type="Gene\BlueFoot\Plugin\Cms\Block\Page" />
    </type>
    <type name="Magento\Cms\Block\Block">
        <plugin name="filter_dynamic_blocks" type="Gene\BlueFoot\Plugin\Cms\Block\Block" />
    </type>
    <virtualType name="CodeEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="html" xsi:type="string">html</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Code">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">CodeEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="NewsletterEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="button_text" xsi:type="string">button_text</item>
                <item name="label" xsi:type="string">label</item>
                <item name="title" xsi:type="string">title</item>
                <item name="placeholder" xsi:type="string">placeholder</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Newsletter">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">NewsletterEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="SearchEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="placeholder" xsi:type="string">placeholder</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Search">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">SearchEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="BlockEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="block_id" xsi:type="string">block_id</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\Block">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">BlockEntityHydrator</argument>
        </arguments>
    </type>
    <virtualType name="ProductListEntityHydrator" type="Gene\BlueFoot\Setup\DataConverter\ConfigurableEavLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="category_id" xsi:type="string">category_id</item>
                <item name="hide_out_of_stock" xsi:type="string">hide_out_of_stock</item>
                <item name="product_count" xsi:type="string">product_count</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Gene\BlueFoot\Setup\DataConverter\Renderer\ProductList">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">ProductListEntityHydrator</argument>
        </arguments>
    </type>
</config>
