<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Ui\Component\Form\Element\Wysiwyg" type="Gene\BlueFoot\Component\Form\Element\Wysiwyg" />
    <preference for="Magento\Framework\Data\Form\Element\Editor" type="Gene\BlueFoot\Block\Element\Editor" />
    <preference for="Gene\BlueFoot\Model\Config\ConfigInterface" type="Gene\BlueFoot\Model\Config" />

    <preference for="Gene\BlueFoot\Api\Data\EntityInterface" type="Gene\BlueFoot\Model\Entity" />
    <preference for="Gene\BlueFoot\Api\Data\EntitySearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Gene\BlueFoot\Api\EntityRepositoryInterface" type="Gene\BlueFoot\Model\EntityRepository" />

    <preference for="Gene\BlueFoot\Api\Data\ContentBlockInterface" type="Gene\BlueFoot\Model\Attribute\ContentBlock" />
    <preference for="Gene\BlueFoot\Api\Data\ContentBlockSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Gene\BlueFoot\Api\ContentBlockRepositoryInterface" type="Gene\BlueFoot\Model\Attribute\ContentBlockRepository" />

    <preference for="Gene\BlueFoot\Api\Data\ContentBlockGroupInterface" type="Gene\BlueFoot\Model\Attribute\ContentBlock\Group" />
    <preference for="Gene\BlueFoot\Api\Data\ContentBlockGroupSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Gene\BlueFoot\Api\ContentBlockGroupRepositoryInterface" type="Gene\BlueFoot\Model\Attribute\ContentBlock\GroupRepository" />

    <preference for="Gene\BlueFoot\Api\Data\AttributeInterface" type="Gene\BlueFoot\Model\Attribute" />
    <preference for="Gene\BlueFoot\Api\AttributeRepositoryInterface" type="Gene\BlueFoot\Model\Attribute\Repository" />
    <preference for="Gene\BlueFoot\Api\AttributeGroupRepositoryInterface" type="Gene\BlueFoot\Model\AttributeGroupRepository" />

    <type name="Magento\Eav\Model\Entity\Setup\PropertyMapper\Composite">
        <arguments>
            <argument name="propertyMappers" xsi:type="array">
                <item name="bluefoot" xsi:type="string">Gene\BlueFoot\Model\ResourceModel\Setup\PropertyMapper</item>
            </argument>
        </arguments>
    </type>
</config>