<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Data\Form\Element\Editor" type="Gene\BlueFoot\Block\Element\Editor" />
    <preference for="Gene\BlueFoot\Model\Config\ConfigInterface" type="Gene\BlueFoot\Model\Config" />

    <preference for="Gene\BlueFoot\Api\Data\EntityInterface" type="Gene\BlueFoot\Model\Entity" />
    <preference for="Gene\BlueFoot\Api\Data\EntitySearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Gene\BlueFoot\Api\EntityRepositoryInterface" type="Gene\BlueFoot\Model\EntityRepository" />

    <preference for="Gene\BlueFoot\Api\Data\ContentBlockInterface" type="Gene\BlueFoot\Model\Attribute\ContentBlock" />
    <preference for="Gene\BlueFoot\Api\Data\ContentBlockSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Gene\BlueFoot\Api\ContentBlockRepositoryInterface" type="Gene\BlueFoot\Model\Attribute\ContentBlockRepository" />

    <preference for="Gene\BlueFoot\Api\Data\ContentBlockGroupInterface" type="Gene\BlueFoot\Model\Attribute\ContentBlock\Group" />
    <preference for="Gene\BlueFoot\Api\Data\ContentBlockGroupSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Gene\BlueFoot\Api\ContentBlockGroupRepositoryInterface" type="Gene\BlueFoot\Model\Attribute\ContentBlock\GroupRepository" />

    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Gene\BlueFoot\Api\Data\EntityInterface" xsi:type="string">Gene\BlueFoot\Api\EntityRepositoryInterface</item>
                <item name="Gene\BlueFoot\Api\Data\ContentBlockInterface" xsi:type="string">Gene\BlueFoot\Api\ContentBlockRepositoryInterface</item>
                <item name="Gene\BlueFoot\Api\Data\ContentBlockGroupInterface" xsi:type="string">Gene\BlueFoot\Api\ContentBlockGroupRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
</config>