/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * _image contains {less} for image blocks
 *
 */
.@{prefix}-image{
  a {
    width:auto;
    display:inline-block;
  }
  img {
    max-width:100%;
    display:block;
  }
  figcaption {
    text-align:center;
    margin-top:@margin;
  }
}