/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * _buttons contains {less} for buttons
 */
.pagebuilder-buttons {
    padding: 10px;
    .element-children {
        display: inline-block;
    }
    .pagebuilder-structure-wrapper {
        width: initial;
        vertical-align: baseline;
    }

    .add-button {
        vertical-align: middle;
    }
    // Hidden until we implement add button on drop
    //.add-button {
    //    visibility: hidden;
    //}
    &:hover {
        border: 1px solid #ccc !important;
        // Hidden until we implement add button on drop
        //.add-button {
        //    visibility: visible;
        //}
    }
}
