/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * _buttons contains {less} for buttons
 */
.pagebuilder-button {
    // /**
    // * Copyright © Magento, Inc. All rights reserved.
    // * See COPYING.txt for license details.
    // */

    .pagebuilder-button-secondary {
        background-image: none;
        background: #e3e3e3;
        border-color: #adadad;
        color: #514943;
        cursor: pointer;
        display: inline-block;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 600;
        padding: 7px 15px;
        font-size: 1.4rem;
        box-sizing: border-box;
        border-radius: 5px;
        &:hover {
            text-decoration: none;
        }
    }

    .pagebuilder-options {
        right: unset;
        left: unset;
        top: unset;
        transform: translateY(-75%) translateX(-35%);
        width: max-content;
        li.pagebuilder-options-link {
            margin: 0;
        }
    }



}
