/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * _buttons contains {less} for buttons
 */
.pagebuilder-buttons {
    .element-children {
        display: inline-block;
    }
    .pagebuilder-structure-wrapper {
        width: initial;
        vertical-align: unset;
    }
}
