/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * _buttons contains {less} for buttons
 */
.pagebuilder-button {
    .pagebuilder-options {
        right: unset;
        left: unset;
        top: unset;
        transform: translateY(-75%) translateX(-35%);
        width: max-content;
        li.pagebuilder-options-link {
            margin: 0;
        }
    }


}
