// /**
// * Copyright © Magento, Inc. All rights reserved.
// * See COPYING.txt for license details.
// */

//
//  _button-item contains {less} for button-item
//  _____________________________________________

.pagebuilder-button-item {
    width: auto;
    .pagebuilder-button-primary {
        .lib-link-as-button();
        .lib-button-primary(@_button-margin: 0 10px 10px 0);
        .lib-button-l();
        .lib-css(border-radius, @button__border-radius);
    }

    .pagebuilder-button-secondary {
        .lib-link-as-button();
        .lib-button(@_button-margin: 0 10px 10px 0);
        .lib-button-l();
        .lib-css(border-radius, @button__border-radius);
    }

    .pagebuilder-button-link {
        .lib-button-l();
        .lib-button-as-link(
            @_margin: 0 10px 10px 0,
            @_padding: @button__padding__l
        );
        .lib-link-as-button();
    }

    .placeholder-text {
        opacity: 0.5;
    }

    .pagebuilder-options {
        left: 0;
        top: -35px !important;
        min-width: 230px;
        li.pagebuilder-options-link {
            margin: 0;
        }
    }
}
