/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * _buttons contains {less} for buttons
 */
.pagebuilder-button-item {
    width: auto;
    .pagebuilder-button-primary {
        .lib-link-as-button();
        .lib-button-primary();
    }

    .pagebuilder-button-secondary {
        .lib-link-as-button();
        .lib-button();
        line-height: 1.6rem;
    }

    .pagebuilder-options {
        left: 0;
        top: -35px !important;
        min-width: 230px;
        li.pagebuilder-options-link {
            margin: 0;
        }
    }
}
