/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * _code contains {less} for code
 */
@import '_code-theme';

.pagebuilder-code {
  text-align:left!important;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size:13px;
  tab-size:8;
  line-height:1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  code {
    padding:@margin;

    box-sizing:border-box;
    border-radius:3px;
  }
}