/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * _search contains {less} for search blocks
 */
.pagebuilder-search-block {
  background:@light_grey;
  padding:@margin;
  box-sizing:border-box;
  .pagebuilder-block-button {
    position:absolute;
    right:0;
    top:0;
    color: white;
    background-color: @theme_color_1;
    border:1px solid @theme_color_1;
    border-radius:0 2px 2px 0;
  }
}

.pagebuilder-search-block-input {
  display:block;
  margin:0;
  width:100%;
  padding:0 @margin/2;
  border:1px solid @border_color;
  border-radius:3px;
  line-height:@commonHeight;
  background:white;
  box-sizing:border-box;
  position:relative;
}
