/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * _content-types includes generic {less} for Page Builder blocks
 *
 */
.bluefoot-entity-align-left {
  text-align:left;
}
.bluefoot-entity-align-center {
  text-align:center;
}
.bluefoot-entity-align-right {
  text-align:right;
}
