// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

div[data-role='tabs'] {
    .tabs-navigation {
        display: block;
        font-size: 0;
        margin: 0 0 -1px 0;
        padding: 0;
        position: relative;
        z-index: 10;

        li.tab-header-li {
            display: inline-block;
            margin: 0;

            a.tab-header {
                background: #f6f6f6;
                border: 1px solid rgba(153, 153, 153, .3);
                border-right: 0;
                color: black;
                cursor: pointer!important;
                display: block;
                font-size: 14px;
                font-weight: bold;
                padding: 1.4rem 2rem;
                position: relative;
                transition: all .3s;
                vertical-align: middle;
                white-space: normal;

                span.tab-title {
                    display: block;
                }

                &:hover {
                    text-decoration: none;
                }
            }

            &:last-child a.tab-header {
                border-right: 1px solid rgba(153, 153, 153, .3);
            }

            &.ui-state-active  {
                a.tab-header {
                    background: #fff;
                    border-bottom: 1px solid white;
                    transition: all .3s;
                }
            }
        }
    }

    .tabs-content {
        position: relative;
        z-index: 9;

        [data-role='tab'] {
            border: 1px solid rgba(153, 153, 153, .3);
        }
    }
}

