// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

[data-role='banner'] > a {
    color: inherit;
    text-decoration: inherit;

    &:hover {
        color: inherit;
        text-decoration: inherit;
    }
}

.pagebuilder-banner-wrapper {
    box-sizing: border-box;
    .pagebuilder-overlay {
        -moz-transition: background-color 500ms ease;
        -o-transition: background-color 500ms ease;
        -webkit-transition: background-color 500ms ease;
        box-sizing: border-box;
        transition: background-color 500ms ease;
        &.pagebuilder-poster-overlay {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }

    [data-element='content'] {
        word-wrap: break-word;
    }

    .pagebuilder-banner-button {
        -moz-transition: opacity 500ms ease;
        -o-transition: opacity 500ms ease;
        -webkit-transition: opacity 500ms ease;
        margin-top: 20px;
        transition: opacity 500ms ease;
    }
}
