<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Eav\Model\Entity\AttributeLoaderInterface" type="Magento\Eav\Model\Entity\AttributeLoader" />

    <type name="Magento\Framework\Controller\ResultInterface">
        <plugin name="bluefoot-render-page" type="Gene\BlueFoot\Plugin\RenderPageBuilder" sortOrder="100" />
    </type>
</config>
