<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Render the page builder before the controller sends the response -->
    <event name="controller_front_send_response_before">
        <observer name="render_pagebuilder" instance="Gene\BlueFoot\Observer\RenderPageBuilder" />
    </event>

    <!-- Intercept the render sections event to include extra blocks -->
    <event name="gene_bluefoot_render_sections">
        <observer name="add_product_price_block" instance="Gene\BlueFoot\Observer\Widget\AddProductPriceBlock" />
    </event>
</config>
