// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

.pagebuilder-content-type .pagebuilder-block {
    .pagebuilder-block-placeholder {
        align-items: center;
        background-color: @color-gray98;
        display: flex;
        justify-content: center;
        min-height: 300px;

        .placeholder-text {
            color: @color-gray65-lighten;
            font-size: 20px;
            font-weight: lighter;
        }
    }
    .rendered-content {
        min-height: 50px;
        pointer-events: none;
    }
    .admin__data-grid-loading-mask {
        z-index: 21;
    }
}
.pagebuilder-block-chooser {
    .block-title {
        line-height: 3.3rem;
    }
    .chooser-button {
        margin-top: 5px;
    }
    .block-info {
        margin-top: 25px;
        width: 100%;

        tr._odd-row td {
            background-color: @color-white-smoke;
        }
        td {
            background-color: @color-white;
            color: @color-very-dark-gray-black;
            padding: 1rem 1rem;

            &:first-child {
                width: 33%;
            }
        }
        p {
            margin: 0;

            & + p {
                margin: .5em 0 0;
            }
        }
    }
}

:not(.pagebuilder-content-type-hidden) {
    > .pagebuilder-block.pagebuilder-content-type.pagebuilder-block-overlay {
        -moz-transition: opacity 200ms, visibility 200ms;
        -o-transition: opacity 200ms, visibility 200ms;
        -webkit-transition: opacity, 200ms visibility 200ms;
        transition: opacity 200ms, visibility 200ms;

        &:before {
            content: '';
            opacity: 0;
            visibility: hidden;
        }

        &:hover:before {
            opacity: 1;
            visibility: visible;
        }
    }
}

.pagebuilder-block-modal {
    margin-top: 15px;
}
