<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\PageBuilderDataMigration\Setup\DataConverter\StyleExtractorInterface" type="Magento\PageBuilderDataMigration\Setup\DataConverter\StyleExtractor" />
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\RendererPool">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="default" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Unmigrated</item>
                <item name="row" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Row</item>
                <item name="column" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Column</item>
                <item name="column_group" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\ColumnGroup</item>
                <item name="heading" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Heading</item>
                <item name="anchor" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Anchor</item>
                <item name="hr" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Divider</item>
                <item name="textarea" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Textarea</item>
                <item name="html" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Html</item>
                <item name="advanced_slider" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\AdvancedSlider</item>
                <item name="advanced_slider_item" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\AdvancedSliderItem</item>
                <item name="image" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Image</item>
                <item name="buttons" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Buttons</item>
                <item name="button_item" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\ButtonItem</item>
                <item name="video" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Video</item>
                <item name="slider" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\AdvancedSlider</item>
                <item name="slider_item" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\AdvancedSliderItem</item>
                <item name="accordion" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Accordion</item>
                <item name="accordion_item" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\AccordionItem</item>
                <item name="map" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Map</item>
                <item name="code" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Code</item>
                <item name="newsletter" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Newsletter</item>
                <item name="tabs" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Tabs</item>
                <item name="tabs_item" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\TabsItem</item>
                <item name="search" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Search</item>
                <item name="static_block" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Block</item>
                <item name="driver" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Driver</item>
                <item name="product_list" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\ProductList</item>
                <item name="product" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Product</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ChildrenExtractor" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ChildrenExtractor\Configurable">
        <arguments>
            <argument name="path" xsi:type="string">children</argument>
        </arguments>
    </virtualType>
    <virtualType name="AdvancedSliderChildrenExtractor" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ChildrenExtractor\Configurable">
        <arguments>
            <argument name="path" xsi:type="string">children/advanced_slider_items</argument>
        </arguments>
    </virtualType>
    <virtualType name="SliderChildrenExtractor" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ChildrenExtractor\Configurable">
        <arguments>
            <argument name="path" xsi:type="string">children/slider_items</argument>
        </arguments>
    </virtualType>
    <virtualType name="AccordionChildrenExtractor" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ChildrenExtractor\Configurable">
        <arguments>
            <argument name="path" xsi:type="string">children/accordion_items</argument>
        </arguments>
    </virtualType>
    <virtualType name="ButtonsChildrenExtractor" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ChildrenExtractor\Configurable">
        <arguments>
            <argument name="path" xsi:type="string">children/button_items</argument>
        </arguments>
    </virtualType>
    <virtualType name="TabsChildrenExtractor" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ChildrenExtractor\Configurable">
        <arguments>
            <argument name="path" xsi:type="string">children/tabs_items</argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\ChildrenExtractorPool">
        <arguments>
            <argument name="extractors" xsi:type="array">
                <item name="default" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\ChildrenExtractor\Dummy</item>
                <item name="row" xsi:type="object">ChildrenExtractor</item>
                <item name="column" xsi:type="object">ChildrenExtractor</item>
                <item name="advanced_slider" xsi:type="object">AdvancedSliderChildrenExtractor</item>
                <item name="buttons" xsi:type="object">ButtonsChildrenExtractor</item>
                <item name="slider" xsi:type="object">SliderChildrenExtractor</item>
                <item name="accordion" xsi:type="object">AccordionChildrenExtractor</item>
                <item name="tabs" xsi:type="object">TabsChildrenExtractor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\ChildrenRendererPool">
        <arguments>
            <argument name="renderers" xsi:type="array">
                <item name="default" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\ChildrenRenderer\Concatenation</item>
                <item name="row" xsi:type="object">Magento\PageBuilderDataMigration\Setup\DataConverter\ChildrenRenderer\Row</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="HeadingEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="title" xsi:type="string">title</item>
                <item name="heading_type" xsi:type="string">heading_type</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TextareaEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="textarea" xsi:type="string">textarea</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="HtmlEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="html" xsi:type="string">html</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ImageEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="image" xsi:type="string">image</item>
                <item name="mobile_image" xsi:type="string">mobile_image</item>
                <item name="alt_tag" xsi:type="string">alt_tag</item>
                <item name="title_tag" xsi:type="string">title_tag</item>
                <item name="has_lightbox" xsi:type="string">has_lightbox</item>
                <item name="show_caption" xsi:type="string">show_caption</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="VideoEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="video_height" xsi:type="string">video_height</item>
                <item name="video_url" xsi:type="string">video_url</item>
                <item name="video_width" xsi:type="string">video_width</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Heading">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">HeadingEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="AnchorEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="anchor_id" xsi:type="string">anchor_id</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Anchor">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">AnchorEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="DividerEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="color" xsi:type="string">color</item>
                <item name="hr_width" xsi:type="string">hr_width</item>
                <item name="hr_height" xsi:type="string">hr_height</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Divider">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">DividerEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="AdvancedSliderEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="autoplay" xsi:type="string">autoplay</item>
                <item name="autoplay_speed" xsi:type="string">autoplay_speed</item>
                <item name="fade" xsi:type="string">fade</item>
                <item name="is_infinite" xsi:type="string">is_infinite</item>
                <item name="show_arrows" xsi:type="string">show_arrows</item>
                <item name="show_dots" xsi:type="string">show_dots</item>
                <item name="slider_advanced_settings" xsi:type="string">slider_advanced_settings</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\AdvancedSlider">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">AdvancedSliderEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="AdvancedSliderItemEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="title" xsi:type="string">title</item>
                <item name="has_overlay" xsi:type="string">has_overlay</item>
                <item name="link_text" xsi:type="string">link_text</item>
                <item name="link_url" xsi:type="string">link_url</item>
                <item name="textarea" xsi:type="string">textarea</item>
                <item name="background_image" xsi:type="string">background_image</item>
                <item name="image" xsi:type="string">image</item>
                <item name="title_tag" xsi:type="string">title_tag</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\AdvancedSliderItem">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">AdvancedSliderItemEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="SliderEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="autoplay" xsi:type="string">autoplay</item>
                <item name="autoplay_speed" xsi:type="string">autoplay_speed</item>
                <item name="fade" xsi:type="string">fade</item>
                <item name="is_infinite" xsi:type="string">is_infinite</item>
                <item name="show_arrows" xsi:type="string">show_arrows</item>
                <item name="show_dots" xsi:type="string">show_dots</item>
                <item name="slider_advanced_settings" xsi:type="string">slider_advanced_settings</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Slider">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">SliderEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="AccordionEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader" />
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Accordion">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">AccordionEavAttributeLoader</argument>
            <argument name="itemEavAttributeLoader" xsi:type="object">AccordionItemEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="AccordionItemEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="title" xsi:type="string">title</item>
                <item name="textarea" xsi:type="string">textarea</item>
                <item name="open_on_load" xsi:type="string">open_on_load</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\AccordionItem">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">AccordionItemEavAttributeLoader</argument>
        </arguments>
    </type>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Textarea">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">TextareaEavAttributeLoader</argument>
        </arguments>
    </type>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Html">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">HtmlEavAttributeLoader</argument>
        </arguments>
    </type>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Image">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">ImageEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="ButtonsEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="button_items" xsi:type="string">button_items</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Buttons">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">ButtonsEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="ButtonItemEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="link_text" xsi:type="string">link_text</item>
                <item name="link_url" xsi:type="string">link_url</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\ButtonItem">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">ButtonItemEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="TabsEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="tabs_item" xsi:type="string">tabs_item</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Tabs">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">TabsEavAttributeLoader</argument>
            <argument name="tabItemEavAttributeLoader" xsi:type="object">TabsItemEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="TabsItemEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="textarea" xsi:type="string">textarea</item>
                <item name="title" xsi:type="string">title</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\TabsItem">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">TabsItemEavAttributeLoader</argument>
        </arguments>
    </type>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Video">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">VideoEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="MapEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="map" xsi:type="string">map</item>
                <item name="map_height" xsi:type="string">map_height</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Map">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">MapEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="DriverEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="image" xsi:type="string">image</item>
                <item name="mobile_image" xsi:type="string">mobile_image</item>
                <item name="link_url" xsi:type="string">link_url</item>
                <item name="link_text" xsi:type="string">link_text</item>
                <item name="target_blank" xsi:type="string">target_blank</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Driver">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">DriverEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="ProductEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="product_display" xsi:type="string">product_display</item>
                <item name="product_id" xsi:type="string">product_id</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Product">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">ProductEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="CodeEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="html" xsi:type="string">html</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Code">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">CodeEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="NewsletterEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="button_text" xsi:type="string">button_text</item>
                <item name="label" xsi:type="string">label</item>
                <item name="title" xsi:type="string">title</item>
                <item name="placeholder" xsi:type="string">placeholder</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Newsletter">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">NewsletterEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="SearchEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="placeholder" xsi:type="string">placeholder</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Search">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">SearchEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="BlockEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="block_id" xsi:type="string">block_id</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\Block">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">BlockEavAttributeLoader</argument>
        </arguments>
    </type>
    <virtualType name="ProductListEavAttributeLoader" type="Magento\PageBuilderDataMigration\Setup\DataConverter\ConfigurableEavAttributeLoader">
        <arguments>
            <argument name="additionalEavAttributes" xsi:type="array">
                <item name="category_id" xsi:type="string">category_id</item>
                <item name="hide_out_of_stock" xsi:type="string">hide_out_of_stock</item>
                <item name="product_count" xsi:type="string">product_count</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\Renderer\ProductList">
        <arguments>
            <argument name="eavAttributeLoader" xsi:type="object">ProductListEavAttributeLoader</argument>
        </arguments>
    </type>
    <type name="Magento\PageBuilderDataMigration\Setup\DataConverter\TreeConverter">
        <arguments>
            <argument name="unseparatableContentTypes" xsi:type="array">
                <item name="advanced_slider_item" xsi:type="string">advanced_slider_item</item>
                <item name="button_item" xsi:type="string">button_item</item>
                <item name="slider_item" xsi:type="string">slider_item</item>
                <item name="accordion_item" xsi:type="string">accordion_item</item>
                <item name="tabs_item" xsi:type="string">tabs_item</item>
                <item name="column" xsi:type="string">column</item>
            </argument>
        </arguments>
    </type>
</config>
