/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * _map contains {less} for Map blocks
 *
 */

.@{prefix}-map-container {
  width:100%;
  height:300px;
}
.@{prefix}-map {
  max-width:100%;
  width:100%;
  height:100%;
}