<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="bluefoot-structure bluefoot-row bluefoot-advanced-slider">
    <!-- ko template: optionsInstance.template --><!-- /ko -->
    <!-- ko template: previewChildTemplate --><!-- /ko -->

    <div class="bluefoot-empty bluefoot-empty-slider" data-bind="css: {visible: children().length == 0}, text: $t('drag slides here')">
    </div>

    <button data-bind="click: addSlide">Add Slide</button>
</div>
