<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="bluefoot-structure bluefoot-entity bluefoot-entity-preview bluefoot-block bluefoot-no-blur bluefoot-live-edit">
    <div data-bind="css: 'bluefoot-block'">
        <!-- ko if: preview.data.html() -->
            <div data-bind="html: preview.data.html"></div>
        <!-- /ko -->
        <!-- ko ifnot: preview.data.html() -->
            Block
        <!-- /ko -->
    </div>
    <!-- ko template: optionsInstance.template --><!-- /ko -->
</div>
