<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div data-bind="afterRender: hljs.initHighlighting"></div>
<div class="bluefoot-structure bluefoot-entity bluefoot-entity-preview bluefoot-code bluefoot-no-blur bluefoot-live-edit">
  <pre data-bind="css: 'bluefoot-code', style: getStyle()">
        <code data-bind="html: preview.data.snippet"></code>
    </pre>
  <!-- ko template: optionsInstance.template -->
  <!-- /ko -->
</div>