<div class="bluefoot-column-group" data-bind="css: {'resizing': resizing}">
    <div class="resize-grid">
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
        <div class="grid-line"></div>
    </div>
    <div class="resize-ghost"></div>
    <div class="element-children" style="padding: 0; display: flex; width: 100%;" data-bind="foreach: getChildren(), sortable: { sortableClass: config.name + '-container', handle: '.move-structural', items: '.bluefoot-structure-wrapper', connectWith: '.element-children' }, afterRender: function (element) { if (typeof preview !== 'undefined' && typeof preview.afterChildrenRender === 'function') { preview.afterChildrenRender(element) } }">
        <!-- ko template: previewTemplate --><!-- /ko -->
    </div>
</div>
