<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="bluefoot-structure bluefoot-entity bluefoot-entity-preview bluefoot-image">
    <!-- ko ifnot: preview.data.image() -->
        <i class="icon-bluefoot-image"></i> <span data-bind="text: $t('Driver');"></span>
    <!-- /ko -->
    <!-- ko if: preview.data.image() && typeof preview.data.image()[0] !== 'undefined' -->
        <img data-bind="attr: { src: preview.data.image()[0].url, alt: preview.data.alt(), title: preview.data.title_tag() }" />
        <!-- ko if: preview.data.link_text() -->
            <div data-bind="text: preview.data.link_text()"></div>
        <!-- /ko -->
    <!-- /ko -->
    <!-- ko template: optionsInstance.template --><!-- /ko -->
</div>
