<div class="bluefoot-structure bluefoot-entity bluefoot-entity-preview bluefoot-image" data-bind="css: {'loading': preview.loading()}, dropzone: {url: preview.data.uploadUrl(), drop: preview.data.attachmentDrop(), success: preview.data.attachmentSuccess(), error: preview.data.attachmentError, bindKey: 'image'}">
    <img data-bind="visible: preview.data.image, attr: {alt: preview.data.alt_tag}" />
    <div class="bluefoot-image-placeholder" data-bind="visible: !preview.data.image(), click: $data.edit">
        <i class="fa fa-picture-o" aria-hidden="true"></i>
        <p data-bind="text: $t('Drop image here to upload, or edit for media gallery')"></p>
    </div>
    <!-- ko if: preview.loading -->
        <div class="bluefoot-loading">
            <div class="spinner">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
    <!-- /ko -->
    <!-- ko template: optionsInstance.getTemplate() --><!-- /ko -->
</div>