<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="bluefoot-structure bluefoot-entity bluefoot-entity-preview bluefoot-search-block bluefoot-no-blur bluefoot-live-edit">
  <span class="bluefoot-search-block-input">
    <div data-bind="html: preview.data.placeholder"></div>
    <button type="button" class="bluefoot-block-button">
      Search
    </button>
  </span>
  <!-- ko template: optionsInstance.template --><!-- /ko -->
</div>