<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="bluefoot-structure bluefoot-entity bluefoot-entity-preview bluefoot-textarea bluefoot-no-blur bluefoot-live-edit">
    <!-- ko ifnot: preview.data.content -->
    <div class="bluefoot-html" data-bind="text: $t('Text')"></div>
    <!-- /ko -->
    <!-- ko if: preview.data.content -->
    <div class="bluefoot-html" data-bind="html: preview.data.content"></div>
    <!-- /ko -->
    <!-- ko template: optionsInstance.template --><!-- /ko -->
</div>
