<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="bluefoot-structure bluefoot-entity bluefoot-entity-preview bluefoot-video">
    <!-- ko template: optionsInstance.template --><!-- /ko -->
    <!-- ko ifnot: preview.data.src -->
    <i class="icon-bluefoot-video"></i> <span data-bind="text: $t('Video');"></span>
    <!-- /ko -->
    <!-- ko if: preview.data.src -->
    <iframe frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
            data-bind="attr:{ width: preview.data.width() || '100%', height: preview.data.height() || '400', src: preview.data.src }"></iframe>
    <!-- /ko -->
</div>
