<div style="border: 5px solid #000;">
    <div class="element-children" data-bind="foreach: getChildren(), sortable: { sortableClass: config.name + '-container', handle: '.move-structural', items: '.bluefoot-structure-wrapper', connectWith: '.element-children' }, afterRender: function (element) { if (typeof preview !== 'undefined' && typeof preview.afterChildrenRender === 'function') { preview.afterChildrenRender(element) } }">
        <div class="bluefoot-structure-wrapper" data-bind="template: previewTemplate, attr: {id: id}, wrapColumns: isColumn"></div>
        <!-- remove css: widthClasses from above element -->
    </div>
</div>