// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.page-layout-cms_full_width .page-main {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}
