/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * _hr contains {less} for horizontal rules
 */
.pagebuilder-divider {
    margin: @margin auto;
    max-width: 100%;
    width: 100%;
    border-color: @border_color;
    border-width: 1px;
    border: none;
    border-top: solid;
}