// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

.pagebuilder-content-type {
    .pagebuilder-button-item {
        font-size: 0;
        width: auto;
        z-index: auto;
        .pagebuilder-options {
            bottom: 0;
            left: calc(50% - 5px);
            transform: translate(-50%, -50%);
            li.pagebuilder-options-link {
                margin: 0;
            }
        }
        [contenteditable=true] {
            display: inline-block;
            min-height: 18px;
            min-width: 20px;
        }
        &.pagebuilder-content-type-active {
            .button-item-drag-handle {
                color: @color-dark-gray0;
                position: absolute;

                &:before {
                    .abs-icon;
                    content: @icon-gripper__content;
                    cursor: move; /* fallback if grab cursor is unsupported */
                    cursor: grab;
                    cursor: -moz-grab;
                    cursor: -webkit-grab;
                    display: inline-block;
                    font-size: @pagebuilder-button__font-size;
                    left: -(@pagebuilder-button__font-size);
                    line-height: @pagebuilder-button__line-height;
                    position: relative;
                    width: 0;

                    &:active {
                        cursor: grabbing;
                        cursor: -moz-grabbing;
                        cursor: -webkit-grabbing;
                    }
                }

                &.disabled:before {
                    color: @color-light-gray;
                    cursor: not-allowed;
                }
            }
        }
    }
}
