// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

.pagebuilder-content-type {
    .pagebuilder-button-item {
        [contenteditable=true] {
            display: inline-block;
            min-height: 18px;
            min-width: 20px;
        }
        font-size: 0;
        width: auto;
        z-index: auto;
        .pagebuilder-options {
            bottom: 0;
            left: calc(50% - 5px);
            transform: translate(-50%, 90%);
            li.pagebuilder-options-link {
                margin: 0;
            }
        }
    }
}

.pagebuilder-content-type-hidden .pagebuilder-content-type.pagebuilder-button-item:before {
    font-size: 28px;
    height: ~'calc(100% - 10px)';
    width: ~'calc(100% - 10px)';
}
