<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Gene_BlueFoot::bluefoot" title="BlueFoot" module="Gene_BlueFoot" sortOrder="50" parent="Magento_Backend::content" resource="Magento_Backend::content"/>
        <add id="Gene_BlueFoot::attributes" title="Content Attributes" module="Gene_BlueFoot" sortOrder="0" parent="Gene_BlueFoot::bluefoot" action="bluefoot/entity_attribute" resource="Magento_Backend::content" />
        <add id="Gene_BlueFoot::blocks" title="Page Builder Blocks" module="Gene_BlueFoot" sortOrder="10" parent="Gene_BlueFoot::bluefoot" action="bluefoot/entity_contentblock" resource="Magento_Backend::content" />
    </menu>
</config>
