// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Collage center appearance styles
//  _____________________________________________

.pagebuilder-collage-centered {
    .pagebuilder-banner-wrapper {
        .pagebuilder-overlay {
            margin-left: auto;
            margin-right: auto;

            .pagebuilder-collage-content {
                padding: 35px 20px;
            }
        }
    }
}

//
//  Collage center appearance styles rendered through Block
//  _______________________________________________________


[data-appearance='collage-centered'] {
    .pagebuilder-banner-wrapper {
        .pagebuilder-overlay {
            margin-left: auto;
            margin-right: auto;

            .pagebuilder-collage-content {
                padding: 30px;
            }
        }
    }
}
