/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

//
//  Collage left appearance styles
//  _____________________________________________

.pagebuilder-banner {
    .pagebuilder-collage-overlay {
        padding: 35px 20px;
        -webkit-transition: background-color 500ms ease;
        -moz-transition: background-color 500ms ease;
        -o-transition: background-color 500ms ease;
        transition: background-color 500ms ease;
    }
}
