// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

.pagebuilder-banner {
    background-color: @color-gray98;
    .pagebuilder-empty-banner {
        color: @color-gray65-lighten;
        font-size: 20px;
        font-weight: lighter;
    }

    .pagebuilder-overlay {
        -moz-transition: background-color 500ms ease;
        -o-transition: background-color 500ms ease;
        -webkit-transition: background-color 500ms ease;
        transition: background-color 500ms ease;
    }

    .pagebuilder-banner-button {
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        cursor: default;
        margin-top: @margin;
        opacity: 1;
        transition: all 500ms ease;
    }
}
