// /**
//  * Copyright 2018 Adobe
//  * All Rights Reserved.
//  */

//
//  Poster appearance styles
//  _____________________________________________

.pagebuilder-banner-wrapper {
    .pagebuilder-poster-content {
        width: 100%;
    }

    .pagebuilder-poster-overlay {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}
