// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@color-black: #000;
@light-gray: #f8f3eb;
@dark-gray: #534d49;
@darker-gray: #2b2625;

//
//  Default appearance styles
//  _____________________________________________

.redactor-toolbar {
    a {
        &.re-font-color {
            height: 42px;
            padding-bottom: 0;
            padding-top: 0;
            .redactor-color-picker {
                background: @color-black;
                border: 2px solid @light-gray;
                border-radius: 10px;
                float: left;
                height: 18px;
                margin: 12px 0;
                width: 18px;
            }
        }
    }
}

.pagebuilder-entity {
    .pagebuilder-textarea {
        ol {
            list-style: decimal;
            padding-left: @margin;
            li {
                margin: 0 0 @margin 0;
            }
        }
        p {
            margin-bottom: @margin;
        }
        ul {
            list-style: disc;
            padding-left: @margin;
            li {
                margin: 0 0 @margin 0;
            }
        }
    }

    .redactor-toolbar {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background: @darker-gray;
        border-radius: 3px;
        left: 10px !important;
        position: absolute !important;
        top: -40px !important;

        a {
            color: @light-gray;

            &:hover {
                background: @dark-gray;
                color: @light-gray;
            }
        }
    }
}

.redactor-placeholder {
    min-height: 10px;
}
