// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

.pagebuilder-content-type {
    .pagebuilder-text {
        min-height: 50px;

        ol {
            list-style: decimal;
            padding-left: @margin;
            li {
                margin: 0 0 @margin 0;
            }
        }
        p {
            margin-bottom: 0;
            padding-bottom: @margin;
        }
        ~ .mce-tinymce-inline {
            transform: translateX(-1px);
        }
        .placeholder-text {
            left: 5px;
            pointer-events: none;
            position: absolute;
            top: 5px;
        }
        > .mce-content-body {
            min-height: 50px;
            padding: 5px;
        }
        > .mce-edit-focus {
            ~ .pagebuilder-options,
            ~ .placeholder-text {
                display: none;
            }
        }
    }
}
