// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.pagebuilder-drop-indicator {
    border-bottom: 1px dashed rgb(105, 105, 105);
    display: block;
    height: 1px;
    margin: -1px 14px 0 14px;
    position: absolute;
    transition: all .2s;
    width: calc(~'100% - 28px');
}

.pagebuilder-sortable-placeholder {
    background: #eb5202 !important;
    border: none;
    box-shadow: 0 0 1px 1px #fff;
    display: block !important;
    height: 1px;
    margin: -1px 14px 0 14px;
    position: absolute;
    width: calc(~'100% - 28px');
    z-index: 80;

    &:before {
        background: #eb5202;
        border-radius: 11px;
        content: '';
        display: inline-block;
        height: 11px;
        left: -4px;
        position: absolute;
        top: -4px;
        width: 11px;
    }
}

.pagebuilder-draggable-block a {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
}
.pagebuilder-draggable-block.ui-draggable-dragging a {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}