// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

figure[data-role='image'] {
    box-sizing: border-box;
    width: 100%;

    > [data-element='link'] {
        border-radius: inherit;
    }

    figcaption {
        word-wrap: break-word;
    }
}
