<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: getData().heading_type.toLowerCase() == 'h1' -->
<h1 data-bind="html: getData().title, attr: {'data-role': 'heading'}, style: getStyle()"></h1>
<!-- /ko -->
<!-- ko if: getData().heading_type.toLowerCase() == 'h2' -->
<h2 data-bind="html: getData().title, attr: {'data-role': 'heading'}, style: getStyle()"></h2>
<!-- /ko -->
<!-- ko if: getData().heading_type.toLowerCase() == 'h3' -->
<h3 data-bind="html: getData().title, attr: {'data-role': 'heading'}, style: getStyle()"></h3>
<!-- /ko -->
<!-- ko if: getData().heading_type.toLowerCase() == 'h4' -->
<h4 data-bind="html: getData().title, attr: {'data-role': 'heading'}, style: getStyle()"></h4>
<!-- /ko -->
<!-- ko if: getData().heading_type.toLowerCase() == 'h5' -->
<h5 data-bind="html: getData().title, attr: {'data-role': 'heading'}, style: getStyle()"></h5>
<!-- /ko -->
<!-- ko if: getData().heading_type.toLowerCase() == 'h6' -->
<h6 data-bind="html: getData().title, attr: {'data-role': 'heading'}, style: getStyle()"></h6>
<!-- /ko -->
