/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

//
//  Default appearance styles
//  _____________________________________________

.pagebuilder-video iframe {
    height: 400px;
    max-width: 100%;
    width: 100%;
}
