// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

.pagebuilder-content-type {

    .pagebuilder-video-placeholder {
        align-items: center;
        background-color: @color-gray98;
        display: flex;
        justify-content: center;
        min-height: 300px;

    }
    .icon-pagebuilder-video:before {
        font-size: 80px;
        color: @color-gray65-lighten;
    }
    .pagebuilder-video iframe {
        height: 400px;
        max-width: 100%;
        width: 100%;
    }
}

