<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Model\Wysiwyg\CompositeConfigProvider">
        <arguments>
            <argument name="variablePluginConfigProvider" xsi:type="array">
                <item name="Magento_PageBuilder/pageBuilderAdapter" xsi:type="string">Magento\Cms\Model\WysiwygDefaultConfig</item>
            </argument>
            <argument name="widgetPluginConfigProvider" xsi:type="array">
                <item name="Magento_PageBuilder/pageBuilderAdapter" xsi:type="string">Magento\Cms\Model\WysiwygDefaultConfig</item>
            </argument>
            <argument name="wysiwygConfigPostProcessor" xsi:type="array">
                <item name="Magento_PageBuilder/pageBuilderAdapter" xsi:type="string">Magento\Cms\Model\WysiwygDefaultConfig</item>
            </argument>
            <argument name="galleryConfigProvider" xsi:type="array">
                <item name="Magento_PageBuilder/pageBuilderAdapter" xsi:type="string">Magento\Cms\Model\WysiwygDefaultConfig</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Eav\Model\Adminhtml\System\Config\Source\Inputtype">
        <plugin name="add_page_builder_input_type" type="Magento\PageBuilder\Model\Plugin\Eav\System\Config\Source\InputtypePlugin" />
    </type>
    <type name="Magento\Catalog\Model\Product\Attribute\Frontend\Inputtype\Presentation">
        <plugin name="process_page_builder" type="Magento\PageBuilder\Model\Plugin\Eav\System\Config\Source\InputtypePlugin" />
    </type>
    <type name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Eav\CompositeConfigProcessor">
        <arguments>
            <argument name="eavWysiwygDataProcessors" xsi:type="array">
                <item name="pageBuilder" xsi:type="object">Magento\PageBuilder\Ui\DataProvider\Product\Form\Modifier\Eav\WysiwygConfigDataProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
