<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="admin__field admin__field-align">
    <input type="text"
           ko-value="value"
           attr="id: uid, name: inputName"/>

    <ol data-bind="foreach: options">
        <li data-bind="click: function() { $parent.value(value) }, css: {active: $parent.value() == value, 'admin__field-align-small': $data.selectSize == 'small', 'admin__field-align-large': $data.selectSize == 'large'}">
            <!-- ko if: $data.selectIcon -->
            <img data-bind="attr:{src: $data.selectIcon}" aria-hidden="true"/>
            <!-- /ko -->
            <!-- ko if: $data.selectSize == 'large' -->
                <!-- ko if: $data.selectIcon -->
                <br>
                <!-- /ko -->
                <!-- ko ifnot: $data.selectIcon -->
                <div class="admin__field-align-spacer"></div>
                <!-- /ko -->
            <!-- /ko -->
            <span data-bind="text: $t($data.selectTitle)"></span>
        </li>
    </ol>
</div>
