<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="admin__field admin__field-align">
    <input type="text"
           ko-value="value"
           ko-disabled="disabled"
           attr="id: uid, name: inputName"/>

    <ol data-bind="foreach: options, css: {'_disabled': disabled}">
        <li attr="name: value" data-bind="click: function() { if(!$parent.disabled()) $parent.value(value) }, css: {active: $parent.value() == value, 'admin__field-align-small': $data.size == 'small', 'admin__field-align-large': $data.size == 'large', 'no-pointer-events': $parent.disabled()}">
            <img if="$data.icon" data-bind="attr:{src: $data.icon}" aria-hidden="true"/>
            <!-- ko if: $data.size == 'large' -->
                <br if="$data.icon">
                <div ifnot="$data.icon" class="admin__field-align-spacer"></div>
            <!-- /ko -->
            <span translate="$data.title"/>
        </li>
    </ol>
</div>
