<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="admin__field-design-options">
    <input type="text" ko-value="value" attr="id: uid, name: inputName"/>

    <div class="layout-onion">
        <div class="layout-onion-layer layout-margin">
            <span class="label" data-bind="i18n: 'Margin'"></span>
            <input type="text" class="admin__control-text layout-onion-top" name="marginTop" data-bind="textInput: marginTop, attr: { placeholder: placeholder }" />
            <input type="text" class="admin__control-text layout-onion-right" name="marginRight" data-bind="textInput: marginRight, attr: { placeholder: placeholder }" />
            <input type="text" class="admin__control-text layout-onion-bottom" name="marginBottom" data-bind="textInput: marginBottom, attr: { placeholder: placeholder }" />
            <input type="text" class="admin__control-text layout-onion-left" name="marginLeft" data-bind="textInput: marginLeft, attr: { placeholder: placeholder }" />
            <div class="layout-onion-layer layout-border">
                <span class="label" data-bind="i18n: 'Padding'"></span>
                <input type="text" class="admin__control-text layout-onion-top" name="paddingTop" data-bind="textInput: paddingTop, attr: { placeholder: placeholder }" />
                <input type="text" class="admin__control-text layout-onion-right" name="paddingRight" data-bind="textInput: paddingRight, attr: { placeholder: placeholder }" />
                <input type="text" class="admin__control-text layout-onion-bottom" name="paddingBottom" data-bind="textInput: paddingBottom, attr: { placeholder: placeholder }" />
                <input type="text" class="admin__control-text layout-onion-left" name="paddingLeft" data-bind="textInput: paddingLeft, attr: { placeholder: placeholder }" />
            </div>
        </div>
    </div>
</div>
