<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div visible="visible" css="{'_disabled': disabled}">
    <button if="wysiwygConfigData()['pagebuilder_button']"
            type="button"
            class="action-default action"
            ko-disabled="disabled"
            click="pageBuilderEditButtonClick.bind($data)">
        <span translate="pageBuilderEditButtonText" />
    </button>
    <if args="visiblePageBuilder">
        <with args="pageBuilder">
            <render />
        </with>
    </if>
</div>
