<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="pagebuilder-stage"
     attr="id: id, 'data-role': 'pagebuilder-stage'"
     css="'pagebuilder-show-borders': showBorders, 'pagebuilder-no-user-select': !userSelect(), 'panel-collapsed': parent.panel.isCollapsed, 'interacting': interacting, 'focus-child': focusChild">
    <div class="pagebuilder-stage-loading" visible="loading">
        <span class="spinner">
            <span repeat="8" attr="'data-repeat-index': $index"/>
        </span>
    </div>
    <div class="pagebuilder-canvas content-type-drop content-type-container stage-container"
         css="active: !loading()"
         each="children"
         data-bind="sortable: getSortableOptions()"
         afterRender="afterRenderDeferred.resolve">
        <div class="pagebuilder-drop-indicator"></div>
        <div class="pagebuilder-content-type-wrapper" attr="id: id" template="{ name: preview.previewTemplate, data: preview, afterRender: function () { preview.dispatchAfterRenderEvent.apply(preview, arguments); } }" css="{'pagebuilder-content-type-hidden': !preview.display()}"></div>
        <div class="pagebuilder-drop-indicator"></div>
    </div>
</div>
