// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.admin__field-tooltip-content .admin__field-tooltip-table {
    margin: 14px 0 4px;

    th {
        background: #d6d292;
        font-weight: normal;
        white-space: nowrap;
    }

    td,
    th {
        border: 1px solid #afab63;
        padding: 8px;
        text-align: left;

        &.nowrap {
            white-space: nowrap;
        }
    }
}