// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  _buttons contains less for generic buttons
//  _____________________________________________

@pagebuilder-button__margin: 0 10px 10px 0;
@pagebuilder-button__font-size: 18px;
@pagebuilder-button__line-height: @pagebuilder-button__font-size + 4;
@color-pagebuilder-switcher-light-gray: #4a4542;

.pagebuilder-button-primary {
    .lib-link-as-button();
    .lib-button-primary(@_button-margin: @pagebuilder-button__margin);
    .lib-button-l(
        @_button-l-font-size: @pagebuilder-button__font-size,
        @_button-l-height: @pagebuilder-button__line-height
    );
    .lib-css(border-radius, @button__border-radius);
    .lib-css(font-weight, @font-weight__semibold);
}

.pagebuilder-button-secondary {
    .lib-link-as-button();
    .lib-button(@_button-margin: @pagebuilder-button__margin);
    .lib-button-l(
        @_button-l-font-size: @pagebuilder-button__font-size,
        @_button-l-height: @pagebuilder-button__line-height
    );
    .lib-css(border-radius, @button__border-radius);
    .lib-css(font-weight, @font-weight__semibold);
}

.pagebuilder-button-link {
    .lib-button-l(@_button-l-font-size: @pagebuilder-button__font-size);
    .lib-button-as-link(
        @_margin: @pagebuilder-button__margin,
        @_padding: @button__padding__l,
        @_line-height: @pagebuilder-button__line-height
    );
    .lib-css(font-weight, @font-weight__semibold);
    display: inline-block;
}

.placeholder-text {
    opacity: .5;
}

.page-builder-viewport {
    background: @color-pagebuilder-dark-grayish;
    border: none;
    opacity: .5;
    padding: 12px;

    &[disabled] {
        background: @color-black;
        opacity: 1;
    }

    &:not([disabled]) {
        &:hover {
            background-color: @color-pagebuilder-switcher-light-gray;
            opacity: 1;
        }
    }

    img {
        height: 20px;
        width: 30px;
    }

    &.desktop-switcher {
        margin-right: -3px;
    }
}
