/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * _common contains core classes used throughout the PageBuilder admin
 */
.transition {
    transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* close commented backslash hack */

//
//  Responsive Classes
//  ---------------------------------------------

.pagebuilder-mobile-only {
    display: none !important;
}

@media all and (max-width: @screen__m) {
    .pagebuilder-mobile-only {
        display: block !important;
    }

    .pagebuilder-mobile-hidden {
        display: none !important;
    }
}
