// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

[data-role='modal'] {
    .action-pagebuilder-cancel,
    .action-pagebuilder-cancel:hover {
        color: @color-black;
    }

    .pagebuilder-modal-content-body li {
        list-style-position: inside;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

.row-appearance-warning {
    background-color: @color-lazy-sun;
    font-size: 1.4rem;
    padding: 15px;
    visibility: hidden;

    &:before {
        content: @icon-info;
        padding: 5px;
    }
}
