// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  PageBuilder Admin Icons
//  _____________________________________________

@font-face {
    font-family: @icon_font;
    font-style: normal;
    font-weight: normal;
    src: url('@{baseDir}Magento_PageBuilder/fonts/pagebuilder-icons/pagebuilder-icons.eot');
    src: url('@{baseDir}Magento_PageBuilder/fonts/pagebuilder-icons/pagebuilder-icons.eot?#iefix') format('embedded-opentype'),
    url('@{baseDir}Magento_PageBuilder/fonts/pagebuilder-icons/pagebuilder-icons.woff') format('woff'),
    url('@{baseDir}Magento_PageBuilder/fonts/pagebuilder-icons/pagebuilder-icons.ttf') format('truetype'),
    url('@{baseDir}Magento_PageBuilder/fonts/pagebuilder-icons/pagebuilder-icons.svg#pagebuilder-icons') format('svg');
}

.lib-font-face(
    @family-name: 'luma-icons',
    @font-path: '@{baseDir}Magento_PageBuilder/fonts/luma-icons/Luma-Icons',
    @font-weight: normal,
    @font-style: normal
);

.pagebuilder-icon {
    /* Better Font Rendering =========== */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: @icon_font !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
}

[class^='icon-pagebuilder-'],
[class*=' icon-pagebuilder-'] {
    &:extend(.pagebuilder-icon all);
}
