// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Google map related styles
//  _____________________________________________

.google-map-auth-failure-placeholder {
    align-items: center;
    background: @color-pagebuilder-lighter-gray;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    p {
        color: @entity-background-color;
        margin-bottom: 0;
        max-width: 80%;
        text-align: center;
    }
}
