// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@border-size: 2px;

.pagebuilder-header {
    text-align: right;
}

.admin__fieldset > .admin__field > .admin__control-grouped {
    &.pagebuilder-active {
        float: left;
        margin: 3rem 0 0;
        padding-left: 3rem;
        width: 100%;
    }
}

.pagebuilder-stage-wrapper {
    position: relative;

    &.stage-full-screen {
        background: @color-white;
        height: 100%;
        left: 0;
        overflow: scroll;
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 800;

        .pagebuilder-header {
            background: linear-gradient(to bottom, white 80%, rgba(255, 255, 255, 0) 100%);
            left: 150px;
            padding: 20px 3rem 10px 10px;
            position: fixed;
            top: 0;
            width: calc(~'100% - 150px');
            z-index: 101;
        }

        .pagebuilder-panel-wrapper {
            position: fixed;
            top: 0;

            .pagebuilder-panel {
                height: 100vh;

                .panel-controls {
                    bottom: 0;
                    position: absolute;
                    width: 100%;
                }
            }
        }

        .pagebuilder-stage {
            margin-top: 60px;
        }
    }
}

.pagebuilder-add-row-wrapper {
    float: left;
    text-align: center;
    width: 100%;

    .pagebuilder-add-row {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;

        background: @row-color;
        border-radius: 5px;
        color: @color-white;
        display: inline-block;
        font-size: 26px;
        height: 50px;
        line-height: 50px;
        width: 50px;

        &:hover {
            background: darken(@row-color, 15%);
        }
    }
}

.pagebuilder-stage {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    -webkit-user-select: none; /* Chrome/Safari */

    font-size: 0;
    margin-left: 170px; // temp
    min-height: 200px;
    padding: 0 0 60px; // 60px to include the add row button
    user-select: none;

    &.stage-full-screen {
        background: @color-black;
    }

    &.pagebuilder-no-user-select {
        * {
            -moz-user-select: none !important; /* Firefox */
            -ms-user-select: none !important; /* IE10+ */

            /* Rules below not implemented in browsers yet */
            -o-user-select: none !important;
            -webkit-user-select: none !important; /* Chrome/Safari */
            user-select: none !important;
        }
    }

    &.panel-collapsed {
        margin-left: 32px;
    }

    .pagebuilder-stage-loading {
        padding: 90px 0 30px;
        text-align: center;

        p {
            font-size: 14px;
            margin: 3rem 0;
        }
    }

    .pagebuilder-canvas {
        -moz-transition: 1s ease-in-out;
        -webkit-transition: 1s ease-in-out;

        opacity: 0;
        padding-bottom: 60px;
        transition: 1s ease-in-out;
        visibility: hidden;

        &.active {
            opacity: 1;
            position: relative;
            visibility: visible;
        }
    }

    /* Remove aspects fo the UI when taking a screenshot for templates */
    &.screengrab {
        border: none;
        height: 80%;
        overflow: hidden;
        padding: 0;

        .pagebuilder-add-row-wrapper {
            display: none;
        }
    }
}

.pagebuilder-row-wrapper,
.pagebuilder-structure-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
