// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  PageBuilder CMS {less} variables
//  _____________________________________________

//
//  Colors
//  ---------------------------------------------
@border_color: #d0d0d0;
@light_grey: #f5f5f5;
@panelColor: #2b2625;
@iconColor: #6d6361;
@iconColorHover: #f8f3eb;
@iconColorBackgroundHover: #534d49;
@rowColor: #3370b5;
@entityColor: #243743;
@textColor: #545454;

//
//  Fonts
//  ---------------------------------------------

@theme_font: 'Open Sans', sans-serif;
@icon_font: 'PageBuilder Admin Icons';

//
//  Layout Variables
//  ---------------------------------------------
@sidebarWidth: 650px;
@optionHeight: 32px;
@commonHeight: 32px;
@largeHeight: 50px;
@panelWidth: 260px;
@margin: 20px;
@entityBorderWidth: 1px;
