/**
* BlueFoot
 *
 * Version 1.0
 * @author Hob Adams <hob@gene.co.uk>
 *
 * _content-types includes generic {less} for Page Builder blocks
 *
 */
.gene-bluefoot-pagebuilder-block {
}

.gene-bluefoot-row {
  text-align: left;
}

.bluefoot-entity-align-left {
  text-align:left;
}
.bluefoot-entity-align-center {
  text-align:center;
}
.bluefoot-entity-align-right {
  text-align:right;
}