.modal-slide {
    &.bluefoot-edit {
        //left: 72rem;

        h1 {
            i {
                font-size: 28px;
                float: left;
                margin-right: 10px;
            }
        }
    }
}

.bluefoot-child-entities {
    .bluefoot-entity {
        &.bluefoot-abstract {
            padding: 8px 4px;
            text-align: left;
            margin: 0 0 4px 0;
            border-radius: 3px;

            .block-icon {
                float: left;
                i {
                    font-size: 18px;
                    line-height: 20px;
                    padding: 0 8px;
                }
            }

            h3 {
                margin: 0;
                line-height: 20px;
                font-size: 14px;
            }
        }
    }
}