.modal-slide {
    &.bluefoot-edit {
        left: 82rem;

        h1 {
            i {
                font-size: 28px;
                float: left;
                margin-right: 10px;
            }
        }
    }
}