.bluefoot-canvas {
    margin-left: 60px; // temp
}

.bluefoot-add-row-wrapper {
    float: left;
    width: 100%;
    text-align: center;

    .bluefoot-add-row {
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: white;
        font-size: 26px;
        background: @panelColor;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        color: @iconColor;

        &:hover {
            color: @iconColorHover;
        }
    }
}
.bluefoot-row-wrapper, .bluefoot-structure-wrapper {
    float: left;
    width: 100%;
}
.bluefoot-structure {
    border: 3px solid transparent;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    background: white;
    position: relative;

    .element-children {
        min-height: 100px;
    }

    .gene-bluefoot-options {
        position: absolute;
        left: 0;
        right: 0;
        top: -15px;
        text-align: center;

        ul.gene-bluefoot-options-links {
            display: none;
            list-style: none;
            margin: 0;
            padding: 0 8px;
            .border-radius(3px);
            box-sizing: border-box;

            font-size: 0;

            li {
                float: left;

                a {
                    display: block;
                    color: white;
                    font-size: 16px;
                    padding: 4px 7px;

                    &:hover {
                        background: rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
    }

    &:hover {
        border: 3px #243743 dashed;
        box-sizing: border-box;

        &.bluefoot-row {
            border-color: #3370b5;
        }
        &.bluefoot-column {
            border-color: #28b78c;
        }

        .gene-bluefoot-options {
            ul.gene-bluefoot-options-links {
                display: inline-block;
            }
        }
    }

    &.bluefoot-row {
        float: left;
        width: 100%;
        margin-bottom: 20px;

        ul.gene-bluefoot-options-links {
            background: #3370b5;
        }
    }
    &.bluefoot-column {
        float: left;
        width: 100%;
        margin: 10px 0 20px 0;

        ul.gene-bluefoot-options-links {
            background: #28b78c;
        }

        .bluefoot-column-add {
            .border-radius;
            position: absolute;
            left: 0;
            display: block;
            padding: 0 8px;
            background: @columnColor;
            color: #fff;
            top: 45%;
        }
        .bluefoot-column-add-right {
            left: auto;
            right: 0;
        }

        .bluefoot-column-inline-add {
            list-style: none;
            margin: 0;
            width: 150px;
            background: @columnColor;
            color: white;
            .border-radius;
            position: absolute;
            top: 20%;

            &.right {
                left: auto;
                right: 20px;
            }
        }
    }
}