.bluefoot-canvas {
    margin-left: 60px; // temp
}

.bluefoot-add-row-wrapper {
    float: left;
    width: 100%;
    text-align: center;

    .bluefoot-add-row {
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 26px;
        background: @rowColor;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        color: white;

        &:hover {
            background: darken(@rowColor, 15%);
        }
    }
}
.bluefoot-row-wrapper, .bluefoot-structure-wrapper {
    float: left;
    width: 100%;
}
/* @todo make this dynamic with a mixin perhaps */
.bluefoot-structure-wrapper-width-1 { width: 100%; }
.bluefoot-structure-wrapper-width-2 { width: 50%; }
.bluefoot-structure-wrapper-width-3 { width: 33.3%; }
.bluefoot-structure-wrapper-width-4 { width: 25%; }
.bluefoot-structure-wrapper-width-6 { width: 16.666666667%; }

.bluefoot-structure {
    border: 3px solid transparent;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    background: white;
    position: relative;

    .element-children {
        min-height: 100px;
    }

    .bluefoot-options {
        position: absolute;
        left: 0;
        right: 0;
        top: -15px;
        text-align: center;

        ul.bluefoot-options-links {
            display: none;
            list-style: none;
            margin: 0;
            padding: 0 8px;
            .border-radius(3px);
            box-sizing: border-box;

            font-size: 0;

            li {
                float: left;

                a {
                    display: block;
                    color: white;
                    font-size: 16px;
                    padding: 4px 7px;

                    &:hover {
                        background: rgba(0, 0, 0, 0.2);
                    }
                }
                i {
                    font-size: 16px;
                }
            }
        }
    }

    &:hover {
        border: 3px #243743 dashed;
        box-sizing: border-box;

        &.bluefoot-row {
            border-color: @rowColor;
        }
        &.bluefoot-column {
            border-color: @columnColor;

            .bluefoot-column-add {
                display: block;
            }
        }

        .bluefoot-options {
            ul.bluefoot-options-links {
                display: inline-block;
            }
        }
    }

    .bluefoot-id {
        position: absolute;
        bottom: -3px;
        right: -3px;
        color: white;
        font-size: 11px;
        padding: 2px 6px;
    }

    &.bluefoot-row {
        float: left;
        width: 100%;
        margin-bottom: 20px;
        position: relative;

        > .bluefoot-options {
            z-index: 100;
            position: absolute;
            left: -15px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 29px;
            text-align: center;

            ul.bluefoot-options-links {
                background: @rowColor;
                //display: none;
                list-style: none;
                margin: 0;
                padding: 6px 0;
                .border-radius(3px);
                box-sizing: border-box;

                font-size: 0;
                text-align: center;

                li {
                    float: left;

                    a {
                        display: block;
                        width: 29px;
                        color: white;
                        font-size: 16px;
                        padding: 4px 0;

                        &:hover {
                            background: rgba(0, 0, 0, 0.2);
                        }
                    }
                }
            }
        }
        .bluefoot-id {
            background: @rowColor;
        }
    }
    &.bluefoot-column {
        float: left;
        width: 100%;
        margin: 10px 0 20px 0;
        ul.bluefoot-options-links {
            background: @columnColor;
        }
        .bluefoot-id {
            background: @columnColor;
        }

        .bluefoot-column-add {
            display: none;
            position: absolute;
            left: -27px;
            top: 45%;
            padding: 0 8px;
            background: @columnColor;
            color: #fff;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        .bluefoot-column-add-right {
            left: auto;
            right: -27px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .bluefoot-column-inline-add {
            list-style: none;
            margin: 0;
            width: 150px;
            background: @columnColor;
            color: white;
            .border-radius;
            position: absolute;
            top: 20%;
            left: -27px;
            text-align: center;
            padding: 4px 6px;
            cursor: pointer;

            &.right {
                left: auto;
                right: -27px;
            }
        }
    }
    &.bluefoot-entity {
        background: @entityColor;
        border: none;
        color: white;
        float: left;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        padding: 20px 0;

        i {
            font-size: 24px;
        }
        h3 {
            margin: 6px 0 0 0;
            padding: 0;
        }
        * {
            color: white;
        }

        ul.bluefoot-options-links {
            background: @entityColor;
        }
        .bluefoot-id {
            background: @entityColor;
            bottom: 0;
            right: 0;
        }
    }
}