// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.pagebuilder-content-type {
    border: 1px solid @border_color;
    min-height: 200px;
    .pagebuilder-column {
        .element-children {
            padding: 0;
        }
    }
}
