// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Options Panel
//  _____________________________________________

.pagebuilder-options {
    height: 40px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 20;

    .pagebuilder-options-wrapper {
        background: white;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
        display: flex;
        opacity: 0;
        -webkit-transition: all 200ms ease 200ms;
        -moz-transition: all 200ms ease 200ms;
        -o-transition: all 200ms ease 200ms;
        transition: all 200ms ease 200ms;
        visibility: hidden;

        &.pagebuilder-options-visible {
            opacity: 1;
            visibility: visible;
        }

        i {
            font-family: 'Admin Icons', sans-serif;
            font-size: 18px;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            speak: none;
            text-decoration: none;
        }

        .move-structural {
            cursor: move;
            display: inline-block;
            height: 38px;
            padding: 10px 8px;
            vertical-align: middle;
        }

        .pagebuilder-name {
            display: inline-block;
            font-size: 14px;
            height: 38px;
            padding: 10px 0 10px 10px;
            vertical-align: bottom;
        }

        ul.pagebuilder-options-links {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0 8px;
            vertical-align: middle;

            li.pagebuilder-options-link {
                vertical-align: top;

                .remove-structural {

                    &.disabled {
                        color: #808080;
                        cursor: not-allowed;

                        &:hover {
                            color: #808080
                        }
                    }
                }

                > a,
                > div.block-title {
                    color: @color-very-dark-grayish-orange;
                    display: block;
                    height: 38px;
                    padding: 10px 8px;
                    text-decoration: none;

                    &.block-title {
                        cursor: default;
                        font-size: 14px;
                        line-height: 18px;
                        text-decoration: none;
                    }

                    &:hover {
                        color: @color-very-dark-gray-black;
                    }
                }
            }
        }
    }
}

.pagebuilder-entity {
    &.pagebuilder-live-edit {
        .pagebuilder-options {
            top: 0;
        }
    }
}
