/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
.pagebuilder-structure {
    .pagebuilder-column-group {
        position: relative;
        width: 100%;
        box-sizing: border-box;

        .drop-placeholder {
            position: absolute;
            top: 1px;
            bottom: 1px;
            background: rgba(142, 0, 6, 0.3);
            z-index: 10001;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s opacity;

            &.left {
                opacity: 1;
                visibility: visible;
                border-left: 10px solid rgba(142, 0, 6, 0.1);
                transform: translateX(1px);
                transition: 0.5s opacity;
            }
            &.right {
                opacity: 1;
                visibility: visible;
                border-right: 10px solid rgba(142, 0, 6, 0.1);
                transform: translateX(1px);
                transition: 0.5s opacity;
            }
        }

        .move-placeholder {
            position: absolute;
            top: 1px;
            bottom: 1px;
            background: rgba(142, 0, 6, 0.3);
            z-index: 10001;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s opacity;
            transform: translateX(-3px);
            width: 6px;

            &.active {
                opacity: 1;
                visibility: visible;
                transition: 0.5s opacity;
            }
        }

        .resize-grid {
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
            z-index: 9;

            .grid-line {
                height: 100%;
                width: 16.66666667%;
                border-right: 15px solid rgba(238, 238, 238, 0.7);
                box-sizing: border-box;
            }
        }

        .resize-ghost {
            pointer-events: none;
            position: absolute;
            box-sizing: border-box;
            left: 0;
            top: 0;
            height: 100%;
            border-right: 15px solid #BFE2F0;
            z-index: 10;
            opacity: 0;
            visibility: hidden;
            transition: 0.5s opacity;

            &.active {
                opacity: 1;
                visibility: visible;
                transition: 0.5s opacity;
            }
        }

        &.resizing {
            .resize-grid {
                opacity: 1;
                visibility: visible;
                transition: 0.5s opacity;
            }

            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently
                                             supported by Chrome and Opera */
            * {
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
            }
        }

        >.element-children {
            padding: 0;
            display: flex;
            width: 100%;
            position: relative;
        }
    }
}

.pagebuilder-structure {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    .pagebuilder-empty {
        color: #AAA6A0;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 14px;
        width: 100%;
        text-align: center;
        height: 170px;
        padding-top: 130px;
        background: url('@{baseDir}Magento_PageBuilder/css/images/empty-row-prompt.svg') no-repeat center center;
        background-size: 505px 97px;
        z-index: 1;
        opacity: 0;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        &.pagebuilder-empty-slider {
            background: none;
        }

        &.visible {
            opacity: 1;
        }
    }

    &.pagebuilder-row {
        margin-bottom: 30px;
    }

    .element-children {
        min-height: 190px;
        font-size: 0;
        padding: 30px;
        position: relative;
        z-index: 10;
    }

    &:hover {
        box-sizing: border-box;
        z-index: 15;
        &.pagebuilder-column {
            > .pagebuilder-column-add {
                display: block;
            }
        }

        &.pagebuilder-entity {
            > *:not(.pagebuilder-options):not(.pagebuilder-no-blur *):not(.redactor-toolbar):not(img) {
                -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
                filter: blur(5px);
            }
        }

        > .pagebuilder-options {
            ul.pagebuilder-options-links {
                display: flex;
            }
        }
    }

    &.pagebuilder-column {
        .pagebuilder-column-resize-handle {
            width: 15px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0px;
            cursor: col-resize;
            z-index: 12;
            background: #BFE2F0;
            transition: 0.5s opacity;
            opacity: 0;

            &:hover {
                opacity: 0.3;
            }
        }
        .pagebuilder-resizing {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #BFE2F0;
            opacity: 0;
            visibility: hidden;
            z-index: 8;
            transition: 0.5s opacity;

            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently
                                             supported by Chrome and Opera */
            * {
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -khtml-user-select: none; /* Konqueror HTML */
                -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
            }

            &.active {
                transition: 0.5s opacity;
                opacity: 0.5;
                visibility: visible;
            }
        }
    }

    &.pagebuilder-entity {
        font-size: 0;
        &.pagebuilder-abstract {
            background: @entityColor;
            color: white;
            text-align: center;

            i {
                font-size: 24px;
            }

            h3 {
                margin: 6px 0 0 0;
                padding: 0;
            }

            * {
                color: white;
            }
        }

        &.pagebuilder-entity-preview {
            font-size: 14px;
        }

        &.pagebuilder-image {
            &.loading {
                img {
                    opacity: 0.5;
                }
            }

            .dz-message, .dz-preview {
                display: none;
            }

            &.dz-drag-hover {
                img, .pagebuilder-image-placeholder {
                    opacity: 0.6;
                    filter: blur(5px);
                    -webkit-filter: blur(5px);
                    -moz-filter: blur(5px);
                }
            }

            img {
                width: 100%;
            }

            .pagebuilder-image-placeholder {
                cursor: pointer;
                background: #f8f8f8;
                text-align: center;
                font-size: 12px;
                padding: 30px 0 16px 0;
                i {
                    font-size: 34px;
                    margin-bottom: 8px;
                }

                p {
                    padding: 0 20px;
                }
            }
        }

        .pagebuilder-loading {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        display: inline-block;
        width: 100%;

        .pagebuilder-id {
            background: @entityColor;
            bottom: 0;
            right: 0;
        }

        &.pagebuilder-live-edit {
            -user-select: all;
            -webkit-user-select: all; /* Chrome/Safari */
            -webkit-user-select: text; /* Safari only */
            -moz-user-select: all; /* Firefox */
            -ms-user-select: all; /* IE10+ */
            border: none;
        }
    }
}

.pagebuilder-entity-helper, .pagebuilder-structure-helper {
    padding: 12px 12px;
    display: block;
    color: @color-ivory;
    text-decoration: none;
    cursor: pointer;
    background: @color-very-dark-grayish-orange;
    white-space: nowrap;
    width: 130px;
    h3 {
        color: @color-ivory;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
}

.pagebuilder-placeholder-sortable {
    height: 1px;
    background: @color-phoenix-dark;
    width: calc(~'100% + 10px');
    margin-left: -5px;
    padding: 0;
    display: inline-block;
    border: none;
    position: relative;
    &:before, &:after {
        content: '';
        height: 10px;
        width: 10px;
        border-radius: 10px;
        background: @color-phoenix-dark;
        margin-top: -5px;
        z-index: 999;
        position: absolute;
    }

    &:before {
        float: left;
    }

    &:after {
        float: right;
        right: 0;
    }

    &.pagebuilder-structure-wrapper {
        position: relative;
        box-sizing: content-box;
        &-width-whole {
            width: 100% - 2;
        }

        &-width-half {
            width: 50% - 2;
        }

        &-width-third {
            width: 33.3% - 2;
        }

        &-width-quarter {
            width: 25% - 2;
        }

        &-width-sixth {
            width: 16.666666667% - 2;
        }

        &-width-two-thirds {
            width: 66.6% - 2;
        }

        &-width-three-quarters {
            width: 75% - 2;
        }

        &-width-five-sixths {
            width: 83.333333335% - 2;
        }
    }

    &.pagebuilder-placeholder-column {
        height: 90px;
        width: 12px;
        margin: 10px -6px;
        z-index: 500;
    }
}

.column-inline-wrapper {
    position: absolute;
    left: 0;
    top: calc(~'100% - 1px');
    width: 100%;
    text-align: left;
    padding: 0;
    height: auto;

    &.top {
        text-align: center;
    }

    &.right {
        text-align: right;
    }

    .pagebuilder-column-inline-add {
        display: inline-block;
        list-style: none;
        margin: 0;
        width: 140px;
        color: white;
        cursor: pointer;
        border-bottom: 1px solid #cccccc;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        li {
            a {
                display: block;
                width: 100%;
                text-align: left;
                color: @color-very-dark-grayish-orange;
                font-size: 14px;
                padding: 6px 10px;
                text-decoration: none;
                background: white;
                border: 1px solid #cccccc;
                border-bottom: none;
                &:hover {
                    background: @color-lighter-gray;
                    font-weight: bold;
                }
            }
        }
    }

}

.ui-draggable-dragging {
    &.pagebuilder-draggable-block {
        display: block;
        width: 150px;
        a {
            background: @panelColor;
            display: block;
            width: 100%;
            line-height: 44px;
            color: @iconColorHover;
            text-decoration: none;
            padding: 0 18px;
            cursor: pointer;
            min-width: 160px;
            i {
                margin-right: 6px;
            }
        }
    }
}

.pagebuilder-placeholder {
    &.pagebuilder-draggable-block {
        float: left;
        width: calc(~'100% + 10px');
        margin-left: -5px;
        display: block;
        a {
            height: 1px;
            background: @color-phoenix-dark;
            width: 100%;
            margin: 0;
            padding: 0;
            display: inline-block;
            border: none;
            position: relative;
            &:before, &:after {
                content: '';
                height: 10px;
                width: 10px;
                border-radius: 10px;
                background: @color-phoenix-dark;
                margin-top: -5px;
                z-index: 999;
                position: absolute;
            }

            &:before {
                float: left;
            }

            &:after {
                float: right;
                right: 0;
            }
        }
    }
}

.pagebuilder-empty {
    .pagebuilder-placeholder {
        &.pagebuilder-draggable-block {
            a {
                margin: 0
            }
        }
    }
}