// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.pagebuilder-content-type {
    &.pagebuilder-tab-item {
        min-height: inherit;

        &.empty-container {
            min-height: 220px;
        }

        > .element-children {
            min-height: inherit;
            padding: 0;
        }
    }
}
