// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.pagebuilder-content-type.pagebuilder-tabs .tabs-container {
    .tabs-navigation {
        display: block;
        font-size: 0;
        margin: -2px -2px 1px -2px;
        position: relative;
        z-index: 10;

        li {
            display: inline-block;
            position: relative;

            a {
                background: #f6f6f6;
                border: 1px solid rgba(153, 153, 153, .3);
                border-right: 0;
                color: @field-label__color;
                display: block;
                font-size: @field-label__font-size;
                font-weight: @font-weight__semibold;
                line-height: @field-label__line-height;
                padding: 1.4rem 2rem;
                vertical-align: middle;
                white-space: normal;
                transition: all .3s;

                span {
                    display: block;
                }

                &:hover {
                    text-decoration: none;
                }
            }
            &:last-child a {
                border-right: 1px solid rgba(153, 153, 153, .3);
            }

            &.ui-state-active  {
                a {
                    background: #fff;
                    border-bottom: 1px solid white;
                    transition: all .3s;
                }
            }
        }
    }

    .tabs-content {
        margin: -1px;
        position: relative;
        z-index: 9;

        .pagebuilder-content-type-wrapper.ui-tabs-panel {
            padding: 0;
        }
    }
}

.pagebuilder-content-type.pagebuilder-tab {
    min-height: inherit;

    &.empty-container {
        min-height: 300px;
    }

    > .element-children {
        min-height: inherit;
        padding: 0;
    }
}