// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.pagebuilder-content-type.pagebuilder-tabs .tabs-container {
    .tabs-navigation {
        display: block;
        font-size: 0;
        margin: -1px -1px 1px -0px;
        position: relative;
        z-index: 10;

        li.tab-header-li {
            display: inline-block;

            a.tab-header {
                background: #f6f6f6;
                border: 1px solid rgba(153, 153, 153, .3);
                border-right: 0;
                color: @field-label__color;
                cursor: pointer!important;
                display: block;
                font-size: @field-label__font-size;
                font-weight: @font-weight__semibold;
                line-height: @field-label__line-height;
                padding: 1.4rem 2rem;
                position: relative;
                transition: all .3s;
                vertical-align: middle;
                white-space: normal;

                span.tab-title {
                    display: block;

                    &:active,
                    &:focus {
                        cursor: text!important;
                    }
                }

                &:hover {
                    text-decoration: none;
                }
            }

            &:last-child a.tab-header {
                border-right: 1px solid rgba(153, 153, 153, .3);
            }

            &.ui-state-active  {
                a.tab-header {
                    background: #fff;
                    border-bottom: 2px solid white;
                    margin-bottom: -2px;
                    transition: all .3s;
                }
            }

            &.focused {
                .pagebuilder-options {
                    .pagebuilder-options-visible;
                }
            }
        }
    }

    .tabs-content {
        position: relative;
        z-index: 9;

        .pagebuilder-content-type-wrapper.ui-tabs-panel {
            padding: 0;
        }
    }
}

.pagebuilder-content-type.pagebuilder-tab {
    min-height: inherit;

    &.empty-container {
        min-height: 300px;
    }

    > .element-children {
        min-height: inherit;
        padding: 0;
    }
}