// /**
// * Copyright © Magento, Inc. All rights reserved.
// * See COPYING.txt for license details.
// */

.pagebuilder-button-primary {
    background-image: none;
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;

    &:hover,
    &:active {
        background: #006bb4;
        border-color: #006bb4;
        color: #fff;
    }

    &:visited,
    &:focus {
        background: #1979c3;
        border-color: #1979c3;
        color: #fff;
    }
}
