// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  _image contains {less} for Images
//  _____________________________________________

&.pagebuilder-image {
    border: 1px solid transparent;

    &:hover {
        border: 1px solid #cccccc;
    }

    div.pagebuilder-options {
        text-align: center;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 20;
        height: 40px;
        transform: translateY(-50%);
    }

    div.pagebuilder-image-empty-preview {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F8F8F8;

        span {
            color: #AAAAAA;
        }
    }

    figcaption {
        padding: 15px 0;
    }
}
