// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.pagebuilder-content-type.pagebuilder-slider {
    border: none;

    .slider-container {
        overflow: hidden;

        .slick-list,
        .slick-track,
        .slick-slide {
            min-height: inherit;
        }
    }

    .slider-empty {
        align-items: flex-end;
        color: #aaa6a0;
        display: flex;
        font-size: 20px;
        font-weight: lighter;
        height: 37%;
        justify-content: center;
        position: absolute;
        width: 96%;
    }

    .slider-controls {
        padding: 14px 0;
        text-align: center;

        .slider-navigation {
            display: inline-block;
            line-height: 33px;
            max-width: 50%;
            padding: 0 8px;
            position: relative;
            text-align: center;
            vertical-align: middle;

            .navigation-dot {
                display: inline-block;
                font-size: 12px;
                line-height: 33px;
                margin: 0 3px;
                text-align: center;
                vertical-align: top;
                width: 28px;

                .lib-tooltip(
                    @_tooltip-position: top,
                    @_tooltip-color: "#CCCCCC"
                );

                .tooltip-content {
                    background: #fffbbb;
                    border: 1px solid #afadac;
                    border-radius: 1px;
                    bottom: 110%;
                    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .3);
                    font-size: 14px;
                    left: 50%;
                    min-width: auto;
                    padding: .9rem 1.8rem;
                    position: absolute;
                    text-align: center;
                    transform: translateX(-50%);
                    white-space: nowrap;

                    &:before,
                    &:after {
                        border: .8rem solid transparent;
                        content: '';
                        display: block;
                        height: 0;
                        left: 50%;
                        margin-left: -.8rem;
                        position: absolute;
                        top: 100%;
                        width: 0;
                    }
                    &:before {
                        border-top-color: #afadac;
                        margin-top: 1px;
                        z-index: 3;
                    }
                    &:after {
                        border-top-color: #fffbbb;
                        z-index: 4;
                    }
                }

                a {
                    background: white;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    cursor: pointer;
                    display: inline-block;
                    height: 14px;
                    transition: .3s;
                    width: 14px;
                }

                .navigation-handle {
                    display: block;
                    margin-top: -2px;
                    opacity: 0;
                    transition: visibility .3s, opacity .3s;
                    visibility: hidden;

                    &:before {
                        .abs-icon;
                        color: @color-gray65;
                        content: @icon-gripper__content;
                        cursor: ew-resize;
                        display: block;
                        font-size: 2rem;
                        -webkit-font-smoothing: initial;
                        transform: rotate(90deg);
                    }
                }

                &.active {
                    a {
                        background: #373330;
                        border: none;
                    }
                }

                &:hover {
                    a {
                        border: 1px solid #b3b3b3;
                    }

                    &.active a {
                        background: #1c1918;
                        border: none;
                    }

                    .navigation-handle {
                        opacity: 1;
                        transition: visibility 0s, opacity .3s;
                        visibility: visible;
                    }
                }
            }
        }

        .add-slide {
            display: inline-block;
            opacity: 0;
            transition: all .3s;
            vertical-align: top;
            visibility: hidden;

            &:before {
                content: @icon-plus__content;
                font-family: @icons-admin__font-name;
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                padding-right: 5px;
                speak: none;
            }
        }
    }


    &:hover {
        .slider-controls {
            .add-slide {
                opacity: 1;
                transition: all .3s;
                visibility: visible;
            }
        }
    }

    &.children-min-height {
        .element-children {
            min-height: inherit;
            padding: 0;
        }
    }
}

@import './slick.less';

.slick-prev:before,
.slick-next:before {
    .abs-icon;
    color: #5b5b5b;
    font-size: 38px;
    opacity: 1;
}

.slick-prev {
    left: 1px;
    &:before {
        content: @icon-caret-left__content;
        padding-right: 5px;
    }
}

.slick-next {
    right: 1px;
    &:before {
        content: @icon-caret-right__content;
        padding-left: 5px;
    }
}

.slick-prev,
.slick-next {
    background: rgba(252, 252, 252, .4);
    border: none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0px;
    height: 60px;
    line-height: 0px;
    outline: none;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 60px;
    z-index: 101;

    &.slick-disabled {
        opacity: .2;
    }

    &:hover,
    &:focus {
        background: rgba(252, 252, 252, .8);
        &:before {
            color: #3d3d3d;
        }
        &.slick-disabled {
            background: rgba(252, 252, 252, .4);
        }
    }
}

.slick-track {
    display: flex;

    .slick-slide {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
    }
}
