/**
* Copyright © Magento, Inc. All rights reserved.
* See COPYING.txt for license details.
*/

.pagebuilder-content-type .pagebuilder-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    width: 100%;
    min-height: 300px;

    .pagebuilder-slide-container {
        height: 100%;

        .pagebuilder-content {
            color: white;
            display: inline-block;
            padding: 24px 20px;
            width: 30%;

            h3 {
                color: white;
                margin-bottom: 6px;
                margin-top: 6px;
            }

            .slider-content {
                line-height: 24px;
            }

            button {
                margin-top: 14px;
            }

            &.overlay-background {
                background: rgba(0, 0, 0, 0.3);
            }
        }
    }
}