/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

.pagebuilder-content-type .pagebuilder-slider {
    border: none;

    .slider-controls {
        padding: 14px 0;
        text-align: center;

        .slider-navigation {
            display: inline-block;
            text-align: center;
            line-height: 33px;
            padding: 0 8px;
            vertical-align: middle;

            .navigation-dot {
                display: inline-block;
                width: 14px;
                height: 14px;
                border: 1px solid #CCCCCC;
                border-radius: 10px;
                margin: 0 11px;
                cursor: pointer;
                background: transparent;
                transition: 0.3s;
                vertical-align: middle;

                &.active {
                    border: none;
                    background: #373330;
                }
                &:hover {
                    border: 1px solid #b3b3b3;

                    &.active {
                        border: none;
                        background: #1c1918;
                    }
                }
            }
        }

        .add-slide {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .slick-slider {
        .slick-slide {
            min-height: 50px;
        }
    }

    &.children-min-height {
        .element-children {
            padding: 0;
        }
    }
}

@import './slick';
@import './slick-theme';