// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

.pagebuilder-slide {
    background-color: #fafafa;

    .pagebuilder-options {
        left: 100%;
        transform: translate(-100%, 0px);
    }

    .pagebuilder-poster-overlay,
    .pagebuilder-collage-overlay {
        -webkit-transition: background-color 500ms ease;
        -moz-transition: background-color 500ms ease;
        -o-transition: background-color 500ms ease;
        transition: background-color 500ms ease;
    }

    .pagebuilder-poster-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pagebuilder-collage-overlay {
        padding: 35px 20px;
    }

    .pagebuilder-poster-content {
        text-align: center;
    }

    .pagebuilder-empty-slide {
        color: #aaa6a0;
        font-size: 20px;
        font-weight: lighter;
    }

    .pagebuilder-slide-button {
        cursor: default;
        margin-top: 20px;
        opacity: 1;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }
}
