/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * _slider contains {less} for Sliders and slider items
 */

.pagebuilder-advanced-slider {

    .add-slide-button {
        margin: 0 0 20px 15px;
    }

    .slick-slider {
        .slick-slide {
            min-height: 50px;
        }
    }
}

@import './slick';
@import './slick-theme';

.pagebuilder-slider {
    width: 100%;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 80px 0;

    .pagebuilder-content {
        display: inline-block;
        padding: 24px 20px;
        width: 30%;
        color: white;

        h3 {
            margin-top: 6px;
            margin-bottom: 6px;
            color: white;
        }

        .slider-content {
            line-height: 24px;
        }

        button {
            margin-top: 14px;
        }

        &.overlay-background {
            background: rgba(0, 0, 0, 0.3);
        }
    }
}

/* Advanced Slider */

.pagebuilder-advanced-slider-item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.pagebuilder-advanced-slider-content {
    margin: @margin*2;
    width: 40%;
    padding: @margin;
    box-sizing: border-box;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    h3, p, li {
        margin-bottom: @margin;
        color: white;
    }
}
