/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

.slick-loading .slick-list {
    background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

.slick-prev:before, .slick-next:before {
    .abs-icon;
    font-size: 38px;
    color: #5b5b5b;
    opacity: 1;
}

.slick-prev {
    left: 1px;
    &:before {
        content: @icon-caret-left__content;
    }
}

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 65px;
    width: 65px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: rgb(252, 252, 252, 0.5);
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 101;
    &:hover, &:focus {
        background: rgb(252, 252, 252, 0.65);
        &:before {
            color: #3d3d3d;
        }
    }
    &.slick-disabled:before {
        opacity: 0.5;
    }
}

.slick-next {
    right: 1px;
    &:before {
        content: @icon-caret-right__content;
    }
}