/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * _accordion contains {less} for accordions
 *
 */
.pagebuilder-accordion {
  .accordion-collapsible {
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    padding: 14px 8px;
    cursor: pointer;
    position: relative;

    >div {
      &:before {
        -webkit-font-smoothing: antialiased;
        font-family: 'Admin Icons';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        speak: none;
        content: '\e616';
        font-size: 1.6rem;
        position: absolute;
        right: 1.3rem;
        top: 1.75rem;
      }
    }
  }
  .accordion-content {
    padding: 8px;
    margin-bottom: 4px;
  }
}
