<div id="bluefoot-panel-wrapper" data-bind="css: {visible: isVisible(), collapsed: isCollapsed()}">
    <div id="bluefoot-panel">
        <div class="search-blocks">
            <label for="search-blocks-input"></label>
            <input type="text" id="search-blocks-input" name="search" data-bind="event: {keyup: search}" placeholder="Find items" />
        </div>
        <ul id="search-results" data-bind="visible: searching() && searchResults().length > 0, foreach: searchResults, draggable">
            <li data-bind="attr: {id: 'block-' + code }" class="bluefoot-draggable-block">
                <a href="javascript:void(0);" class="bluefoot-panel-block">
                    <span class="block-icon">
                        <i data-bind="attr: {class: icon}"></i>
                    </span>
                    <span data-bind="text: name"></span>
                </a>
            </li>
        </ul>
        <div class="search-results-empty" data-bind="visible: searching() && searchResults().length == 0">
            <div data-bind="text: $t('We couldn\'t locate any content blocks with your search query.');"></div>
        </div>
        <ul id="bluefoot-panel-groups" data-bind="visible: !searching(), foreach: groups">
            <li data-bind="attr: {id: 'group-' + code() }, event: { click: toggle }, css: { active: active }">
                <div class="group-title">
                    <h4 data-bind="text: name"></h4>
                </div>
                <div class="bluefoot-panel-groups-child" data-bind="css: { hidden: hidden }">
                    <div class="bluefoot-panel-groups-blocks-wrapper">
                        <ul class="bluefoot-panel-groups-blocks" data-bind="foreach: blocks, draggable">
                            <li data-bind="attr: {id: 'block-' + code() }" class="bluefoot-draggable-block">
                                <a href="javascript:void(0);" class="bluefoot-panel-block">
                                    <span class="block-icon">
                                        <i data-bind="attr: {class: icon}"></i>
                                    </span>
                                    <span data-bind="text: name"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <div class="panel-controls">
            <a href="#" data-bind="click: collapse" class="collapse">Collapse</a>
            <a href="#" data-bind="click: fullScreen, attr: {title: $t('Full Screen')}" class="full-screen"></a>
        </div>
    </div>
    <div class="expand" data-bind="visible: isCollapsed">
        <a href="#" data-bind="click: collapse"></a>
    </div>
</div>