<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="admin__field _required" data-bind="css: $data.additionalClasses, attr: {'data-index': index}, visible: visible" data-index="name">
    <!-- ko if: $data.label -->
    <label class="admin__field-label" data-bind="attr: {for: uid}, visible: $data.labelVisible">
        <span data-bind="attr: {'data-config-scope': $data.scopeLabel}, text: label"></span>
    </label>
    <!-- /ko -->
    <div class="admin__field-control">
        <!--<input class="admin__control-text" type="text" data-bind="-->
        <!--value: value,-->
        <!--valueUpdate: valueUpdate,-->
        <!--visible: false,-->
        <!--attr: {-->
        <!--name: inputName,-->
        <!--placeholder: placeholder,-->
        <!--id: uid-->
        <!--}">-->

        <div class="gene-pagebuilder-template-preview-field">
            <div data-role="spinner" data-bind="visible: noPreviewLoaded">
                <div class="spinner">
                    <span /><span /><span /><span />
                    <span /><span /><span /><span />
                </div>
            </div>

            <img data-bind="attr: {src: value}, visible: value" />
        </div>
    </div>
</div>
