<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div data-role="spinner" class="admin__data-grid-loading-mask" data-bind="visible: loading">
    <div class="spinner">
        <span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span>
    </div>
</div>

<ul data-bind="foreach: {data: templateData, as: 'item'}" class="gene-pagebuilder-template-grid">
    <li>
        <div data-bind="css: $parent.isSelected(item), click: function(obj, event) { $parent.selectTemplate(item); $parents[1].setTemplate(item); }" class="gene-pagebuilder-template-container">
            <img data-bind="attr: {src: item.preview}" class="gene-pagebuilder-template-preview" />
            <div data-bind="text: item.label" class="gene-pagebuilder-template-label"></div>
        </div>
    </li>
</ul>
