// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

[data-role='slide'] {
    box-sizing: border-box;
    overflow: hidden;

    [data-element='link'][href='javascript:void(0)'] {
        cursor: auto;
    }

    > a {
        color: inherit;
        text-decoration: inherit;

        &:hover {
            color: inherit;
            text-decoration: inherit;
        }
    }
}

.pagebuilder-slide-wrapper {
    border-radius: inherit;
    box-sizing: border-box;
    word-break: break-all;

    .pagebuilder-overlay {
        -moz-transition: background-color 500ms ease;
        -o-transition: background-color 500ms ease;
        -webkit-transition: background-color 500ms ease;
        border-radius: inherit;
        box-sizing: border-box;
        transition: background-color 500ms ease;

        &.pagebuilder-poster-overlay {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }

    .pagebuilder-slide-button {
        -moz-transition: opacity 500ms ease;
        -o-transition: opacity 500ms ease;
        -webkit-transition: opacity 500ms ease;
        margin-top: 20px;
        transition: opacity 500ms ease;
    }
}
