/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

//
//  Default appearance styles
//  _____________________________________________

[data-role='slide'] > a {
    color: inherit;
    text-decoration: inherit;

    &:hover {
        color: inherit;
        text-decoration: inherit;
    }
}

.pagebuilder-slide-wrapper {
    box-sizing: border-box;
    .pagebuilder-overlay {
        box-sizing: border-box;
        -webkit-transition: background-color 500ms ease;
        -moz-transition: background-color 500ms ease;
        -o-transition: background-color 500ms ease;
        transition: background-color 500ms ease;
        &.pagebuilder-poster-overlay {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }
    .pagebuilder-slide-button {
        margin-top: @margin;
        -webkit-transition: opacity 500ms ease;
        -moz-transition: opacity 500ms ease;
        -o-transition: opacity 500ms ease;
        transition: opacity 500ms ease;
    }
}
