// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Collage center appearance styles
//  _____________________________________________

.pagebuilder-slide.pagebuilder-collage-centered {
    .pagebuilder-collage-overlay {
        -moz-transition: background-color 500ms ease;
        -o-transition: background-color 500ms ease;
        -webkit-transition: background-color 500ms ease;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        transition: background-color 500ms ease;
    }
}
