/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

//
//  Default appearance styles
//  _____________________________________________

.pagebuilder-slide {
    background-color: @color-gray98;

    .pagebuilder-options {
        left: 100%;
        transform: translate(-100%, 0);
    }

    .pagebuilder-empty-slide {
        color: @color-gray65-lighten;
        font-size: 20px;
        font-weight: lighter;
    }

    .pagebuilder-slide-button {
        cursor: default;
        margin-top: @margin;
        opacity: 1;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }
}
