// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Default appearance styles
//  _____________________________________________

.pagebuilder-slide {
    background-color: @color-gray98;
    cursor: text;

    .pagebuilder-empty-slide {
        color: @color-gray65-lighten;
        font-size: 14px;
        font-weight: lighter;
    }

    .pagebuilder-slide-button {
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -webkit-transition: all 500ms ease;
        cursor: default;
        margin-top: @margin;
        opacity: 1;
        transition: all 500ms ease;
    }

    .wysiwyg-container {
        position: relative;

        ol {
            list-style: decimal;
            padding-left: @margin;
            li {
                margin: 0 0 @margin 0;
            }
        }
        .inline-wysiwyg {
            min-height: 50px;
        }
        .mce-tinymce-inline {
            left: -2px !important;
            min-height: 50px;
            padding: 5px !important;
            right: -2px;
            top: -1px !important;
        }
        .pagebuilder-empty-slide {
            left: 0;
            pointer-events: none;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
        }
        > .mce-edit-focus {
            ~ .pagebuilder-options,
            ~ .pagebuilder-empty-slide {
                display: none;
            }
        }
    }

    &.pagebuilder-toolbar-active {
        .inline-wysiwyg {
            box-shadow: 0 0 0 1px rgb(153, 153, 153);
        }
    }

    .inline-wysiwyg-textarea {
        border: 0;
        margin: 2px 0;
        min-height: 50px;
        width: 100%;
        padding: 5px;
        resize: none;

        &:focus {
            resize: vertical;
            box-shadow: 0 0 0 1px @color-gray80;
        }
    }
}
