// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Poster appearance styles
//  _____________________________________________

.pagebuilder-slide {
    .pagebuilder-poster-overlay {
        -moz-transition: background-color 500ms ease;
        -o-transition: background-color 500ms ease;
        -webkit-transition: background-color 500ms ease;
        align-items: center;
        display: flex;
        justify-content: center;
        transition: background-color 500ms ease;

        .wysiwyg-container {
            text-align: center;
            min-width: 50%;
        }
    }
}
