[data-role="modal"] {
    .action-pagebuilder-disable-cancel,
    .action-pagebuilder-disable-cancel:hover {
        color: #000;
    }

    .pagebuilder-modal-content-body li {
        list-style-position: inside;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
