// /**
//  * Copyright 2018 Adobe
//  * All Rights Reserved.
//  */

.modal-popup .modal-dnsa {
    padding: 2.4rem 0 0;

    .admin__control-checkbox + label {
        line-height: 1.6rem;

        &:before {
            margin-right: .8rem;
        }
    }
}
